<template>
    <div class="page">

        <div class="navbar momo-navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="" class="logo-momo link back ml-2">
                        <img src="https://static.mservice.io/img/logo-momo.png" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="title">Xác nhận thanh toán</div>
            </div>
        </div>



        <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
                <div class=" w-100">
                    <p class="row mb-0 ">

                        <button class="col button button-fill button-large color-pink sheet-open"
                            data-sheet=".dona-sheet-pass"> <img src="https://static.mservice.io/pwa/images/donation/lock-icon.svg" width="12"
                                class="mr-1 va-5" alt=""> Xác nhận </button>
                    </p>
                </div>

            </div>
        </div>

        <div class="page-content">



            <div class="block-title">NGUỒN TIỀN</div>


            <div class="block block-strong ">

                <div class="pron-row no-gutters align-items-center">
                    <div class="pron-col auto">
                        <div class="dona-momo-icon mr-4">
                            {{#js_if "this.MoneySource == 1"}}
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-inline svg" viewBox="0 0 29.29 27.32"
                                fill="#fff">
                                <g data-name="Layer 2">
                                    <g data-name="Layer 1">
                                        <path
                                            d="M22.94 12.68a6.34 6.34 0 1 0-6.35-6.34 6.34 6.34 0 0 0 6.35 6.34zm0-9.1a2.76 2.76 0 1 1-2.77 2.76 2.77 2.77 0 0 1 2.77-2.76zM10.57 0a5.1 5.1 0 0 0-2.88.89A5.1 5.1 0 0 0 4.81 0 4.65 4.65 0 0 0 0 4.46v8.22h3.86V4.46a.93.93 0 0 1 .95-.88.93.93 0 0 1 1 .84v8.22h3.82V4.46a1 1 0 0 1 1.26-.63 1 1 0 0 1 .64.63v8.22h3.86V4.46A4.65 4.65 0 0 0 10.57 0zM22.94 27.32A6.35 6.35 0 1 0 16.59 21a6.32 6.32 0 0 0 6.34 6.32zm0-9.1a2.75 2.75 0 1 1-.05 0zM10.57 14.64a5.1 5.1 0 0 0-2.88.89 5.1 5.1 0 0 0-2.88-.89A4.65 4.65 0 0 0 0 19.1v8.22h3.86V19.1a.93.93 0 0 1 .95-.88.93.93 0 0 1 1 .84v8.22h3.82V19.1a1 1 0 0 1 1.26-.63 1 1 0 0 1 .64.63v8.22h3.86V19.1a4.65 4.65 0 0 0-4.82-4.46z" />
                                    </g>
                                </g>
                            </svg>
                            {{else}}
                            <img src="https://static.mservice.io/pwa/images/donation/heoicon.jpg"
                                style="    margin-top: 8px;" width="38" alt="">
                            {{/js_if}}
                        </div>
                    </div>
                    <div class="pron-col">
                        {{#js_if "this.MoneySource == 1"}}
                        <div class="lutie-16 font-weight-normal mb-1">Ví MoMo</div>
                        <div class="opacity-5 lutie-12">{{FM_Number1 this.TotalMomoMoney}}đ</div>
                        {{else}}
                        <div class="lutie-16 font-weight-normal mb-1">Heo đất</div>
                        <div class="opacity-5 lutie-12">{{FM_Number1 this.TotalCashBackMoney}}đ</div>
                        {{/js_if}}
                    </div>
                </div>


            </div>





            <div class="block-title">Chi tiết giao dịch</div>

            <div class="list list-style1">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Tên chương trình</div>
                                <div class="item-after text-wrap text-right">{{this.Description}}</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Số tiền</div>
                                <div class="item-after">{{FM_Number1 this.TotalOrder}}đ</div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Phí giao dịch</div>
                                <div class="item-after"> Miễn phí</div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Tổng tiền</div>
                                <div class="item-after"> <strong>{{FM_Number1 this.TotalOrder}}đ</strong></div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>


            <div class="block">
                <div class="pron-row no-gutters">
                    <div class="pron-col auto">
                        <img src="https://static.mservice.io/pwa/images/donation/dv-image-seal.png" width="80" class="d-block mr-4" alt="">
                    </div>
                    <div class="pron-col">
                        <div class="lutie-12 opacity-5">
                            Bảo mật chuẩn SSL/TLS, mọi thông tin giao dịch đều được mã hoá an toàn.
                        </div>
                    </div>
                </div>
            </div>


        </div>




        <div class="sheet-modal sheet-pop-round dona-sheet-pass momo-pass-popup">


            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                    </div>
                    <div class="title">Nhập mật khẩu</div>
                    <div class="right">
                        <a href="#" class="link sheet-close ">
                            <i class="f7-icons opacity-5 ">close</i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="sheet-modal-inner">

                <div class="page-content">

                    <form>
                        <div class="block passcode-input d-none">
                            <input type="text" value="____" id="dona-numpad-inline">
                        </div>

                        <div class="momo-pass">

                            <div class="momo-pass-sym">
                                <div class="sym "></div>
                                <div class="sym"></div>
                                <div class="sym"></div>
                                <div class="sym"></div>
                                <div class="sym"></div>
                                <div class="sym"></div>
                            </div>

                            {{#js_if "this.FailCount>0"}}
                            <div class="momo-pass-error text-danger">
                                Giao dịch thất bại vì mật khẩu không chính xác. Vui lòng thử lại.<br>(Bạn còn
                                {{this.FailCountLeft}} lần thử)
                            </div>
                            {{/js_if}}

                            <!-- <input class="input input-pass" type="password" disabled placeholder="Xem tạm" /> -->
                        </div>




                        <div class="block block-strong no-padding no-margin passcode-numpad">
                            <div id="dona-inline-container"></div>
                        </div>
                    </form>

                </div>
            </div>


        </div>

    </div>

</template>

<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage } from '../../js/custom.js'
    import { Number1 } from '../../js/MoMoPwa.Helpers.Format.js';

    var self = null;
    var model = {
        FailCountMax: 3,
        FailCountLeft: 3,
        FailCount: 0,
        ErrorCode: ''
    };
    var numpadInline = null;
    var _isSubmiting = false;
    function getTransactionInfo(app, token, fnc) {
        var url = System.apihost + '/__get/Donation/GetTrans';
        var param = {
            token: token
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();

                if (res.ErrorCode === 'token_error') {
                    app.views.main.router.navigate({
                        name: '404',
                        params: { token: token }
                    });
                } else {
                    app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                }

                return;
            }

            res = res.Data;
            fnc(res);

        });
    }
    function momoPassSym(value) {
        var sym = Array.from(document.querySelectorAll(".momo-pass-sym .sym"));
        sym.forEach(item => item.classList.remove("is-active"));
        sym.forEach(function (item, index) {
            if (index <= value - 1) {
                item.classList.add("is-active");
            }
        });
    }
    function initKeyPad(app, token) {
        if (numpadInline)
            numpadInline.destroy();
        numpadInline = app.keypad.create({
            inputEl: "#dona-numpad-inline",
            containerEl: "#dona-inline-container",
            toolbar: false,
            valueMaxLength: 6,
            dotButton: false,
            formatValue: function (value) {
                value = value.toString();
                momoPassSym(value.length);
                return (
                    "******".substring(0, value.length) +
                    "______".substring(0, 6 - value.length)
                );
            },
            on: {
                change(keypad, value) {
                    value = value.toString();
                    if (value.length === 6) {
                        submitTrans(app, value, token);
                        //app.dialog.alert(
                        //    "Thank you! Your passcode is<br><b>" + value + "</b>",
                        //    function () {
                        //        // app.views.main.router.back();
                        //    }
                        //);
                    }
                }
            }
        });

        window.numpadInline1 = numpadInline;
    }
    function submitTrans(app, passCode, token) {
        if (_isSubmiting)
            return;
        _isSubmiting = true;
        app.preloader.show();
        var url = System.apihost + '/__post/Donation/SubmitTrans';
        var param = {
            token: token,
            passCode: passCode
        };
        app.request.post(url, param, (res) => {
            if (res.Result !== true) {
                _isSubmiting = false;
                app.preloader.hide();
                if (res.ErrorCode === 'donate_error_1014') {
                    model.ErrorCode = res.ErrorCode;
                    model.FailCountLeft = model.FailCountMax - res.Data.FailCount;
                    model.FailCount = res.Data.FailCount;
                    self.$setState(model);
                    numpadInline.setValue('');
                    if (model.FailCountLeft === 0) {
                        app.views.main.router.navigate({
                            name: 'donate-confirm-fail',
                            params: { token: token, status: 4 }
                        });
                        app.sheet.close('.dona-sheet-pass');
                        return;
                    }
                }
                else {
                    app.views.main.router.navigate({
                        name: 'donate-confirm-fail',
                        params: { token: token, status: 4 }
                    });
                    app.sheet.close('.dona-sheet-pass');
                    return;
                }
                return;
            }
            app.sheet.close('.dona-sheet-pass');
            app.preloader.hide();
            app.views.main.router.navigate({
                name: 'donate-confirm-success',
                params: { token: token, status: 3 }
            });

        }, (err) => { }, 'json');

    }
    export default {
        data: function () {
            return model;
        },
        //methods: {
        //    openAlert: function () {
        //        var self = this;
        //        self.$app.dialog.alert('Hello world!');
        //    }
        //},
        on: {
            pageInit: function (e, page) {
                self = this;
                var app = self.$app;

                app.preloader.show();
                var token = self.$route.params.token;
                getTransactionInfo(app, token, function (res) {
                    initKeyPad(app, token);
                    //model.FailCountLeft = model.FailCountMax - res.FailCount;
                    model.Description = res.Description;
                    //model.FailCount = res.FailCount;
                    model.Id = res.Id;
                    model.Token = res.Token;
                    model.TotalCashBackMoney = res.TotalCashBackMoney;
                    model.TotalMomoMoney = res.TotalMomoMoney;
                    model.MoneySource = res.MoneySource;
                    model.TotalOrder = res.TotalOrder;
                    self.$setState(model);
                    app.preloader.hide();

                });
            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
                $$('.dona-sheet-pass').on('sheet:close', function (e) {
                    model.FailCount = 0;
                    numpadInline.setValue('');
                    self.$setState(model);
                });
            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };

</script>