<template>
    <div class="page">



        <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
                <div class=" w-100">
                    <p class="row mb-0 ">
                        <a href="momo://?refId=TAB0"
                            class="external col button button-fill button-large color-pink ">Hoàn tất</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="page-content">

            <div class="dona-status ">
                <div class="container">
                    <div class="dona-status-icon">
                        <img src="https://static.mservice.io/pwa/images/donation/success.svg" width="55" class="img-fluid mx-auto d-block" alt="">
                    </div>

                    <div class="dona-status-content text-center">
                        <div class="lutie-16 mb-0">
                            Cảm ơn tấm lòng cao đẹp của bạn!
                        </div>
                    </div>
                </div>
            </div>

            <div class="block block-strong mt-0">

                <div class="text-justify">
                    <div class="lutie-16 mb-0 lh-reset">
                        <!--Bạn vừa đóng góp {{FM_Number1 this.TotalOrder}}đ. Cảm ơn bạn đã <b>Đồng lòng cùng UBTW Mặt Trận Tổ Quốc Việt Nam</b> & <b>Ví MoMo</b>.
    Toàn bộ số tiền sẽ gởi ủng hộ lực lượng trực tiếp tham gia chống dịch Covid-19.
    Cùng LAN TOẢ SỰ TỬ TẾ để những điều nhỏ bé sẽ trở nên VĨ ĐẠI.-->
                        CHÚC BẠN LUÔN SỐNG KHOẺ, SỐNG VUI để chúng tôi được tiếp tục làm nên điều kỳ diệu cùng bạn. Đừng
                        ngần ngại chia sẻ hình ảnh này đến bạn bè, để chương trình {{this.Description}}
                        hoàn thành nhanh hơn gấp 3 lần!
                    </div>
                </div>


            </div>



            <div class="list list-style1">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                {{#js_if "this.MoneySource == 1"}}
                                <div class="item-title">Ví MoMo</div>
                                <div class="item-after">{{FM_Number1 this.TotalMomoMoney}}đ</div>
                                {{else}}
                                <div class="item-title">Heo đất</div>
                                <div class="item-after">{{FM_Number1 this.TotalCashBackMoney}}đ</div>
                                {{/js_if}}
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Số tiền quyên góp</div>
                                <div class="item-after">{{FM_Number1 this.TotalOrder}}đ</div>
                            </div>
                        </div>
                    </li>
                    <!--<li>
                        <div class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">Mã giao dịch</div>
                                <div class="item-after"> <span class="color-cyan">{{this.AppTransactionId}}</span> </div>
                            </div>
                        </div>
                    </li>-->


                </ul>
            </div>


        </div>






    </div>
</template>
<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage,ProcessShareFacebook,ProcessAppShareFacebook } from '../../js/custom.js'

    var self = null;
    var model = {
        ErrorCode: ''
    };
    function getTransactionInfo(app, token, status, fnc) {
        var url = System.apihost + '/__get/Donation/GetTransStatus';
        var param = {
            token: token,
            status: status
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();

                if (res.ErrorCode === 'token_error') {
                    app.views.main.router.navigate({
                        name: '404',
                        params: { token: token }
                    });
                } else {
                    app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                }

                return;
            }

            res = res.Data;
            fnc(res);

        });
    };
    function BtnShare() {
        if (model.IsIos) {
            ProcessShareFacebook(model.ShareUrl.trim(), model.IsIos);
        }
        else {
            ProcessAppShareFacebook(model.ShareUrl.trim());
        }

    }
    export default {
        data: function () {
            return {

            };
        },
        methods: {
            OpenLink: function (url) {
                location.href = url;
            },
        },
        on: {
            pageInit: function (e, page) {
                self = this;
                var app = self.$app;

                if (app.device.ios)
                    model.IsIos = 1;

                app.preloader.show();
                var token = self.$route.params.token;
                var status = 3;// self.$route.params.status;
                getTransactionInfo(app, token, status, function (res) {
                    model.Description = res.Description;
                    model.FailCount = res.FailCount;
                    model.Id = res.Id;
                    model.Token = res.Token;
                    model.TotalCashBackMoney = res.TotalCashBackMoney;
                    model.ShareUrl = res.ShareUrl;
                    model.TotalOrder = res.TotalOrder;
                    model.TotalMomoMoney = res.TotalMomoMoney;
                    model.MoneySource = res.MoneySource;
                    model.AppTransactionId = res.AppTransactionId;
                    self.$setState(model);
                    app.preloader.hide();

                    if (res.DonationId != 111) {
                        var donationThanksInfo2 = '<div class="dona-thanks-info pb-4">' +

                            '        <div class="dona-thanks-col">' +
                            '          <div class="dona-thanks-val">' +
                            res.TotalSuccess +
                            '            <img src="https://static.mservice.io/pwa/images/donation/thanks-heart.svg" width="20" alt="">' +
                            '          </div>' +
                            '          <div class="dona-thanks-la">' +
                            '            Lượt quyên góp' +
                            '          </div>' +
                            '        </div>' +
                            '      </div>';

                        var dialog = app.dialog.create({
                            title: '',
                            closeByBackdropClick: true,
                            text: '',
                            content: '<div class="pron-popup">' +
                                ' <div class="pron-popup-close" ><img src="https://static.mservice.io/pwa/images/donation/popup-close.svg"/></div> ' +
                                '   <div class="pron-popup-image" style="position: relative;">' +
                                '     <img src="' + res.Avatar + '" class="img-fluid">' +
                                '     <div style="background-image: url(https://static.mservice.io/pwa/images/tim.png);position: absolute;width: 100%;height: 100%;bottom: 0;left: 0;background-size: 100% auto;background-repeat: no-repeat;background-position: center bottom;"></div>' +
                                '   </div>' +
                                '  <div class="pron-popup-content text-center">' +
                                '     <h3 class="mt-0 mb-2 lutie-18 " >Cảm ơn ' + res.UserName + ' </h3> ' +
                                '     <div >Điều kỳ diệu này sẽ không thành hiện thực nếu thiếu đi sự giúp sức của bạn. Hãy tiếp tục đồng hành cùng nhau trên hành trình lan toả yêu thương nhé!</div> '
                                + donationThanksInfo2 +
                                '   </div>' +
                                '</div>',
                            cssClass: "pron-popup-container",
                            on: {
                                open: function (d) {
                                    console.log("OPEN");

                                    d.$el.find(".pron-popup-close").on('click', function (e) {
                                        app.dialog.close();
                                    });
                                }
                            }
                        }).open();
                    }
                    else {
                        var btnShare = '  <div class="px-2 text-center">' +
                            '   <div class="py-2"> ' +
                            '       <a href="javascript:void(0);" id="BtnSharePopup" class="button button-fill color-pink py-1 h-auto">CHIA SẺ NGAY</a>' +
                            '   </div>' +
                            '   </div>';

                        if (model.ShareUrl == null) {
                            btnShare = "";
                        }
                        var dialog = app.dialog.create({
                            title: '',
                            closeByBackdropClick: true,
                            text: '',
                            content: '<div class="pron-popup">' +
                                ' <div class="pron-popup-close" ><img src="https://static.mservice.io/pwa/images/donation/bigclose.png" width="38" /></div> ' +
                                '   <div class="pron-popup-image">' +
                                '     <img src="https://static.mservice.io/pwa/images/donation/tien.jpg" class="img-fluid">' +
                                '   </div>' +
                                btnShare +
                                '</div>',
                            cssClass: "pron-popup-container",
                            on: {
                                open: function (d) {
                                    console.log("OPEN");
                                    d.$el.find(".pron-popup-close").on('click', function (e) {
                                        app.dialog.close();
                                    });

                                    d.$el.find("#BtnSharePopup").on('click', function (e) {
                                        BtnShare();
                                    });
                                }
                            }
                        }).open();
                    }
                });

            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };
</script>