<template>
    <div class="page">



        <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
                <div class=" w-100">
                    <p class="row mb-0 ">

                        <a href="momo://?refId=TAB0"
                            class="external col button button-fill button-large color-pink ">Đóng</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="page-content">

            <div class="dona-status ">
                <div class="container">
                    <div class="dona-status-icon">
                        <img src="https://static.mservice.io/pwa/images/donation/warning.svg" width="55" class="img-fluid mx-auto d-block" alt="">
                    </div>

                    <div class="dona-status-content text-center">
                        <div class="lutie-16 mb-0">
                            Giao dịch không thành công !
                        </div>
                    </div>
                </div>
            </div>

            <div class="block block-strong mt-0">

                <div class="text-center">
                    <div class="lutie-16 mb-0 lh-reset">
                        {{this.Description}}
                    </div>
                </div>


            </div>



            <div class="list list-style1">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                {{#js_if "this.MoneySource == 1"}}
                                <div class="item-title">Ví MoMo</div>
                                <div class="item-after">{{FM_Number1 this.TotalMomoMoney}}đ</div>
                                {{else}}
                                <div class="item-title">Heo đất</div>
                                <div class="item-after">{{FM_Number1 this.TotalCashBackMoney}}đ</div>
                                {{/js_if}}
                            </div>
                        </div>
                    </li>
                    <!--<li>
                        <div class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">Mã giao dịch</div>
                                <div class="item-after"> <span class="text-danger">{{this.AppTransactionId}}</span> </div>
                            </div>
                        </div>
                    </li>-->


                </ul>
            </div>


        </div>






    </div>
</template>


<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage } from '../../js/custom.js'


    var self = null;
    var model = {
        ErrorCode: ''
    };
    function getTransactionInfo(app, token, status, fnc) {
        var url = System.apihost + '/__get/Donation/GetTransStatus';
        var param = {
            token: token,
            status: status
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();

                if (res.ErrorCode === 'token_error') {
                    app.views.main.router.navigate({
                        name: '404',
                        params: { token: token }
                    });
                } else {
                    app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                }

                return;
            }

            res = res.Data;
            fnc(res);

        });
    }
    export default {
        data: function () {
            return {

            };
        },
        methods: {
            OpenLink: function (url) {
                location.href = url;
            }
        },
        on: {
            pageInit: function (e, page) {
                self = this;
                var app = self.$app;

                app.preloader.show();
                var token = self.$route.params.token;
                var status = 4;//self.$route.params.status;
                getTransactionInfo(app, token, status, function (res) {
                    model.Description = res.Description;
                    model.FailCount = res.FailCount;
                    model.Id = res.Id;
                    model.Token = res.Token;
                    model.TotalCashBackMoney = res.TotalCashBackMoney;
                    model.TotalOrder = res.TotalOrder;
                    model.AppTransactionId = res.AppTransactionId;
                    model.TotalMomoMoney = res.TotalMomoMoney;
                    model.MoneySource = res.MoneySource;
                    self.$setState(model);
                    app.preloader.hide();

                });

            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };
</script>