<template>
    <div class="page">
        {{#js_if "(!this.DonationItem.IsEndCampaign && !(this.DonationItem.ExpectedValue != null && this.DonationItem.TotalOrder >= this.DonationItem.ExpectedValue)) || !this.IsFromNoti"}}
        <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
                <div class=" w-100">
                    <p class="row mb-0 ">
                        {{#js_if "!this.IsFromNoti"}}
                        <a class="col button button-fill button-large color-gray link back">Quay lại</a>
                        {{/js_if}}
                        {{#js_if "!this.DonationItem.IsEndCampaign && !(this.DonationItem.ExpectedValue != null && this.DonationItem.TotalOrder >= this.DonationItem.ExpectedValue)"}}
                        <button class="col button button-fill button-large color-pink" id="btnDonation"
                            @click="DonationClick">Quyên góp</button>
                        {{/js_if}}
                    </p>
                </div>

            </div>
        </div>
        {{/js_if}}

        <div class="page-content">
            <!--<div class="navbar">
                <div class="navbar-inner sliding">
                    <div class="left">
                        <a class="link back">
                            <i class="icon icon-back"></i>
                            <span class="if-not-md">Quay lại</span>
                        </a>
                    </div>
                    <div class="title">{{DonationItem.Title}}</div>
                </div>
            </div>-->

            <div class="embed-responsive embed-responsive-apd ">
                <div class="embed-responsive-img">
                    {{#js_if "this.DonationItem.ShareUrl"}}
                    <div class="dona-share">
                        <button
                            class="col button button-fill button-round-ios color-white text-color-pink sheet-open font-weight-bold "
                            data-sheet=".dona-sheet-share">
                            Chia sẻ <i class="f7-icons lutie-14">arrowshape_turn_up_right_fill</i>
                        </button>
                    </div>
                    {{/js_if}}
                    <img data-src="{{DonationItem.Avatar}}" class="img-fluid  lazyloaded" alt="{{DonationItem.Title}}"
                        src="{{DonationItem.Avatar}}">
                </div>
            </div>
            <div class="card dona-hero ">

                <div class="card-content card-content-padding">
                    <div class="pron-row no-gutters align-items-center">
                        <div class="pron-col auto">
                            <div class="izlu-avatar dona-avatar">
                                <img src="{{DonationItem.Logo}}" class="img-fluid mx-auto" alt="{{DonationItem.Title}}">
                            </div>
                        </div>
                        <div class="pron-col">

                            <h3 class="mt-0 mb-0 lutie-card-heading">{{DonationItem.Title}}</h3>
                            <div class="lutie-card-subheading mb-0">{{DonationItem.Short}}</div>
                        </div>

                    </div>

                </div>

            </div>


            <div class="card ">



                <div class="card-content card-content-padding">


                    <div class="dona-content">
                        <div class="dona-text">
                            Đã quyên góp được
                            <strong>
                                {{DonationItem.TotalMoney}}đ
                            </strong>
                            {{#js_if "this.DonationItem.ExpectedValue > 0"}}
                            / {{DonationItem.ExpectedValueFormat}}đ
                            {{/js_if}}
                        </div>
                        <div class="dona-process">
                            <div class="progressbar {{js "this.DonationItem.TotalOrder >= this.DonationItem.ExpectedValue ? 'color-green' : this.DonationItem.IsEndCampaign ? 'color-gray' : 'color-pink'"}}"
                                data-progress="{{DonationItem.FinishPercent}}">
                                <span></span>
                            </div>
                        </div>
                        <div class="dona-meta">
                            <div class="pron-row no-gutters align-items-center justify-content-between flex-nowrap">
                                <div class="pron-col auto">

                                    <div class="mr-3">
                                        <div class="lutie-12">Lượt quyên góp</div>
                                        <div class="font-weight-bold">{{DonationItem.TotalTrans}}</div>
                                    </div>

                                </div>
                                <div class="pron-col auto">
                                    <div class="mr-3">
                                        <div class="lutie-12">Đạt được</div>
                                        <div class="font-weight-bold">{{DonationItem.FinishPercent}}%</div>
                                    </div>
                                </div>


                                <div class="pron-col auto ">
                                    {{#js_if "this.DonationItem.ExpectedValue != null && this.DonationItem.TotalOrder >= this.DonationItem.ExpectedValue"}}
                                    <div class="pron-col auto ">
                                        <div class="text-color-green font-weight-bold font-12">
                                            Đã đạt mục tiêu
                                        </div>
                                    </div>
                                    {{else}}
                                    {{#js_if "this.DonationItem.IsEndCampaign"}}
                                    <div class="pron-col auto ">
                                        <div class="text-color-gray font-weight-bold font-12">
                                            Đã hết thời hạn
                                        </div>
                                    </div>
                                    {{else}}
                                    <div class="mr-3">
                                        <div class="lutie-12">Thời hạn còn</div>
                                        <div class="font-weight-bold">{{DonationItem.TimeToEndDate}}</div>
                                    </div>
                                    {{/js_if}}

                                    {{/js_if}}

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="pron-section border-top mt-4 pt-4">
                        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-3">
                            Thông tin
                        </h4>
                        <div class="pron-section-content lutie-section-content text-align-justify">
                            <div class="lutie-section-less">
                                {{DonationItem.Content}}
                            </div>
                            <div class="py-3">
                                <a href="#" class="col button button-outline border-lightgray popup-open"
                                    data-popup=".cbs-present-more">
                                    Xem chi tiết
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="pron-section border-top mt-4 pt-4">
                        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-3">
                            Hình ảnh
                        </h4>
                        <div class="pron-section-content lutie-section-content ">

                            <div class="pron-container izlu-gallery js-donation-gallery">
                                <div class="pron-row">

                                    {{#each ListImage}}
                                    <div class="pron-col" data-thumb="{{js "@index + 1"}}">
                                        <div class="izlu-gallery-item">
                                            <div class="embed-responsive embed-responsive-1by1 ">

                                                <img src="{{this.AvatarUrl}}"
                                                    class="embed-responsive-img img-object-cover rounded"
                                                    alt="{{this.Description}}">
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                        </div>

                    </div>


                </div>

            </div>
            {{#js_if "this.DonationRankUser.length > 0"}}
            <div class="card">
                <div class="card-content card-content-padding">
                    <div class="pron-section ">
                        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-0">
                            Những nhà hảo tâm hàng đầu
                        </h4>

                        <div class="campaign-people">

                            <div class="campaign-people-list">



                                {{#each DonationRankUser}}
                                <div class="campaign-people-item">
                                    <div class="campaign-people-avatar {{js "(@index + 1) < 4 ? 'is-image' : ''"}}">
                                        {{#js_if "(@index + 1) < 4"}}
                                        <img src="https://static.mservice.io/pwa/images/donation/v{{js "@index + 1"}}.svg"
                                            width="28" alt="">
                                        {{else}}
                                        {{js "@index + 1"}}
                                        {{/js_if}}
                                    </div>

                                    <div class="campaign-people-info">
                                        <div class="campaign-people-name">
                                            {{this.cusName}}
                                        </div>
                                        <div class="campaign-people-phone">
                                            {{this.phoneNumber}}
                                        </div>
                                    </div>

                                    <div class="campaign-people-money">
                                        {{FM_Number1 this.amount}}đ
                                    </div>
                                </div>
                                {{/each}}
                            </div>

                        </div>
                        {{#if isLoadingDonationRankUser}}
                        <div class="mt-0 campaign-people-more">
                            <div class="text-center">
                                <div class="preloader"></div>
                            </div>
                        </div>
                        {{/if}}
                        {{#js_if "this.ItemPerPageRank <= this.DonationRankUser.length && this.DonationRankUser.length < this.TotalDonationRankUser"}}
                        <div class="mt-0">
                            <button class="button col" @click="LoadMoreDonationRankUser()">
                                Xem thêm
                                <i class="f7-icons lutie-12">chevron_down</i>
                            </button>
                        </div>
                        {{/js_if}}
                    </div>
                </div>
            </div>
            {{/js_if}}

            {{#js_if "this.DonationUser.length > 0"}}
            <div class="card">
                <div class="card-content card-content-padding">


                    <div class="pron-section ">
                        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-0">
                            Danh sách nhà hảo tâm
                        </h4>
                        <div class="text-gray mb-1 font-12 font-italic">Danh sách được cập nhật sau 1 phút</div>
                        <div class="campaign-people">
                            <div class="campaign-people-list">
                                {{#each DonationUser}}
                                <div class="campaign-people-item">
                                    <div class="px-2">
                                        &nbsp;
                                    </div>
                                    <div class="campaign-people-info">
                                        <div class="campaign-people-name">
                                            {{this.cusName}}
                                        </div>
                                        <div class="campaign-people-phone">
                                            {{this.phoneNumber}}
                                        </div>
                                    </div>

                                    <div class="campaign-people-money">
                                        {{FM_Number1 this.amount}}đ
                                    </div>
                                </div>
                                {{/each}}


                            </div>



                        </div>
                        <!--<div class="list media-list apd-people my-0">
                            <ul>
                                {{#each DonationUser}}
                                <li>
                                    <div class="item-content apd-people-item">
                                        <div class="item-inner  ">
                                            <div class="item-title-row align-items-center">
                                                <div class="apd-people-left">
                                                    <div class="name">
                                                        {{this.cusName}}
                                                    </div>
                                                    <div class="phone">
                                                        {{this.phoneNumber}}
                                                    </div>
                                                </div>
                                                <div class="apd-people-after">
                                                    <div class="money">{{FM_Number1 this.amount}}đ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>-->
                        {{#if isLoadingDonationUser}}
                        <div class="mt-0 campaign-people-more">
                            <div class="text-center">
                                <div class="preloader"></div>
                            </div>
                        </div>
                        {{/if}}
                        {{#js_if "this.ItemPerPage <= this.DonationUser.length && this.DonationUser.length < this.TotalDonationUser"}}
                        <div class="mt-0">
                            <button class="button col" @click="LoadMoreDonationUser()">
                                Xem thêm
                                <i class="f7-icons lutie-12">chevron_down</i>
                            </button>
                        </div>
                        {{/js_if}}
                    </div>

                </div>
            </div>
            {{/js_if}}




        </div>

        <div class="popup demo-popup-swipe-handler cbs-present-more">
            <div class="page">
                <div class="swipe-handler popup-close"></div>
                <div class="page-content">
                    <div class="block mt-4">

                        <div class="dona-post ">
                            {{DonationItem.Content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-modal sheet-pop-round dona-sheet-money">


            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                    </div>
                    <div class="title">{{DonationItem.Title}}</div>
                    <div class="right">
                        <a href="#" class="link sheet-close ">
                            <i class="f7-icons opacity-5 ">close</i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="toolbar toolbar-bottom toolbar-large">
                <div class="toolbar-inner">
                    <div class=" w-100">
                        <p class="row mb-0 ">
                            <button class="col button button-fill button-large color-gray sheet-close  ">Quay
                                lại</button>

                            <a href="javascript:void(0)" @click="SubmitTrans"
                                class="col button button-fill  sheet-close button-large color-pink">
                                Quyên
                                góp
                            </a>
                        </p>
                    </div>

                </div>
            </div>


            <div class="sheet-modal-inner">

                {{#if DonationModel}}
                <div class="page-content">
                    <form class="pron-container balance py-2" id="frm-donation">
                        <!--<div class="lutie-15">
                            Số dư Heo đất MoMo : <strong>{{FM_Number1 DonationModel.totalCashBackMoney}}đ</strong>
                        </div>-->
                        <div class="lutie-11 mb-2 font-weight-bold">
                            CHỌN NGUỒN TIỀN
                        </div>

                        <div class="apd-source">

                            <div class="apd-source-item ">

                                <input type="radio" name="cbMoneySource" value="1" id="apd-source-1"
                                    @click="MoneySourceChange(1)" checked>

                                <label for="apd-source-1" class="apd-source-label">
                                    <div class="apd-source-icon">
                                        <img src="https://static.mservice.io/pwa/images/donation/logo-momo1.svg"
                                            width="36" alt="">
                                    </div>

                                    <div class="font-weight-bold lutie-14">
                                        Ví MoMo
                                    </div>
                                    <div class="lutie-12 text-gray">
                                        {{FM_Number1 DonationModel.totalMoMoMoney}}đ
                                    </div>
                                </label>

                            </div>

                            <div class="apd-source-item ">

                                <input type="radio" name="cbMoneySource" value="6" id="apd-source-2"
                                    @click="MoneySourceChange(6)">

                                <label for="apd-source-2" class="apd-source-label">
                                    <div class="apd-source-icon">
                                        <img src="https://static.mservice.io/pwa/images/donation/heoicon.jpg" width="38"
                                            alt="">
                                    </div>

                                    <div class="font-weight-bold lutie-14 ">
                                        Heo đất
                                    </div>
                                    <div class="lutie-12 text-gray">
                                        {{FM_Number1 DonationModel.totalCashBackMoney}}đ
                                    </div>
                                </label>

                            </div>



                        </div>



                        <div class="list no-hairlines-md mt-3 mb-0 list-form list-form-outline ">
                            <ul>
                                <li class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="list-outline-label text-uppercase ">
                                            {{js "this.DonationModel.TotalMoneyFormat.length > 0 ? 'Số tiền quyên góp' : 'Nhập số tiền muốn quyên góp'"}}
                                        </div>
                                        <div class="item-input-wrap have-lab mt-1">
                                            <input {{#js_if "this.IsIos == 0"}} inputmode="numeric" {{/js_if}}
                                                type="text" name="TotalMoneyFormat" pattern="[0-9]*" autocomplete="off"
                                                id="donation-money" value="{{DonationModel.TotalMoneyFormat}}">
                                            <div id="TotalMoneyError" class="item-input-error-message pl-0 mt-2"
                                                style="display:none;">Số tiền tối thiểu là 1.000 đ</div>
                                            <span class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                        {{#if "ListSuggestions.length > 0"}}

                        <div class="apd-payment  mt-2 hide-scrollbar">

                            {{#each ListSuggestions}}
                            <div class="apd-payment-item">
                                <input class="apd-payment-check" type="radio" id="dnsg{{this}}" name="payDonation"
                                    value="{{this}}" @click="SuggesionChange({{this}})">

                                <label for="dnsg{{this}}" class="apd-payment-label">
                                    <span class="apd-payment-mo">{{FM_Number1 this}}₫</span>
                                </label>
                            </div>
                            {{/each}}

                        </div>
                        {{/if}}


                        <div class="list no-hairlines-md list-form list-form-outline mt-3 mb-2 ">
                            <ul>
                                <li class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="list-outline-label text-uppercase ">
                                            Lời nhắn
                                            {{#js_if "this.DonationModel.Message.length > 0"}}
                                            ({{DonationModel.Message.length}}/70)
                                            {{/js_if}}
                                        </div>
                                        <div class="item-input-wrap mt-1">
                                            <textarea name="Message" id="donation-content" maxlength="70"
                                                class="resizable" placeholder="Nhập lời nhắn"
                                                value="{{DonationModel.Message}}"></textarea>
                                            <!--<input multiple type="text" name="Message" maxlength="70" autocomplete="off" id="donation-content" value="{{DonationModel.Message}}">-->
                                            <span class="input-clear-button" style="top:50%;right:10px;"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--{{#if "ListSuggestionsText.length > 0"}}

                        <div class="apd-payment apd-payment-message mb-3 mt-1 hide-scrollbar">

                            {{#each ListSuggestionsText}}
                            <div class="apd-payment-item">
                                <input class="apd-payment-check" type="radio" id="dnsgtext{{@index}}" name="payDonationText"
                                       value="{{@index}}" @click="SuggesionTextChange('{{this}}')">

                                <label for="dnsgtext{{@index}}" class="apd-payment-label">
                                    <span class="apd-payment-mo">{{this}}</span>
                                </label>
                            </div>
                            {{/each}}

                        </div>
                        {{/if}}-->


                    </form>

                </div>
                {{/if}}
            </div>




        </div>


        <div class="sheet-modal sheet-pop-round dona-sheet-share">


            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                    </div>
                    <div class="title">Chia sẻ</div>
                    <div class="right">
                        <a href="#" class="link sheet-close ">
                            <i class="f7-icons opacity-5 ">close</i>
                        </a>
                    </div>
                </div>
            </div>



            <div class="sheet-modal-inner">


                <div class="page-content">


                    <div class="list my-0 no-hairlines dona-share-list">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" @click="CopyShareUrl"
                                    class="item-link item-content open-toast-copy">
                                    <div class="item-media"><i class="f7-icons text-color-gray">link</i></div>
                                    <div class="item-inner">
                                        <div class="item-title">Sao chép liên kết</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" @click="ButtonShareClick" class="item-link item-content">
                                    <div class="item-media"><i class="f7-icons " style="color:#385898">logo_facebook</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">Chia sẻ qua Facebook</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" @click="ButtonShareOtherAppClick"
                                    class="item-link item-content">
                                    <div class="item-media">
                                        <img src="https://static.mservice.io/pwa/images/social/share.svg" width="34"
                                            alt="">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">Chia sẻ khác</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>




                </div>
            </div>




        </div>
    </div>

    <style>
        .list-form-outline .item-inner input:focus {
            border: solid 0.5px #ae2070;
        }
    </style>
</template>

<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage,ProcessAppShareFacebook,ProcessAppShareOther } from '../../js/custom.js'
    import {Number1} from '../../js/MoMoPwa.Helpers.Format.js';

    var isLoadingDonationUser = false;
    var isLoadingDonationRankUser = false;

    var DetailItemModel = {
        DonationItem: {},
        ListImage: [],
        DonationUser: [],
        DonationRankUser: [],
        TotalDonationUser: 0,
        TotalDonationRankUser: 50,
        Page: 0,
        PageRank: 0,
        ItemPerPage: 10,
        ItemPerPageRank: 5,
        IsIos: 0,
        IsFromNoti: false,
        DonationModel: {
            Message: '',
            TotalMoneyFormat: ''
        },
        ListSuggestions: [],
        ListSuggestionsText: ["Cảm ơn những lá chắn vững vàng!", "Vững tâm nhé các Chiến sĩ áo trắng.", "Chúng tôi sẽ ở nhà!", "Chúng ta sẽ thành công!"]
    }

    function GetDonationDetail(app, slug, fnc) {
        var url = System.apihost + '/__get/Donation/GetDonationDetailV2';
        var param = {
            slug: slug,
            type: 1
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function ListDonationDetailAlbum(app, id, fnc) {
        var url = System.apihost + '/__get/Donation/ListDonationDetailAlbum';
        var param = {
            id: id
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function ListDonationUser(app, donationId, fnc) {
        var url = System.apihost + '/__get/Donation/ListDonationUser';
        var param = {
            donationId: donationId,
            page: DetailItemModel.Page,
            itemPerPage: DetailItemModel.ItemPerPage
        };

        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function LoadDonationUserPaging(self, app) {
        isLoadingDonationUser = true;
        ListDonationUser(app, DetailItemModel.DonationItem.Id, function (res) {
            DetailItemModel.TotalDonationUser = res.TotalItems;

            DetailItemModel.DonationUser = DetailItemModel.DonationUser.concat(res.Items);
            self.$setState(DetailItemModel);
            isLoadingDonationUser = false;
        });
    };
    function ListDonationRankUser(app, fnc) {
        var url = System.apihost + '/__get/Donation/ListDonationRankUserV2';
        var param = {
            userPhone: System.userInfo.phone,
            appServiceId: DetailItemModel.DonationItem.AppServiceId,
            type: DetailItemModel.DonationItem.Type,
            page: DetailItemModel.PageRank,
            itemPerPage: DetailItemModel.ItemPerPageRank
        };

        app.request.json(url, param, (res) => {
            if (!res.Result) {
                //app.preloader.hide();
                //app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function LoadDonationRankUserPaging(self, app) {
        isLoadingDonationRankUser = true;
        ListDonationRankUser(app, function (res) {
            DetailItemModel.TotalDonationRankUser = res.TotalItems;
            DetailItemModel.DonationRankUser = DetailItemModel.DonationRankUser.concat(res.Items);
            self.$setState(DetailItemModel);
            isLoadingDonationRankUser = false;
        });
    };

    function CreateTrans(app, param, fnc) {
        var url = System.apihost + '/__post/Donation/CreateTransV2';

        app.request.post(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                if (res.ErrorCode == "session_error") {
                    app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode], ApiResponseErrorCodeMessage[res.ErrorCode + '_content'], function () {
                        location.href = 'momo://?refId=Cashback';
                    });
                    return;
                }
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        }, (err) => { }, 'json');
    };

    function ListCashBackInfoUser(app, fnc) {
        var url = System.apihost + '/__get/Donation/ListCashBackInfoUserV2';
        var param = {
            userPhone: System.userInfo.phone
        };
        app.request.json(url,param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function DonationSuggestions(total, src) {
        DetailItemModel.ListSuggestions = [];

        if (src == 1) {
            if (total > 20000) {
                DetailItemModel.ListSuggestions.push(20000);
            }
            if (total > 50000) {
                DetailItemModel.ListSuggestions.push(50000);
            }
            if (total > 100000) {
                DetailItemModel.ListSuggestions.push(100000);
            }
            if (total > 200000) {
                DetailItemModel.ListSuggestions.push(200000);
            }
            if (total > 500000) {
                DetailItemModel.ListSuggestions.push(500000);
            }
        }
        else if (total > 1000) {
            var totalTemp = 0;
            DetailItemModel.ListSuggestions.push(total);
            totalTemp = Math.ceil((total / 2) / 1000) * 1000;

            if (totalTemp > 1000) {
                DetailItemModel.ListSuggestions.push(totalTemp);
                totalTemp = Math.ceil((total / 4) / 1000) * 1000;
            }
            if (totalTemp > 1000) {
                DetailItemModel.ListSuggestions.push(totalTemp);
                totalTemp = Math.ceil((total / 8) / 1000) * 1000;
            }
            if (totalTemp > 1000) {
                DetailItemModel.ListSuggestions.push(totalTemp);
                DetailItemModel.ListSuggestions.push(1000);
            }
            else {
                DetailItemModel.ListSuggestions.push(1000);
            }
        }
    };
    function AppGetUserInfo(app, fnc) {
        var url = System.apihost + '/__post/Ajax/AppUserGetUserInfo';
        var param = {
            userPhone : System.userInfo.phone
        }
        app.request.post(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        }, (err) => { }, 'json');
    };

    export default {
        data: function () {
            return DetailItemModel;
        },
        methods: {
            InitPageData: function (userData) {
                var self = this;
                var app = self.$app;

                var rs = JSON.parse(userData);
                System.userInfo = rs;
                AppGetUserInfo(app, function(data){
                    System.userInfo.phone = data.user;
                })
            },
            GetUserInfo: function () {
                if(System.userInfo.phone  == undefined)
                {
                    window.ReactNativeWebView.postMessage('GetUserInfo');
                }
            },
            CopyShareUrl: function () {
                var self = this;
                var app = self.$app;

                var toastCopy = app.toast.create({
                    text: 'Sao chép liên kết thành công',
                    closeTimeout: 2000,
                });

                const textInput = document.createElement("input");
                textInput.setAttribute('readonly', true);
                textInput.value = DetailItemModel.DonationItem.ShareUrl.trim();

                document.body.appendChild(textInput);

                textInput.select();
                document.execCommand("Copy");
                app.sheet.close(".dona-sheet-share");
                toastCopy.open();
            },
            ButtonShareClick: function () {
                var self = this;
                var app = self.$app;

                ProcessAppShareFacebook(DetailItemModel.DonationItem.ShareUrl.trim());
                app.sheet.close(".dona-sheet-share");
            },
            ButtonShareOtherAppClick: function () {
                var self = this;
                var app = self.$app;
                var contentShare = "Hãy chia sẻ hoàn cảnh này đến bạn bè để điều kỳ diệu sớm trở thành hiện thực! " + DetailItemModel.DonationItem.ShareUrl.trim();
                ProcessAppShareOther(contentShare);
                app.sheet.close(".dona-sheet-share");
            },
            LoadMoreDonationUser: function () {

                var self = this;
                DetailItemModel.Page = DetailItemModel.Page + 1;
                LoadDonationUserPaging(self, self.$app);
            },
            LoadMoreDonationRankUser: function () {

                var self = this;
                DetailItemModel.PageRank = DetailItemModel.PageRank + 1;
                LoadDonationRankUserPaging(self, self.$app);
            },
            DonationClick: function () {
                var self = this;
                var app = self.$app;
                app.preloader.show();
                ListCashBackInfoUser(app, function (res) {
                    DetailItemModel.DonationModel = res;
                    DetailItemModel.DonationModel.TotalMoneyFormat = "";
                    DetailItemModel.DonationModel.Message = "";
                    //debugger;
                    //if (res.totalCashBackMoney <= 1000 && res.totalMoMoMoney <= 1000) {
                    //    app.preloader.hide();
                    //    app.dialog.alert("Bạn không đủ tiền trong Ví để thực hiện Quyên Góp.");
                    //    return;
                    //}

                    //if (res.totalCashBackMoney < 1000) {
                    //    app.preloader.hide();
                    //    app.dialog.alert("Số tiền trong ví Heo đất MoMo của bạn dưới 1.000đ.");
                    //    return;
                    //}
                    if (res.totalMoMoMoney > 1000) {
                        DetailItemModel.DonationModel.TotalMoneyFormat = Number1(20000);
                        DonationSuggestions(res.totalMoMoMoney, 1);
                        $$("#apd-source-1").prop('checked', true);
                        setTimeout(function () {
                            $$('#dnsg20000').prop("checked", true);
                            $$('#donation-money').trigger("change");
                        }, 300);

                    } else if (res.totalCashBackMoney > 1000) {
                        DetailItemModel.DonationModel.TotalMoneyFormat = "";
                        DonationSuggestions(res.totalCashBackMoney, 6);
                        $$("#apd-source-2").prop('checked', true);
                    }

                    self.$setState(DetailItemModel);
                    app.preloader.hide();
                    app.sheet.open(".dona-sheet-money");
                })
            },
            SuggesionChange: function (total) {
                var self = this;
                var app = self.$app;

                DetailItemModel.DonationModel.TotalMoneyFormat = Number1(total);

                self.$setState(DetailItemModel);

                $$("#TotalMoneyError").hide();
                $$('#donation-money').trigger("change");
            },
            SuggesionTextChange: function (text) {
                var self = this;
                var app = self.$app;

                DetailItemModel.DonationModel.Message = text;

                self.$setState(DetailItemModel);
                $$('#donation-content').trigger("change");
            },
            MoneySourceChange: function (src) {
                var self = this;
                var app = self.$app;

                DetailItemModel.DonationModel.MoneySource = src;

                if (src == 1) {
                    DetailItemModel.DonationModel.TotalMoneyFormat = Number1(20000);
                    DonationSuggestions(DetailItemModel.DonationModel.totalMoMoMoney, src);
                    setTimeout(function () {
                        $$('#dnsg20000').prop("checked", true);
                    }, 500);
                } else {
                    DetailItemModel.DonationModel.TotalMoneyFormat = "";
                    DonationSuggestions(DetailItemModel.DonationModel.totalCashBackMoney, src);
                }

                self.$setState(DetailItemModel);

                $$("#TotalMoneyError").hide();
                $$('#donation-money').trigger("change");
            },
            SubmitTrans: function () {
                var self = this;
                var app = self.$app;
                var frmData = app.form.convertToData("#frm-donation");
                if (frmData.TotalMoneyFormat != "") {
                    var value = frmData.TotalMoneyFormat.replace(/\./g, '').replace(/\-/g, '').replace(/\ /g, '');

                    if (isNaN(value)) {
                        $$("#TotalMoneyError").text("Số tiền muốn quyên góp phải là số.");
                        $$("#TotalMoneyError").show();
                        return;
                    }

                    frmData.TotalMoney = parseInt(value);
                    if (frmData.TotalMoney < 1000) {
                        $$("#TotalMoneyError").text("Số tiền tối thiểu là 1.000đ.");
                        $$("#TotalMoneyError").show();
                        return;
                    }

                    if (frmData.cbMoneySource == 1) {
                        if (frmData.TotalMoney > 20000000) {
                            $$("#TotalMoneyError").text("Số tiền tối đa là 20.000.000đ");
                            $$("#TotalMoneyError").show();
                            return;
                        }
                        if (frmData.TotalMoney > DetailItemModel.DonationModel.totalMoMoMoney) {

                            var dialog = app.dialog.create({
                                title: '',
                                text: '',
                                closeByBackdropClick: true,
                                cssClass: "pron-popup-container",
                                content: '<div class="pron-popup">' +
                                    ' <div class="pron-popup-close" ><img src="https://static.mservice.io/pwa/images/donation/popup-close.svg"/></div> ' +
                                    '  <div class="pron-popup-content text-left">' +
                                    '     <h3 class="mt-0 mb-4 lutie-22 " >Thông báo</h3> ' +
                                    '     <div >Số tiền trong Ví MoMo không đủ. Vui lòng nạp thêm để thực hiện giao dịch.</div> ' +
                                    '   </div>' +
                                    '</div>',
                                buttons: [
                                    {
                                        text: 'Nạp tiền vào Ví',
                                        onClick: function () {
                                            location.href = 'momo://?refId=CashInOutMomo';
                                        }
                                    }],

                                on: {
                                    open: function (d) {
                                        d.$el.find(".pron-popup-close").on('click', function (e) {
                                            app.dialog.close();
                                        });
                                    }
                                }
                            }).open();

                            //$("#TotalMoneyError").text("Số tiền vượt quá số dư Ví MoMo.");
                            //$("#TotalMoneyError").show();
                            return;
                        }
                    } else {
                        if (frmData.TotalMoney > DetailItemModel.DonationModel.totalCashBackMoney) {
                            $$("#TotalMoneyError").text("Số tiền vượt quá số dư Heo đất.");
                            $$("#TotalMoneyError").show();
                            return;
                        }
                    }


                    $$("#TotalMoneyError").hide();
                }
                else {
                    $$("#TotalMoneyError").text("Vui lòng nhập số tiền muốn quyên góp.");
                    $$("#TotalMoneyError").show();
                    return;
                }

                app.preloader.show();

                var param = {
                    userPhone: System.userInfo.phone,
                    userName: System.userInfo.userName,
                    donationId: DetailItemModel.DonationItem.Id,
                    totalOrder: frmData.TotalMoney,
                    moneySource: frmData.cbMoneySource,
                    reason: frmData.Message
                };

                CreateTrans(app, param, function (res) {

                    app.sheet.close(".dona-sheet-money");

                    app.preloader.hide();

                    if (DetailItemModel.IsIos) {
                        location.href = 'momo://?refId=browser|' + System.HostUrl + "/xac-nhan-dong-gop/" + res;
                    }
                    else {
                        app.views.main.router.navigate({
                            name: 'donate-trans',
                            params: { token: res }
                        });
                    }

                });
            }
        },
        on: {
            pageInit: function (e, page) {
                var self = this;
                var app = self.$app;

                app.preloader.show();
                this.$app.on('initPageData', this.InitPageData);
                var swipeToClosePopup = app.popup.create({
                    el: '.cbs-present-more',
                    swipeToClose: "to-bottom",
                });

                if (app.device.ios)
                    DetailItemModel.IsIos = 1;

                if (self.$route.query.isNoti != undefined) {
                    DetailItemModel.IsFromNoti = true;
                }

                this.GetUserInfo();

                // ValidateAccessToken(app, self.$route, function (res) {
                //     console.log(res);
                // });

                GetDonationDetail(app, self.$route.params.slug, function (res) {
                    console.log(res);

                    DetailItemModel.DonationItem = res;

                    self.$setState(DetailItemModel);
                    app.preloader.hide();

                    ListDonationDetailAlbum(app, res.Id, function (res) {
                        console.log(res);

                        DetailItemModel.ListImage = res;
                        self.$setState(DetailItemModel);

                        if (res.length > 0) {
                            var galeryList = [];

                            for (var i = 0; i < res.length; i++) {
                                galeryList.push({ url: res[i].AvatarUrl, caption: res[i].Description })
                            }

                            $$(".js-donation-gallery .pron-col").on("click", function () {
                                var thumb = $$(this).attr('data-thumb') - 1;
                                myPhotoBrowserPopupDark.open(thumb);
                            });
                            var myPhotoBrowserPopupDark = app.photoBrowser.create({
                                photos: galeryList,
                                theme: "dark",
                                type: "standalone",
                                backLinkText: ""
                            });
                        }
                    });
                    DetailItemModel.DonationRankUser = [];
                    DetailItemModel.DonationUser = [];
                    LoadDonationUserPaging(self, app);
                    LoadDonationRankUserPaging(self, app);

                    var action = self.$route.query["action"];
                    if (action != undefined) {
                        switch (action) {
                            case "openpopup":
                                $$("#btnDonation").click();
                                break;
                            default:
                                break;
                        }
                    }

                    var sheet = app.sheet.create({
                        el: '.dona-sheet-money',
                        closeByBackdropClick: false
                    })

                });


            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
                var self = this;
                var app = self.$app;

                var $input = $$('#donation-content');
                $input.keyup(function (e) {
                    var max = 70;
                    if ($input.val().length > max) {
                        DetailItemModel.DonationModel.Message = $input.val().substr(0, max);
                    }
                    else {
                        DetailItemModel.DonationModel.Message = $input.val();
                    }
                    self.$setState(DetailItemModel);
                });

                $input.on('input:clear', function (e) {
                    DetailItemModel.DonationModel.Message = "";
                    self.$setState(DetailItemModel);
                });

                var $inputNum = $$('#donation-money');
                $inputNum.keyup(function (e) {
                    var value = $inputNum.val().replace(/\./g, '').replace(/\-/g, '').replace(/\ /g, '');
                    var valMoney = parseInt(value);
                    DetailItemModel.DonationModel.TotalMoneyFormat = Number1(valMoney);
                    self.$setState(DetailItemModel);
                    $inputNum.val(Number1(valMoney));
                    $$('.apd-payment-check').prop("checked", false);
                    $inputNum.trigger("change");
                    $$("#TotalMoneyError").hide();
                });

                $inputNum.on('input:clear', function (e) {
                    DetailItemModel.DonationModel.TotalMoneyFormat = "";
                    self.$setState(DetailItemModel);
                    $$('.apd-payment-check').prop("checked", false);
                    $inputNum.trigger("change");
                });

                $$('.dona-sheet-money').on('sheet:close', function (e) {
                    DetailItemModel.DonationModel.TotalMoneyFormat = "";
                    DetailItemModel.DonationModel.Message = "";
                    $$("#TotalMoneyError").hide();
                    self.$setState(DetailItemModel);
                    $inputNum.trigger("change");
                    $input.trigger("change");
                    $$('.apd-payment-check').prop("checked", false);
                });

            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };

</script>