<template>
    <div class="page">
        {{> "articlelayout"}}
    </div>

</template>

<style>
    .accordion-list ul {
        list-style: none;
        padding-left: 0px;
    }

    .accordion-list ul li {
        list-style: none;
    }
</style>

<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage } from '../../js/custom.js'

    var self = null;
    var _isLoading = false;
    var model = {
        Article: {
            ArticleCategoryId: 0
        },
        ListImage: []
    };

    function copyAction() {
        var copyBtn = Array.from(document.querySelectorAll(".copy-button"));
        copyBtn.forEach(function (e) {
            e.addEventListener("click", function () {
                const text = e.parentElement.querySelector(".code").textContent;
                const noti = e.parentElement.querySelector(".copy-popover");

                const textInput = document.createElement("input");
                textInput.setAttribute('readonly', true);
                textInput.value = text.trim();

                document.body.appendChild(textInput);

                textInput.select();
                document.execCommand("Copy");

                // alert("Bạn đã copy mã khuyến mãi: " + textInput.value);

                noti.classList.add("is-active");
                setTimeout(function () {
                    noti.classList.remove("is-active");
                }, 3000);
            });
        });
    };

    function contentLoadMore(e) {
        const saleMore = e.querySelector(".sale-cluster-content");
        const saleMoreBtn = e.querySelector(".js-sale-more-btn");
        const saleMoreHeight = saleMore.scrollHeight;
        if (saleMoreHeight > 200) {
            e.classList.add("active");

            saleMoreBtn.addEventListener("click", function () {
                saleMore.style.setProperty("max-height", saleMoreHeight + "px");
                e.classList.remove("active");
            });
        }
    };

    function getData(app, params, fnc) {
        if (_isLoading)
            return;
        _isLoading = true;
        var url = System.apihost + '/__get/Article/GetDetail';
        var param = {
            category: params.category,
            slug: params.slug,
            id: params.id
        };
        app.request.json(url, param, (res) => {
            _isLoading = false;

            if (res.Error) {
                app.preloader.hide();
                if (res.Error.Code === 'redirect_url') {
                    app.views.main.router.navigate({
                        name: 'article-detail',
                        params: {
                            category: res.Data.category,
                            slug: res.Data.slug,
                            id: res.Data.id
                        }
                    });
                    return;
                }
                app.dialog.alert(ApiResponseErrorCodeMessage[res.Error.Code]);
                if (res.Error.Code === 'notfound') {
                    app.views.main.router.navigate({
                        name: '404'
                    });
                }

                return;
            }

            fnc(res.Data);

        });
    };


    function ListArticleDetailAlbum(app, id, fnc) {
        var url = System.apihost + '/__get/Article/ListArticleDetailAlbum';
        var param = {
            id: id
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };


    function trackingPageView(app, articleId) {
        var url = System.apihost + '/__get/Article/TrackingPageView';
        var param = {
            articleId: articleId
        };
        app.request.json(url, param, (res) => {
            console.log(res);
        });
    };

    function trackingCtaClick(app, articleId, btnNumber) {
        var url = System.apihost + '/__get/Article/TrackingCtaClick';
        var param = {
            articleId: articleId,
            btnNumber: btnNumber
        };
        app.request.json(url, param, (res) => {
            console.log(res);
        });
    };


    function getDataSingleGuide(app, id, fnc) {
        var url = System.apihost + '/__get/Guide/DetailSingle';
        var param = {
            id: id
        };
        app.request.json(url, param, (res) => {
            if (res.Error) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.Error.Code]);
                if (res.Error.Code === 'notfound') {
                    app.views.main.router.navigate({
                        name: '404'
                    });
                }
                return;
            }

            fnc(res.Data);

        });
    };

    function getDataGroupGuide(app, id, fnc) {
        var url = System.apihost + '/__get/Guide/DetailGroup';
        var param = {
            id: id
        };
        app.request.json(url, param, (res) => {
            if (res.Error) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.Error.Code]);
                if (res.Error.Code === 'notfound') {
                    app.views.main.router.navigate({
                        name: '404'
                    });
                }
                return;
            }

            fnc(res.Data);

        });
    };

    export default {
        data: function () {
            return model;
        },
        methods: {
            CtaClick: function (btnNumber) {
                var self = this;
                var app = self.$app;
                trackingCtaClick(app, model.Article.Id, btnNumber);
            },
        },
        on: {
            pageInit: function (e, page) {
                self = this;
                var app = self.$app;
                app.preloader.show();

                var params = self.$route.params;

                getData(app, params, function (data) {
                    model = data;

                    trackingPageView(app, model.Article.Id);

                    var timestamp = Date.now();
                    //xu ly template
                    var articleTemplate = "";
                    app.request.get('/static/Template/Article/Layout/art-temp-' + model.Article.TemplateType + '.html?t=' + timestamp, function (data) {

                        console.log(data);
                        articleTemplate = data;
                        Template7.registerPartial('articlelayout', articleTemplate);

                        self.$setState(model);

                        ListArticleDetailAlbum(app, model.Article.Id, function (res) {
                            console.log(res);

                            model.ListImage = res;
                            self.$setState(model);

                            if (res.length > 0) {

                                var swiper = app.swiper.create('.swiper-container', {
                                    pagination: {
                                        el: '.swiper-pagination',
                                    },
                                    spaceBetween: 15,
                                    slidesPerView: 'auto'
                                });

                                var galeryList = [];

                                for (var i = 0; i < res.length; i++) {
                                    galeryList.push({ url: res[i].AvatarUrl, caption: res[i].Description })
                                }

                                $$(".js-noti-gallery").on("click", function () {
                                    var thumb = $$(this).attr('data-thumb') - 1;
                                    myPhotoBrowserPopupDark.open(thumb);
                                });

                                var myPhotoBrowserPopupDark = app.photoBrowser.create({
                                    photos: galeryList,
                                    theme: "dark",
                                    type: "standalone",
                                    backLinkText: ""
                                });
                            }
                        });

                        var saleMoreCon = Array.from(
                            document.querySelectorAll(".js-sale-more")
                        );
                        saleMoreCon.forEach(function (e) {
                            contentLoadMore(e);
                        });

                        $$(".noti-content a").forEach(function (e) { $$(e).addClass('external'); });

                        copyAction();
                        app.preloader.hide();
                    });
                });


            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
                self = this;
                var app = self.$app;
                setTimeout(function () {
                    var lstHelpArticleDom = $$("help-article");
                    if (lstHelpArticleDom.length > 0) {
                        lstHelpArticleDom.forEach(function (val, inx) {
                            var id = $$(val).attr("data-helpid");
                            var title = $$(val).attr("data-title");
                            var type = $$(val).attr("data-type");

                            if (type == 2) {//single

                                getDataSingleGuide(app, id, function (dataSingleGuide) {
                                    var timestamp = Date.now();
                                    dataSingleGuide.DataTitle = title;
                                    //xu ly template
                                    var articleTemplate = "";
                                    app.request.get('/static/Template/Singleguide/layout/guide-temp-2.html?t=' + timestamp, function (dataTemplate) {
                                        debugger;
                                        var compiledTemplate = Template7.compile(dataTemplate);
                                        var output = compiledTemplate(dataSingleGuide);
                                        val.outerHTML = output;
                                        var casHtuSingle = app.popup.create({
                                            el: '.pop-huong-dan-single-' + id,
                                            swipeToClose: "to-bottom",
                                            swipeHandler: '.close-handler',
                                            dataId: id
                                        });

                                        var swiperSingle = app.swiper.create('.pop-huong-dan-sw-single-' + id, {
                                            pagination: {
                                                el: '.swiper-pagination-single-' + id,
                                                type: 'fraction',
                                                hideOnClick: true
                                            },
                                            navigation: {
                                                nextEl: '.swiper-button-next-single-' + id,
                                                prevEl: '.swiper-button-prev-single-' + id
                                            }
                                        })

                                        casHtuSingle.on('open', function (popup) {
                                            var swiperSingle = app.swiper.get('.pop-huong-dan-sw-single-' + id);
                                            swiperSingle.update();
                                        });
                                    });
                                });
                            }
                            else {//Group
                                getDataGroupGuide(app, id, function (dataGroupGuide) {
                                    var timestamp = Date.now();
                                    dataGroupGuide.DataTitle = title;
                                    //xu ly template
                                    var articleTemplate = "";
                                    app.request.get('/static/Template/Singleguide/layout/group-guide-temp.html?t=' + timestamp, function (dataTemplate) {
                                        debugger;
                                        var compiledTemplate = Template7.compile(dataTemplate);
                                        var output = compiledTemplate(dataGroupGuide);

                                        val.outerHTML = output;

                                        for (var j = 0; j < dataGroupGuide.Groups.length; j++) {

                                            var Id = dataGroupGuide.Groups[j].Id;

                                            var casHtuGroup = app.popup.create({
                                                el: '.pop-huong-dan-' + Id,
                                                swipeToClose: "to-bottom",
                                                swipeHandler: '.close-handler',
                                                dataId: Id
                                            });

                                            var swiperGroup = app.swiper.create('.pop-huong-dan-sw-' + Id, {
                                                pagination: {
                                                    el: '.swiper-pagination-ct-' + Id,
                                                    type: 'fraction',
                                                    hideOnClick: true
                                                },
                                                navigation: {
                                                    nextEl: '.swiper-button-next-ct-' + Id,
                                                    prevEl: '.swiper-button-prev-ct-' + Id
                                                }
                                            })

                                            casHtuGroup.on('opened', function (popup) {
                                                var swiperGroup = app.swiper.get('.pop-huong-dan-sw-' + popup.params.dataId);
                                                swiperGroup.update();
                                            });
                                        }

                                    });
                                });
                            }

                        });


                    }

                }, 500);

            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };
</script>