<div class="toolbar toolbar-bottom toolbar-large">
    <div class="toolbar-inner">
        <div class=" w-100">
            <p class="row mb-0 ">
                <a href="javascript:void(0)" @click="RecievedClick()" class="col button button-fill button-large color-pink external">
                    MỞ QUÀ NGAY
                </a>
            </p>
        </div>
    </div>
</div>
<div class="page-content  bg-white">
    <div class="pron-container balance bg-white">
        <div class="pron-row balance">
            <div class="embed-responsive embed-responsive-sale">
                <img src="https://static.mservice.io/blogscontents/momo-upload-api-200224115015-637181418156055349.jpg" class="embed-responsive-img" alt="">
            </div>
        </div>
        <div class="sale-cluster">
            <div class="sale-cluster-content  noti-content">
                <p style="text-align: center;color:#ce0f6f;font-size:18px;">
                    <strong>
                        BẬT MÍ MÓN QUÀ BÍ MẬT
                    </strong>
                </p>
                <p>
                    Chúc mừng bạn đã nắm giữ <strong style="color:#ce0f6f;">1</strong> món quà bí mật đến từ Ví MoMo! Hãy cùng khám phá ngay sau đây:
                </p>
                <p style="color:#ce0f6f;font-size:18px;">
                    <strong>
                        Thể lệ chương trình
                    </strong>
                </p>
                <p>
                    <strong>
                        1. THỜI GIAN CHƯƠNG TRÌNH
                    </strong>
                </p>
                <p>Chương trình diễn ra từ ngày 4/3/2020</p>
                <p>
                    <strong>
                        2. CHI TIẾT MÓN QUÀ
                    </strong>
                </p>
                <p style="font-weight:bold;">
                    <!--{{#each ListAwards}}
                    {{js "@index + 1"}}. {{this.Name}} <br />
                    {{/each}}-->
                    - 01 Thẻ quà đa năng trị giá <strong style="color:#ce0f6f;">5.000đ</strong><br />
                    - 01 Thẻ quà đa năng trị giá<strong style="color:#ce0f6f;"> 10.000đ</strong>
                </p>
                <p>
                    <strong>
                        3. HƯỚNG DẪN ĐỔI QUÀ
                    </strong>
                </p>
                <p>
                    Để đổi món quà bí mật, bạn chỉ cần:<br />
                    1/ Chọn món quà bạn thích và bấm <strong style="color:#ce0f6f;">MỞ QUÀ NGAY</strong><br />
                    2/ Bảng thông báo sẽ hiển thị thông tin gói quà bạn đã chọn. <br />
                </p>
            </div>
        </div>
    </div>
</div>
