﻿<template>
    <div class="page">
        <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
                <div class=" w-100">
                    <p class="row mb-0 ">
                        <a class="col button button-fill button-large color-gray link back ">Quay lại</a>
                        {{#js_if "this.ItemDetail.PaymentMethodCode == 'MATHANHTOAN'"}}
                        <a href="momo://?refId=PaymentAtPOSTab1" class="external col button button-fill button-large color-pink">
                            Thanh toán
                        </a>
                        {{else}}
                        {{#js_if "this.ItemDetail.PaymentMethodCode == 'QUETMA'"}}
                        <a href="momo://?refId=ScanQRCode" class="external col button button-fill button-large color-pink">
                            Thanh toán
                        </a>
                        {{else}}
                        {{#js_if "this.ItemDetail.PaymentMethodCode"}}
                        <a href="momo://?refId=browser|{{ItemDetail.PaymentMethodCode}}" class="external col button button-fill button-large color-pink">
                            Mua ngay
                        </a>
                        {{/js_if}}
                        {{/js_if}}
                        {{/js_if}}

                    </p>
                </div>

            </div>
        </div>
        <div class="page-content">
            {{#js_if "this.ItemDetail.Background"}}
            <div class="embed-responsive embed-responsive-cb ">
                <img src="{{ItemDetail.Background}}"
                     class="img-fluid embed-responsive-img" alt="{{ItemDetail.ServiceName}}">
            </div>
            {{/js_if}}
            <div class="pron-container balance bg-white cas-heading-container">
                <div class="pron-row no-gutters">
                    <div class="pron-col auto">
                        <div class="izlu-avatar big">
                            <img class="img-fluid " alt=""
                                 src="{{ItemDetail.Icon}}">
                        </div>
                    </div>
                    <div class="pron-col">
                        <div class="cas-heading">
                            <div>

                                <a href="javascript:void(0)" @click="CategoryClick" class="button button-fill button-round color-blue cas-heading-cat">{{ItemDetail.CategoryName}}</a>

                            </div>

                            <div class="cas-title font-weight-bold ">
                                {{ItemDetail.ServiceName}}

                                <!--<a href="javascript:void(0)" @click="CategoryClick" class="button button-fill button-round color-blue ml-1 cas-heading-cat">{{ItemDetail.CategoryName}}</a>-->
                            </div>

                            <div class="cas-sub">
                                {{ItemDetail.Description}}
                            </div>



                            {{#js_if "this.ItemDetail.TotalPlaces > 0"}}
                            <div class="cas-lo text-truncate">
                                <i class="f7-icons lutie-13 ">placemark_fill</i> {{ItemDetail.TotalPlaces}} cửa hàng trong hệ thống
                            </div>
                            {{/js_if}}
                        </div>

                    </div>
                    {{#js_if "this.ItemDetail.Value <= 100"}}
                    <div class="pron-col auto">
                        <div class="cas-item-number big">
                            <div>
                                Hoàn tiền
                                <span class="font-weight-bold text-color-red">{{ItemDetail.Value}}%</span>
                            </div>
                        </div>
                    </div>
                    {{/js_if}}

                </div>
            </div>

            <div class="card ">

                <div class="card-content card-content-padding pb-0">

                    <div class="pron-section pron-container">

                        <div class="js-pron-viewmore  active">
                            <div class="js-pron-viewmore-content mb-2 is-170 is-white">
                                <div class="izlude-cbs-sale">
                                    {{ItemDetail.Content}}
                                </div>
                            </div>
                            <div class="js-pron-viewmore-btn text-center">

                                <div class="pt-2 pb-3">
                                    <a href="#" class="  open">Xem thêm <i class="f7-icons">chevron_down</i> </a>

                                    <a href="#" class="  close">
                                        Rút gọn <i class="f7-icons">chevron_up</i>
                                    </a>
                                </div>

                            </div>

                        </div>


                    </div>



                </div>

            </div>
            {{#js_if "this.ListPlaceItemDetail.Items.length > 0"}}
            <div class="pron-container balance">

                <h4 class="mt-5 mb-2 lutie-section-title font-weight-normal">
                    {{ListPlaceItemDetail.TotalItems}} cửa hàng chấp nhận thanh toán MoMo
                    {{#js_if "this.FilterParam.citId != 0 || this.FilterParam.dtId != 0"}}
                    tại <span class="text-color-blue font-weight-bold">
                        {{#js_if "this.FilterParam.dtId != 0"}}
                        {{FilterParam.dtName}} -
                        {{/js_if}}
                        {{#js_if "this.FilterParam.citId != 0"}}
                        {{FilterParam.citName}}
                        {{/js_if}}
                    </span>
                    {{/js_if}}
                </h4>
            </div>

            <div class=" cashback-filter-single ">
                <div class="cashback-filter ">
                    <div class="cashback-filter-item ">
                        <div class="nhan">Tỉnh/ Thành phố</div>
                        <a class="geffen-smart smart-select ss-city-detail">
                            <select id="ddlCityDetail">
                                {{#each ListCity}}
                                <option label="{{Name}}" value="{{Id}}" {{#js_if "this.Id == ListCashBackDetailModel.FilterParam.citId"}} selected="selected" {{/js_if}}>{{Name}}</option>
                                {{/each}}
                            </select>
                            <div class="item-title"></div>
                        </a>
                    </div>


                    <div class="cashback-filter-item ">
                        <div class="nhan">Quận huyện</div>
                        <a class="geffen-smart smart-select ss-district-detail">
                            <select id="ddlDistrictDetail">
                                {{#each ListDistrict}}
                                <option label="{{Name}}" value="{{Id}}" {{#js_if "this.Id == ListCashBackDetailModel.FilterParam.dtId"}} selected="selected" {{/js_if}}>{{Name}}</option>
                                {{/each}}
                            </select>
                            <div class="item-title"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-content ">
                    <div class="list media-list inset cas-address-list p-0 m-0">
                        <ul class="">
                            {{#each ListPlaceItemDetail.Items}}
                            <li>
                                <div class="item-content ">

                                    <div class="item-inner">

                                        <div class="pron-row no-gutter align-items-center">
                                            <div class="pron-col">
                                                <div class="text-truncate text-gray lutie-13 text-capitalize">{{Name}}</div>
                                            </div>
                                            {{#js_if "this.Position != null"}}
                                            <div class="pron-col auto">
                                                <a href="https://maps.google.com/maps?daddr={{Position.Lat}},{{Position.Lng}}" class="lutie-13 link external cas-address-navi"><i class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                                            </div>
                                            {{else}}
                                            <div class="pron-col auto">
                                                <a href="https://maps.google.com/maps?daddr={{Address}}" class="lutie-13 link external cas-address-navi"><i class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                                            </div>
                                            {{/js_if}}
                                        </div>
                                        <div class="lutie-14 cas-address-name  ">
                                            {{Address}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>

                    <div class="mt-3 pb-5 text-center" id="btnMorePlaces" @click="LoadMorePlaces">
                        <a href="#" class=" button button-outline button-round d-inline-block">
                            Xem
                            thêm
                        </a>
                    </div>
                </div>
            </div>
            {{#js_if "this.ItemDetail.PaymentGuide"}}
            <div class="pron-container balance">

                <h3 class="mt-5 mb-2 lutie-section-title font-weight-bold">

                    Hướng dẫn thanh toán

                </h3>
            </div>
            <div class="card ">
                <div class="card-content pt-1">
                    <div class="htu-mockup-more  bg-transparent position-relative">

                        <a href="#" data-popup=".cas-htu-popup" class="popup-open link-absolute"></a>
                        {{#each ItemDetail.PaymentGuide.Blocks}}
                        <div class="htu-mockup-item i{{@index+1}}"
                             style="background-image: url('{{Avatar}}')">
                        </div>
                        {{/each}}
                    </div>


                    <div class="mt-2 pb-5 text-center ">
                        <a href="#" data-popup=".cas-htu-popup"
                           class="popup-open  button button-outline button-round d-inline-block">
                            Xem
                            hướng dẫn
                        </a>
                    </div>


                </div>
            </div>

            <!--<div class="card ">
                <div class="card-content ">
                    <div class="list links-list my-2">
                        <ul>
                            <li><a href="#" data-popup=".cas-htu-popup" class="popup-open  lutie-14">{{ItemDetail.PaymentMethodArticleTitle}}</a></li>

                        </ul>
                    </div>
                </div>
            </div>-->
            {{/js_if}}
            {{/js_if}}
        </div>
        {{#js_if "this.ItemDetail.PaymentGuide"}}
        <div class="popup cas-htu-popup popup-swipe-round">
            <div class="view">
                <div class="page">
                    <div class="navbar close-handler">
                        <div class="navbar-inner sliding">
                            <div class="left">
                                <a class="link popup-close">
                                    <img src="https://static.mservice.io/pwa/images/icons/icon-x.svg" width="28" alt="">
                                    <!-- <i class="icon icon-back"></i> -->
                                </a>
                            </div>
                            <div class="title">{{ItemDetail.PaymentMethodArticleTitle}}</div>
                        </div>
                    </div>
                    <!--<div class="toolbar toolbar-bottom toolbar-large">
                        <div class="toolbar-inner">
                            <div class=" w-100">
                                <p class="row mb-0 ">
                                    <a class="col button button-fill button-large color-gray link popup-close">Quay lại</a>
                                    {{#js_if "this.ItemDetail.PaymentMethodCode == 'MATHANHTOAN'"}}
                                    <a href="momo://?refId=PaymentAtPOSTab1" class="external col button button-fill button-large color-pink">
                                        Sử dụng
                                    </a>
                                    {{/js_if}}
                                    {{#js_if "this.ItemDetail.PaymentMethodCode == 'QUETMA'"}}
                                    <a href="momo://?refId=ScanQRCode" class="external col button button-fill button-large color-pink">
                                        Sử dụng
                                    </a>
                                    {{/js_if}}
                                </p>
                            </div>

                        </div>
                    </div>-->

                    <div class="page-content"  style="padding-top: 48px;">

                        <div data-lazy='{"enabled": true}'
                             data-pagination='{"el": ".swiper-pagination", "type" : "fraction", "hideOnClick": true}'
                             class="swiper-container swiper-init htu-swiper">
                            <div class="swiper-pagination"></div>
                            <div class="swiper-wrapper">

                                {{#each ItemDetail.PaymentGuide.Blocks}}
                                <div class="swiper-slide">

                                    <div class="htu-content">
                                        <div class="htu-mockup">
                                            <div class="htu-mockup-slider" style="background-image: url('https://static.mservice.io/pwa/images/phone-mockup.png')">
                                                <img src="{{Avatar}}" class="img-fluid d-block mx-auto swiper-lazy" alt="">
                                            </div>

                                            <div class="htu-mockup-txt">
                                                <h3 class="htu-mockup-title mt-0 mb-2">{{Title}}</h3>
                                                <div class="htu-mockup-body">
                                                    {{Content}}
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                {{/each}}
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        {{/js_if}}
    </div>
</template>



<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage } from '../../js/custom.js'

    function InitSmartSelect(app, self) {
        var ddlCity = app.smartSelect.get(".ss-city-detail");
        app.smartSelect.create({
            el: '.ss-city-detail',
            openIn: 'popup',
            closeOnSelect: true,
            pageTitle: 'Chọn Tỉnh/Thành',
            popupCloseLinkText: 'Đóng',
            cssClass: 'popup-smartselect',
            routableModals: false
        });
        $$('#ddlCityDetail').on('change', function (e) {
            app.preloader.show();
            ListCashBackDetailModel.FilterParam.citId = parseInt($$(this).val());
            ListCashBackDetailModel.FilterParam.citName = $$(this).children(':selected').text();
            ListCashBackDetailModel.FilterParam.dtId = 0;
            ListCashBackDetailModel.FilterParam.dtName = 'Tất cả';

            ListCashBackDetailModel.ListPlaceItemDetail.LastIndex = 0;
            ListPlaceItemDetail(app, function (res) {
                ListCashBackDetailModel.ListPlaceItemDetail = res;

                if (ListCashBackDetailModel.FilterParam.citId != 0) {
                    ListDistricts(app, function (res) {
                        ListCashBackDetailModel.ListDistrict = res;
                        self.$setState(ListCashBackDetailModel);
                        InitSmartSelect(app, self);
                    });
                } else {
                    ListCashBackDetailModel.ListDistrict = [ListCashBackDetailModel.DefaultItemList];
                    var ddlDistrict = app.smartSelect.get(".ss-district-detail");
                    ddlDistrict.setValue(ListCashBackDetailModel.FilterParam.dtId);
                };

                self.$setState(ListCashBackDetailModel);
                app.preloader.hide();

                if (ListCashBackDetailModel.ListPlaceItemDetail.LastIndex >= ListCashBackDetailModel.ListPlaceItemDetail.TotalItems) {
                    $$('#btnMorePlaces').hide();
                } else {
                    $$('#btnMorePlaces').show();
                }
            });

            ReloadFilter(app, self);
        });
        var ddlDistrict = app.smartSelect.get(".ss-district-detail");

        app.smartSelect.create({
            el: '.ss-district-detail',
            openIn: 'popup',
            pageTitle: 'Chọn Quận/Huyện',
            popupCloseLinkText: 'Đóng',
            closeOnSelect: true,
            cssClass: 'popup-smartselect',
            routableModals: false,
            on: {
                beforeOpen: function (target, prevent) {
                    if (!ListCashBackDetailModel.FilterParam.citId) {
                        app.dialog.alert('Vui lòng chọn Tỉnh/Thành phố');
                        prevent();
                        return;
                    }
                }
            }
        });
        $$('#ddlDistrictDetail').on('change', function (e) {
            app.preloader.show();
            ListCashBackDetailModel.FilterParam.dtId = parseInt($$(this).val());
            ListCashBackDetailModel.FilterParam.dtName = $$(this).children(':selected').text();
            ListCashBackDetailModel.ListPlaceItemDetail.LastIndex = 0;
            ListPlaceItemDetail(app, function (res) {
                ListCashBackDetailModel.ListPlaceItemDetail = res;
                self.$setState(ListCashBackDetailModel);
                app.preloader.hide();

                if (ListCashBackDetailModel.ListPlaceItemDetail.LastIndex >= ListCashBackDetailModel.ListPlaceItemDetail.TotalItems) {
                    $$('#btnMorePlaces').hide();
                } else {
                    $$('#btnMorePlaces').show();
                }
            });
            ReloadFilter(app, self);
        });

        if (ddlDistrict != undefined && ListCashBackDetailModel.FilterParam.dtId != 0) {
            ddlDistrict.setValue(ListCashBackDetailModel.FilterParam.dtId);
        }
    };

    function ListCities(app, fnc) {
        var url = System.apihost + '/api/cashback/ListCities';
        var param = {
            brandId: ListCashBackDetailModel.ItemDetail.Id
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };
    function ListDistricts(app, fnc) {
        var url = System.apihost + '/api/cashback/ListDistricts';
        var param = {
            brandId: ListCashBackDetailModel.ItemDetail.Id,
            citId: ListCashBackDetailModel.FilterParam.citId == 0 ? null : ListCashBackDetailModel.FilterParam.citId
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            res.unshift(ListCashBackDetailModel.DefaultItemList)
            fnc(res);

        });
    };

    function GetMasterData(app, fnc) {
        ListCities(app, function (res) {
            ListCashBackDetailModel.ListCity = res;
            if (ListCashBackDetailModel.FilterParam.citId != 0) {
                ListCashBackDetailModel.FilterParam.citName = res.find(x => x.Id === ListCashBackDetailModel.FilterParam.citId).Name;

                ListDistricts(app, function (res) {
                    ListCashBackDetailModel.ListDistrict = res;
                    var dis = res.find(x => x.Id === ListCashBackDetailModel.FilterParam.dtId);
                    if (dis)
                        ListCashBackDetailModel.FilterParam.dtName = dis.Name;
                    fnc();
                });
            }
            else {
                fnc();
            }
        });
    };

    function GetInfo(app, fnc) {
        var url = System.apihost + '/api/cashback/GetInfo';
        var param = {
            id: ListCashBackDetailModel.FilterParam.brandId
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };
    function ListPlaceItemDetail(app, fnc) {
        app.preloader.show();
        var url = System.apihost + '/api/place/Search';
        var param = {
            brandId: ListCashBackDetailModel.ItemDetail.Id == null ? 0 : ListCashBackDetailModel.ItemDetail.Id,
            citId: ListCashBackDetailModel.FilterParam.citId == 0 ? null : ListCashBackDetailModel.FilterParam.citId,
            dtId: ListCashBackDetailModel.FilterParam.dtId == 0 ? null : ListCashBackDetailModel.FilterParam.dtId,
            lastIdx: ListCashBackDetailModel.ListPlaceItemDetail.LastIndex,
            count: ListCashBackDetailModel.ListPlaceItemDetail.Count
        };

        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function ReloadFilter(app, self) {
        var strDetail = ListCashBackDetailModel.FilterParam.brandSlug + "-" + ListCashBackDetailModel.FilterParam.brandId + "/";
        var strParam = "ct" + ListCashBackDetailModel.FilterParam.citId + "-dt" + ListCashBackDetailModel.FilterParam.dtId;

        var urlbase = "/hoan-tien/";
        // console.log(app.views.current.router.url);
        app.views.current.router.updateCurrentUrl(urlbase + strDetail + strParam);
    };

    export default {
        data: function () {
            ListCashBackDetailModel = {
                ListCity: [{
                    Id: null,
                    Name: 'Tất cả'
                }],
                ListDistrict: [{
                    Id: null,
                    Name: 'Tất cả'
                }],
                ListItem: [],
                FilterParam: {
                    count: 10000,
                    lastIdx: 0,
                    citId: 0,
                    dtId: 0,
                    citName: 'Chọn Tỉnh/Thành',
                    dtName: 'Tất cả',
                    brandId: 0,
                    brandSlug: '',
                },
                DefaultItemList: {
                    Id: 0,
                    Name: 'Tất cả'
                },
                ItemDetail: {},
                ListPlaceItemDetail: {
                    LastIndex: 0,
                    Count: 20,
                    Items: []
                }
            };

            return ListCashBackDetailModel;
        },
        methods: {
            LoadMorePlaces: function () {
                var self = this;
                var app = self.$app;


                ListPlaceItemDetail(app, function (res) {
                    console.log(res);

                    ListCashBackDetailModel.ListPlaceItemDetail.Items = ListCashBackDetailModel.ListPlaceItemDetail.Items.concat(res.Items);
                    ListCashBackDetailModel.ListPlaceItemDetail.LastIndex = res.LastIndex;
                    ListCashBackDetailModel.ListPlaceItemDetail.PageCount = res.PageCount;
                    ListCashBackDetailModel.ListPlaceItemDetail.TotalItems = res.TotalItems;
                    self.$setState(ListCashBackDetailModel);

                    app.preloader.hide();

                    if (ListCashBackDetailModel.ListPlaceItemDetail.LastIndex >= ListCashBackDetailModel.ListPlaceItemDetail.TotalItems) {
                        $$('#btnMorePlaces').hide();
                    } else {
                        $$('#btnMorePlaces').show();
                    }

                });
            },
            CategoryClick: function () {
                var self = this;
                var app = self.$app;
                app.views.main.router.navigate({
                    name: 'cashback-filter-all',
                    params: {
                        cateId: ListCashBackDetailModel.ItemDetail.CategoryId,
                        sortType: 1,
                        citId: ListCashBackDetailModel.FilterParam.citId,
                        dtId: ListCashBackDetailModel.FilterParam.dtId
                    }
                }, {
                        reloadAll: true
                    });
                return;
            }
        },
        on: {
            pageInit: function () {
                var self = this;
                var app = self.$app;
                var params = self.$route.params;
                if (!jQuery.isEmptyObject(params)) {
                    ListCashBackDetailModel.FilterParam.brandId = parseInt(params.brandId);
                    ListCashBackDetailModel.FilterParam.brandSlug = params.brandSlug;
                    ListCashBackDetailModel.FilterParam.citId = params.citId != undefined ? parseInt(params.citId) : 0;
                    ListCashBackDetailModel.FilterParam.dtId = params.dtId != undefined ? parseInt(params.dtId) : 0;
                }

                //ValidateAccessToken(app, self.$route, function (res) {
                //    console.log(res);
                //});

                app.preloader.show();
                GetInfo(app, function (res) {
                    ListCashBackDetailModel.ItemDetail = res;
                    ListCashBackDetailModel.ListPlaceItemDetail.LastIndex = 0;
                    if (ListCashBackDetailModel.ItemDetail.Id > 0) {
                        ListPlaceItemDetail(app, function (res) {
                            ListCashBackDetailModel.ListPlaceItemDetail = res;
                            self.$setState(ListCashBackDetailModel);

                            if (res.TotalItems > 0) {
                                GetMasterData(app, function () {
                                    self.$setState(ListCashBackDetailModel);
                                    InitSmartSelect(app, self);
                                });
                            }

                            app.preloader.hide();

                            if (ListCashBackDetailModel.ListPlaceItemDetail.LastIndex >= ListCashBackDetailModel.ListPlaceItemDetail.TotalItems) {
                                $$('#btnMorePlaces').hide();
                            } else {
                                $$('#btnMorePlaces').show();
                            }

                            const ele = document;
                            const saleMoreCon = ele.querySelector(".js-pron-viewmore");
                            const saleMore = ele.querySelector(".js-pron-viewmore-content");
                            const saleMoreBtn = ele.querySelector(".js-pron-viewmore-btn");
                            const saleMoreHeight = saleMore.scrollHeight;

                            if (saleMoreHeight > 170) {
                                saleMoreCon.classList.add("active");


                                saleMoreCon.classList.add("is-long");

                                saleMoreBtn.addEventListener("click", function () {
                                    if (saleMoreCon.classList.contains("active")) {
                                        saleMore.style.setProperty("max-height", saleMoreHeight + "px");
                                        saleMoreCon.classList.remove("active");
                                    } else {
                                        saleMore.style.setProperty("max-height", "170px");
                                        saleMoreCon.classList.add("active");
                                    }
                                });
                            }

                            if (ListCashBackDetailModel.ItemDetail.PaymentGuide != null) {
                                var casHtu = app.popup.create({
                                    el: '.cas-htu-popup',
                                    swipeToClose: "to-bottom",
                                    swipeHandler: '.close-handler',
                                });

                                casHtu.on('open', function (popup) {
                                    console.log("dfwfwe");
                                    var swiper = app.swiper.get('.htu-swiper');
                                    swiper.update();
                                });
                            }

                        });



                    }
                    else {
                        self.$setState(ListCashBackDetailModel);
                        app.preloader.hide();

                        const ele = document;
                        const saleMoreCon = ele.querySelector(".js-pron-viewmore");
                        const saleMore = ele.querySelector(".js-pron-viewmore-content");
                        const saleMoreBtn = ele.querySelector(".js-pron-viewmore-btn");
                        const saleMoreHeight = saleMore.scrollHeight;

                        if (saleMoreHeight > 170) {
                            saleMoreCon.classList.add("active");
                            saleMoreCon.classList.add("is-long");

                            saleMore.style.setProperty("max-height", saleMoreHeight + "px");
                            saleMoreCon.classList.remove("active");

                            saleMoreBtn.addEventListener("click", function () {
                                if (saleMoreCon.classList.contains("active")) {
                                    saleMore.style.setProperty("max-height", saleMoreHeight + "px");
                                    saleMoreCon.classList.remove("active");
                                } else {
                                    saleMore.style.setProperty("max-height", "170px");
                                    saleMoreCon.classList.add("active");
                                }
                            });
                        }
                    }


                });
                //var casViewMore = app.popup.create({
                //    el: '.cas-view-more',
                //    swipeToClose: "to-bottom",
                //});
                //casViewMore.on('open', function (popup) {
                //    // console.log('Popup open');
                //    // console.log(popup.el);
                //    const ele = popup.el;
                //    const saleMoreCon = ele.querySelector(".js-pron-viewmore");
                //    const saleMore = ele.querySelector(".js-pron-viewmore-content");
                //    const saleMoreBtn = ele.querySelector(".js-pron-viewmore-btn");
                //    const saleMoreHeight = saleMore.scrollHeight;

                //    if (saleMoreHeight > 80) {
                //        saleMoreCon.classList.add("active");

                //        saleMoreCon.classList.add("is-long");

                //        if (!saleMoreBtn.isClick) {
                //            saleMoreBtn.addEventListener("click", function () {
                //                if (saleMoreCon.classList.contains("active")) {
                //                    saleMore.style.setProperty("max-height", saleMoreHeight + "px");
                //                    saleMoreCon.classList.remove("active");
                //                } else {
                //                    saleMore.style.setProperty("max-height", "80px");
                //                    saleMoreCon.classList.add("active");
                //                }
                //            });
                //            saleMoreBtn.isClick = true;
                //        }

                //    }
                //});
            },
            pageAfterIn: function (e, page) {
                var self = this;
                var app = self.$app;

                $$(".js-pron-viewmore-content a").forEach(function (e) { $$(e).addClass('external'); });


            },
        },
    };

</script>