﻿<template>
    <div class="page no-swipeback">
        <div class="navbar navbar-search">
            <div class="navbar-inner sliding">
                <form class="searchbar searchbar-main">
                    <div class="searchbar-inner pr-0">
                        <div class="searchbar-input-wrap">
                            <input type="search" placeholder="Nhập tên cửa hàng, dịch vụ" id="txtKeywords">
                            <!--@keyup="KeywordsChanged()"-->
                            <i class="searchbar-icon"></i>
                            <span class="input-clear-button"></span>
                        </div>
                        <!-- <span class="searchbar-disable-button if-not-aurora">Hủy</span> -->
                    </div>
                </form>


                <div class="right">
                    <div class="location-select">
                        <!-- <a href="/location-select/" class="">TP. HCM <i class="f7-icons">chevron_down</i></a> -->
                        <a href="#" data-popup=".cas-location-popup" class="popup-open">
                            {{FilterParam.citName}} <i class="f7-icons">chevron_down</i>
                        </a>
                    </div>
                </div>




            </div>

            <div class="cashback-filter">
                <div class="cashback-filter-item">

                    <div class="nhan">Danh mục</div>
                    <a class="geffen-smart smart-select ss-category">

                        <select id="ddlCategory">
                            {{#each ListCategory}}
                            <option label="{{Name}}" value="{{Id}}"
                                {{#js_if "this.Id == @root.FilterParam.cateId"}} selected="selected"
                                {{/js_if}} data-option-image="{{Icon}}" data-option-class="cashback-cat-icon">
                                {{Name}}
                            </option>
                            {{/each}}
                        </select>
                        <div class="item-title"></div>
                    </a>
                </div>
                <div class="cashback-filter-item">
                    <div class="nhan">Sắp xếp</div>

                    <a class="geffen-smart smart-select ss-sort">

                        <select id="ddlSort">
                            {{#each ListSort}}
                            <option value="{{Id}}">{{Name}}</option>
                            {{/each}}
                        </select>
                        <div class="item-title"></div>
                    </a>
                </div>

                {{#js_if "this.FilterParam.citId != 0"}}
                <div class="cashback-filter-item">
                    <div class="nhan">Quận huyện</div>

                    <a class="geffen-smart smart-select ss-district">

                        <select id="ddlDistrict">
                            {{#each ListDistrict}}
                            <option label="{{Name}}" value="{{Id}}"
                                {{#js_if "this.Id == @root.FilterParam.dtId"}} selected="selected"
                                {{/js_if}}>{{Name}}</option>
                            {{/each}}
                        </select>
                        <div class="item-title"></div>
                    </a>

                </div>
                {{/js_if}}
            </div>
        </div>





        <div class="page-content hide-navbar-on-scroll infinite-scroll-content">

            <div class="cas-container">
                {{#each ListItem}}
                <div class="cas-item">
                    <!--<a href="javascript:void(0)" @click="ShowInfoCashBack({{Id}})" class="link-absolute"></a>-->
                    <a href="/hoan-tien/{{js "this.UrlRewrite ? this.UrlRewrite : 'momo'"}}-{{Id}}{{js "@root.FilterItemSlug != '' ? '/' + @root.FilterItemSlug : ''"}}"
                        class="link-absolute"></a>
                    <div class="cas-item-avatar">
                        <div class="embed-responsive embed-responsive-1by1">
                            <img src="{{Icon}}" class="embed-responsive-img lazy" alt="{{ServiceName}}">
                        </div>
                    </div>

                    <div class="cas-item-content">
                        <div class="name ">
                            {{ServiceName}}
                        </div>

                        <div class="desc text-truncate">
                            {{Description}}
                        </div>
                        {{#js_if "this.TopPlace.Total > 0"}}
                        <div class="loc text-truncate">
                            <i class="f7-icons lutie-15 ">placemark_fill</i> {{TopPlace.Total}} cửa hàng
                        </div>
                        {{/js_if}}
                    </div>

                    {{#js_if "this.Value <= 100"}}

                    <div class="cas-item-value">
                        <div class="cas-item-number ">

                            <div>
                                Hoàn tiền
                                <span class="font-weight-bold text-color-red">{{Value}}%</span>
                            </div>

                        </div>
                    </div>
                    {{/js_if}}
                </div>
                {{/each}}

            </div>



            <div class="preloader infinite-scroll-preloader"></div>


        </div>

        <!-- And somewhere in DOM -->
        <div class="popup cas-location-popup">
            <div class="view">
                <div class="page">

                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="title">Chọn Tỉnh/Thành phố</div>
                            <div class="right">
                                <!-- Link to close popup -->
                                <a class="link popup-close">Đóng</a>
                            </div>

                            <div class="subnavbar">
                                <form class="searchbar searchbar-location">
                                    <div class="searchbar-inner">
                                        <div class="searchbar-input-wrap">
                                            <input type="search" placeholder="Tìm kiếm">
                                            <i class="searchbar-icon"></i>
                                            <span class="input-clear-button"></span>
                                        </div>
                                        <span class="searchbar-disable-button if-not-aurora">Xóa</span>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>



                    <div class="page-content">
                        <!-- Searchbar backdrop -->
                        <div class="searchbar-backdrop"></div>

                        <!-- search target list -->
                        <div class="list media-list pt-3">
                            <ul>
                                {{#each ListCity}}
                                <li>
                                    <label class="item-radio item-content">
                                        <input type="radio" name="demo-media-radio" value="{{Id}}"
                                            {{#js_if "this.Id == @root.FilterParam.citId"}}
                                            checked{{/js_if}} />
                                        <i class="icon icon-radio" checked></i>
                                        <div class="item-inner" @click="CityChange({{Id}},'{{Name}}')">
                                            <div class="item-title-row">
                                                <div class="item-title">{{Name}}</div>
                                            </div>
                                            <div class="text-color-gray lutie-12">{{TotalPlace}} thương hiệu</div>
                                        </div>
                                    </label>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <!-- Nothing found message -->
                        <div class="block searchbar-not-found">
                            <div class="block-inner">Nothing found</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>



</template>



<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage } from '../../js/custom.js'

    var allowInfinite = true;
    var ListCashBackModel = {
        ListCity: [{
            Id: null,
            Name: 'Tất cả'
        }],
        ListDistrict: [{
            Id: null,
            Name: 'Tất cả'
        }],
        ListCategory: [{
            Id: null,
            Name: 'Tất cả'
        }],
        ListSort: [
            {
                Id: 1,
                Name: 'Mặc định'
            },
            {
                Id: 2,
                Name: 'Tỉ lệ hoàn cao nhất'
            },
            {
                Id: 3,
                Name: 'Tỉ lệ hoàn thấp nhất'
            },
            {
                Id: 4,
                Name: 'Mới nhất'
            },
        ],
        ListItem: [],
        FilterParam: {
            count: 20,
            lastIdx: 0,
            cateId: 0,
            citId: 0,
            dtId: 0,
            query: null,
            sortType: 1,
            citName: 'Chọn Tỉnh/Thành',
            cateName: 'Tất cả',
            dtName: 'Tất cả',
        },
        DefaultItemList: {
            Id: 0,
            Name: 'Tất cả',
            Icon: "https://static.mservice.io/images/s/momo-upload-api-191022175624-637073637844965662.png"
        },
        ItemDetail: {},
        ListPlaceItemDetail: {
            LastIndex: 0,
            Count: 20,
            Items: []
        },
        FilterItemSlug: '',
        IsLoading: false,
        IsScroll: false
    };
    function ListData(app, self, fnc) {
        app.preloader.show();
        GetMasterData(app, function () {
            ListItem(app, function (res) {
                ListCashBackModel.ListItem = res.Items;
                ListCashBackModel.FilterParam.idx = res.LastIndex;
                ListCashBackModel.FilterParam.total = res.TotalItems;
                self.$setState(ListCashBackModel);
                InitSmartSelect(app, self)
                app.preloader.hide();
                if (fnc != undefined) {
                    fnc();
                }
            });
        });
    };
    function GetMasterData(app, fnc) {
        ListCate(app, function (res) {
            ListCashBackModel.ListCategory = res;
            ListCities(app, function (res) {
                ListCashBackModel.ListCity = res;
                if (ListCashBackModel.FilterParam.citId != 0) {
                    ListCashBackModel.FilterParam.citName = res.find(x => x.Id === ListCashBackModel.FilterParam.citId).Name;

                    ListDistricts(app, function (res) {
                        ListCashBackModel.ListDistrict = res;
                        var dis = res.find(x => x.Id === ListCashBackModel.FilterParam.dtId);
                        if (dis)
                            ListCashBackModel.FilterParam.dtName = dis.Name;
                        fnc();
                    });
                }
                else {
                    fnc();
                }
            });
        });
    };
    function ListCities(app, fnc) {
        var url = System.apihost + '/api/cashback/ListCities';
        var param = {
            cateId: ListCashBackModel.FilterParam.cateId == 0 ? null : ListCashBackModel.FilterParam.cateId
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };
    function ListDistricts(app, fnc) {
        var url = System.apihost + '/api/cashback/ListDistricts';
        var param = {
            cateId: ListCashBackModel.FilterParam.cateId == 0 ? null : ListCashBackModel.FilterParam.cateId,
            citId: ListCashBackModel.FilterParam.citId == 0 ? null : ListCashBackModel.FilterParam.citId
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            res.unshift(ListCashBackModel.DefaultItemList)
            fnc(res);

        });
    };
    function ListCate(app, fnc) {
        var url = System.apihost + '/api/cashback/ListCate';
        var param = {
            citId: ListCashBackModel.FilterParam.citId == 0 ? null : ListCashBackModel.FilterParam.citId,
            dtId: ListCashBackModel.FilterParam.dtId == 0 ? null : ListCashBackModel.FilterParam.dtId
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            var itemAll = {
                Id: 0,
                Name: 'Tất cả',
                Icon: "https://static.mservice.io/images/s/momo-upload-api-191022175624-637073637844965662.png"
            }
            //res.unshift(ListCashBackModel.DefaultItemList)
            res.unshift(itemAll);
            fnc(res);

        });
    };
    function ListItem(app, fnc) {
        var url = System.apihost + '/api/cashback/Search';
        var param = {
            query: ListCashBackModel.FilterParam.query,
            count: ListCashBackModel.FilterParam.count,
            cateId: ListCashBackModel.FilterParam.cateId == 0 ? null : ListCashBackModel.FilterParam.cateId,
            citId: ListCashBackModel.FilterParam.citId == 0 ? null : ListCashBackModel.FilterParam.citId,
            dtId: ListCashBackModel.FilterParam.dtId == 0 ? null : ListCashBackModel.FilterParam.dtId,
            sortType: ListCashBackModel.FilterParam.sortType,
            lastIdx: ListCashBackModel.FilterParam.idx
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;


            fnc(res);
        });
    };
    function InitSmartSelect(app, self) {
        var ddlCategory = app.smartSelect.get(".ss-category");
        if (ddlCategory == undefined) {
            app.smartSelect.create({
                el: '.ss-category',
                openIn: 'popup',
                closeOnSelect: true,
                pageTitle: 'Chọn Danh mục',
                popupCloseLinkText: 'Đóng',
                cssClass: 'popup-smartselect',
                routableModals: false
            });
            $$('#ddlCategory').on('change', function (e) {
                ListCashBackModel.FilterParam.idx = null;
                ListCashBackModel.FilterParam.cateId = parseInt($$(this).val());
                ListCashBackModel.FilterParam.cateName = this.options[this.selectedIndex].text;
                ListData(app, self);
                ReloadFilter(app, self);
            });
        }
        var ddlSort = app.smartSelect.get(".ss-sort");
        if (ddlSort == undefined) {
            app.smartSelect.create({
                el: '.ss-sort',
                openIn: 'popup',
                pageTitle: 'Sắp xếp',
                closeOnSelect: true,
                popupCloseLinkText: 'Đóng',
                cssClass: 'popup-smartselect',
                routableModals: false
            });
            $$('#ddlSort').on('change', function (e) {
                ListCashBackModel.FilterParam.idx = null;
                ListCashBackModel.FilterParam.sortType = parseInt($$(this).val());
                ListData(app, self);
                ReloadFilter(app, self);
            });
        }
        var ddlDistrict = app.smartSelect.get(".ss-district");
        if (ddlDistrict == undefined) {
            app.smartSelect.create({
                el: '.ss-district',
                openIn: 'popup',
                pageTitle: 'Chọn Quận/Huyện',
                popupCloseLinkText: 'Đóng',
                closeOnSelect: true,
                cssClass: 'popup-smartselect',
                routableModals: false,
                on: {
                    beforeOpen: function (target, prevent) {
                        if (!ListCashBackModel.FilterParam.citId) {
                            app.dialog.alert('Vui lòng chọn Tỉnh/Thành phố');
                            prevent();
                            return;
                        }
                    }
                }
            });
            $$('#ddlDistrict').on('change', function (e) {
                ListCashBackModel.FilterParam.idx = null;
                ListCashBackModel.FilterParam.dtId = parseInt($$(this).val());
                ListCashBackModel.FilterParam.dtName = this.options[this.selectedIndex].text;
                ListData(app, self);
                ReloadFilter(app, self);
            });
        } else {
            var value = ddlDistrict.getValue();
            if (value != 'Tất cả')
                ddlDistrict.setValue(ListCashBackModel.FilterParam.dtId);
        }
    };

    function GetInfo(app, id, fnc) {
        var url = System.apihost + '/api/cashback/GetInfo';
        var param = {
            id: id
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };
    function ListPlaceItemDetail(app, fnc) {
        app.preloader.show();
        var url = System.apihost + '/api/place/Search';
        var param = {
            brandId: ListCashBackModel.ItemDetail.Id == null ? 0 : ListCashBackModel.ItemDetail.Id,
            citId: ListCashBackModel.FilterParam.citId == 0 ? null : ListCashBackModel.FilterParam.citId,
            dtId: ListCashBackModel.FilterParam.dtId == 0 ? null : ListCashBackModel.FilterParam.dtId,
            lastIdx: ListCashBackModel.ListPlaceItemDetail.LastIndex,
            count: ListCashBackModel.ListPlaceItemDetail.Count
        };
        if (ListCashBackModel.FilterParam.cateId != null) {
            param.cateIds = [ListCashBackModel.FilterParam.cateId];
        }

        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function ReloadFilter(app, self) {
        var strParam = "c" + ListCashBackModel.FilterParam.cateId + "-s" + ListCashBackModel.FilterParam.sortType + "-ct" + ListCashBackModel.FilterParam.citId + "-dt" + ListCashBackModel.FilterParam.dtId;
        ListCashBackModel.FilterItemSlug = "ct" + ListCashBackModel.FilterParam.citId + "-dt" + ListCashBackModel.FilterParam.dtId;
        var urlbase = "/hoan-tien-all/";
        // console.log(app.views.current.router.url);
        app.views.current.router.updateCurrentUrl(urlbase + strParam);
    };

    export default {
        data: function () {
            return ListCashBackModel;
        },
        methods: {
            CityChange: function (cityId, cityName) {
                var self = this;
                var app = self.$app;
                ListCashBackModel.FilterParam.idx = null;
                ListCashBackModel.FilterParam.citId = cityId;
                ListCashBackModel.FilterParam.citName = cityName;
                ListCashBackModel.FilterParam.dtId = 0;
                ListCashBackModel.FilterParam.dtName = 'Tất cả';

                ListData(app, self, function () {
                    app.popup.close(".cas-location-popup");
                });
                ReloadFilter(app, self);
            },
            ShowInfoCashBack: function (id) {
                var self = this;
                var app = self.$app;
                app.preloader.show();
                GetInfo(app, id, function (res) {
                    ListCashBackModel.ItemDetail = res;
                    ListCashBackModel.ListPlaceItemDetail.LastIndex = 0;
                    ListPlaceItemDetail(app, function (res) {
                        ListCashBackModel.ListPlaceItemDetail = res;
                        self.$setState(ListCashBackModel);
                        app.popup.open(".cas-view-more");
                        app.preloader.hide();

                        if (ListCashBackModel.ListPlaceItemDetail.LastIndex >= ListCashBackModel.ListPlaceItemDetail.TotalItems) {
                            $$('#btnMorePlaces').hide();
                        } else {
                            $$('#btnMorePlaces').show();
                        }

                    });

                });
            },
            LoadMorePlaces: function () {
                var self = this;
                var app = self.$app;


                ListPlaceItemDetail(app, function (res) {
                    console.log(res);

                    ListCashBackModel.ListPlaceItemDetail.Items = ListCashBackModel.ListPlaceItemDetail.Items.concat(res.Items);
                    ListCashBackModel.ListPlaceItemDetail.LastIndex = res.LastIndex;
                    ListCashBackModel.ListPlaceItemDetail.PageCount = res.PageCount;
                    ListCashBackModel.ListPlaceItemDetail.TotalItems = res.TotalItems;
                    self.$setState(ListCashBackModel);

                    app.preloader.hide();

                    if (ListCashBackModel.ListPlaceItemDetail.LastIndex >= ListCashBackModel.ListPlaceItemDetail.TotalItems) {
                        $$('#btnMorePlaces').hide();
                    } else {
                        $$('#btnMorePlaces').show();
                    }

                });
            },
            KeywordsChanged: function (a, b, c) {
                //var target = this;
                //debugger
            }
        },
        on: {
            pageInit: function () {
                var self = this;
                var app = self.$app;
                var params = self.$route.params;
                debugger;
                if (Object.keys(params).length !== 0) {
                    ListCashBackModel.FilterParam.cateId = parseInt(params.cateId);
                    ListCashBackModel.FilterParam.sortType = parseInt(params.sortType);
                    ListCashBackModel.FilterParam.citId = parseInt(params.citId);
                    ListCashBackModel.FilterParam.dtId = parseInt(params.dtId);

                    ListCashBackModel.FilterItemSlug = "ct" + ListCashBackModel.FilterParam.citId + "-dt" + ListCashBackModel.FilterParam.dtId;
                }

                //ValidateAccessToken(app, self.$route, function (res) {
                //    console.log(res);
                //});
debugger;
                ListData(app, self, function () {
                    console.log('Done');
                });

                //var casViewMore = app.popup.create({
                //    el: '.cas-view-more',
                //    swipeToClose: "to-bottom",
                //});
                //casViewMore.on('open', function (popup) {
                //    // console.log('Popup open');
                //    // console.log(popup.el);
                //    const ele = popup.el;
                //    const saleMoreCon = ele.querySelector(".js-pron-viewmore");
                //    const saleMore = ele.querySelector(".js-pron-viewmore-content");
                //    const saleMoreBtn = ele.querySelector(".js-pron-viewmore-btn");
                //    const saleMoreHeight = saleMore.scrollHeight;

                //    if (saleMoreHeight > 80) {
                //        saleMoreCon.classList.add("active");

                //        saleMoreCon.classList.add("is-long");

                //        if (!saleMoreBtn.isClick) {
                //            saleMoreBtn.addEventListener("click", function () {
                //                if (saleMoreCon.classList.contains("active")) {
                //                    saleMore.style.setProperty("max-height", saleMoreHeight + "px");
                //                    saleMoreCon.classList.remove("active");
                //                } else {
                //                    saleMore.style.setProperty("max-height", "80px");
                //                    saleMoreCon.classList.add("active");
                //                }
                //            });
                //            saleMoreBtn.isClick = true;
                //        }

                //    }
                //});


                // create searchbar
                //var searchbar = app.searchbar.create({
                //    el: '.searchbar-main',
                //    searchContainer: '.cas-container',
                //    searchItem: '.cas-item',
                //    searchIn: '.cas-item-content .name',
                //    on: {
                //        search(sb, query, previousQuery) {
                //            console.log(query, previousQuery);
                //        }
                //    }
                //});

                var searchbarLocation = app.searchbar.create({
                    el: '.searchbar-location',
                    searchContainer: '.list',
                    searchIn: '.item-title',
                    on: {
                        search(sb, query, previousQuery) {
                            console.log(query, previousQuery);
                        }
                    }
                });
                $$('#txtKeywords').on('change', function (e) {
                    var target = this;
                    //if (window.db == 1) {
                    //    debugger
                    //}
                    if (self.IsLoading)
                        return;

                    self.IsLoading = true;
                    clearTimeout(self._timeoutKeywords);

                    self._timeoutKeywords = setTimeout(function () {

                        $$('.infinite-scroll-preloader').show();
                        ListCashBackModel.FilterParam.query = target.value;
                        ListCashBackModel.FilterParam.idx = null;

                        ListItem(app, function (res) {
                            ListCashBackModel.FilterParam.idx = res.LastIndex;
                            ListCashBackModel.FilterParam.total = res.TotalItems;
                            ListCashBackModel.ListItem = res.Items;

                            if (res.LastIndex >= res.TotalItems) {
                                //app.infiniteScroll.destroy('.infinite-scroll-content');
                                // Remove preloader
                                $$('.infinite-scroll-preloader').hide();
                            }
                            self.$setState(ListCashBackModel);
                            app.preloader.hide();
                            self.IsLoading = false;
                            self.IsScroll = true;

                            setTimeout(function () {
                                self.IsScroll = false;
                            }, 500);

                        });
                    }, 500);

                });
                $$('.infinite-scroll-content').on('infinite', function () {
                    // Exit, if loading in progress

                    //if (window.db == 1) {
                    //    debugger
                    //}

                    if (self.IsLoading || self.IsScroll)
                        return;
                    //debugger
                    if (self.FilterParam.idx >= self.FilterParam.total) {
                        $$('.infinite-scroll-preloader').hide();
                        return;
                    }
                    self.IsLoading = true;
                    self.IsScroll = true;
                    //clearTimeout(self._timeoutKeywords);
                    // self._timeoutKeywords = setTimeout(function () {
                    // Set loading flag

                    $$('.infinite-scroll-preloader').show();
                    ListItem(app, function (res) {
                        ListCashBackModel.FilterParam.idx = res.LastIndex;
                        ListCashBackModel.FilterParam.total = res.TotalItems;
                        for (var i = 0; i < res.Items.length; i++) {
                            ListCashBackModel.ListItem.push(res.Items[i]);
                        }

                        if (res.LastIndex >= res.TotalItems) {
                            //app.infiniteScroll.destroy('.infinite-scroll-content');
                            // Remove preloader
                            $$('.infinite-scroll-preloader').hide();
                        }
                        self.$setState(ListCashBackModel);
                        self.IsLoading = false;
                        self.IsScroll = false;
                        app.preloader.hide();

                    });

                    //}, 500);


                });

            },
            //pageAfterIn: function (e, page) {
            //    var self = this;
            //    var app = self.$app;

            //    $$('#ddlCategory').on('change', function (e) {
            //        console.log($$(this).val());
            //    });
            //    $$('#ddlSort').on('change', function (e) {
            //        console.log($$(this).val());
            //    });
            //    $$('#ddlDistrict').on('change', function (e) {
            //        console.log($$(this).val());
            //    });

            //},
        },
    };

</script>