﻿<template>
    <div class="page" data-name="cashback">
        <div class="navbar navbar-search">
            <div class="navbar-inner sliding">
                <form class="searchbar searchbar-main">
                    <div class="searchbar-inner pr-0">
                        <div class="searchbar-input-wrap">
                            <input type="search" placeholder="Nhập tên cửa hàng, dịch vụ">
                            <i class="searchbar-icon"></i>
                            <span class="input-clear-button"></span>
                        </div>
                        <!-- <span class="searchbar-disable-button if-not-aurora">Hủy</span> -->
                    </div>
                </form>


                <div class="right">
                    <div class="location-select">
                        <!-- <a href="/location-select/" class="">TP. HCM <i class="f7-icons">chevron_down</i></a> -->
                        <a href="#" data-popup=".cas-location-popup" class="popup-open">
                            {{FilterParam.citName}} <i class="f7-icons">chevron_down</i>
                        </a>
                    </div>
                </div>




            </div>

            <div class="cashback-filter">
                <div class="cashback-filter-item">

                    <div class="nhan">Danh mục</div>
                    <a class="geffen-smart smart-select ss-category">

                        <select id="ddlCategory">
                            {{#each ListCategory}}
                            <option label="{{Name}}" value="{{Id}}" {{#js_if "this.Id == ListCashBackModel.FilterParam.cateId"}} selected="selected" {{/js_if}}
                                    data-option-image="{{Icon}}"
                                    data-option-class="cashback-cat-icon">
                                {{Name}}
                            </option>
                            {{/each}}
                        </select>
                        <div class="item-title"></div>
                    </a>
                </div>
                <div class="cashback-filter-item d-none">
                    <div class="nhan">Sắp xếp</div>

                    <a class="geffen-smart smart-select ss-sort">

                        <select id="ddlSort">
                            {{#each ListSort}}
                            <option value="{{Id}}">{{Name}}</option>
                            {{/each}}
                        </select>
                        <div class="item-title"></div>
                    </a>
                </div>

                <div class="cashback-filter-item">
                    <div class="nhan">Quận huyện</div>

                    <a class="geffen-smart smart-select ss-district">

                        <select id="ddlDistrict">
                            {{#each ListDistrict}}
                            <option label="{{Name}}" value="{{Id}}" {{#js_if "this.Id == ListCashBackModel.FilterParam.dtId"}} selected="selected" {{/js_if}}>{{Name}}</option>
                            {{/each}}
                        </select>
                        <div class="item-title"></div>
                    </a>

                </div>
            </div>
        </div>





        <div class="page-content hide-navbar-on-scroll">

            <div class="cas-container">
                {{#each ListItem}}
                <div class="cas-item">
                    <a href="javascript:void(0)" @click="ShowInfoCashBack({{Id}})" class="link-absolute"></a>
                    <div class="cas-item-avatar">
                        <div class="embed-responsive embed-responsive-1by1">
                            <img src="{{Icon}}"
                                 class="embed-responsive-img lazy" alt="{{ServiceName}}">
                        </div>
                    </div>

                    <div class="cas-item-content">
                        <div class="name ">
                            {{ServiceName}}
                        </div>

                        <div class="desc text-truncate">
                            {{Description}}
                        </div>
                        {{#js_if "this.TopPlace.Total > 0"}}
                        <div class="loc text-truncate">
                            <i class="f7-icons lutie-15 ">placemark_fill</i> {{TopPlace.Total}} địa điểm
                        </div>
                        {{/js_if}}
                    </div>

                    <div class="cas-item-value">
                        <div class="cas-item-number ">

                            <div>
                                Hoàn tiền
                                <span class="font-weight-bold text-color-red">50%</span>
                                <!--<span class="font-weight-bold text-color-red">{{Value}}%</span>-->
                            </div>

                        </div>
                    </div>

                </div>
                {{/each}}

            </div>






        </div>



        <div class="popup demo-popup-swipe-handler cas-view-more">
            <div class="page">
                <div class="swipe-handler popup-close"></div>
                {{#js_if "this.ItemDetail.PaymentMethodCode == 'MATHANHTOAN'"}}
                <div class="toolbar toolbar-bottom toolbar-large">
                    <div class="toolbar-inner">
                        <div class=" w-100">
                            <p class="row mb-0 ">
                                <a href="momo://?refId=PaymentAtPOSTab1" class="external col button button-fill button-large color-pink  ">
                                    Thanh toán ngay
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {{/js_if}}
                {{#js_if "this.ItemDetail.PaymentMethodCode == 'QUETMA'"}}
                <div class="toolbar toolbar-bottom toolbar-large">
                    <div class="toolbar-inner">
                        <div class=" w-100">
                            <p class="row mb-0 ">
                                <a href="momo://?refId=ScanQRCode" class="external col button button-fill button-large color-pink  ">
                                    Thanh toán ngay
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {{/js_if}}
                <div class="page-content">
                    <div class="pron-container balance cas-quickview">

                        <div class="pron-row no-gutters">
                            <div class="pron-col auto">
                                <div class="izlu-avatar medium">
                                    <img class="img-fluid" alt=""
                                         src="{{ItemDetail.Icon}}">
                                </div>
                            </div>
                            <div class="pron-col ">
                                <div class="cas-quickview-heading">
                                    <div class="cas-quickview-title font-weight-bold ">{{ItemDetail.ServiceName}}</div>

                                    <div class="cas-quickview-sub">
                                        {{ItemDetail.Description}}
                                    </div>

                                </div>
                            </div>

                            <div class="pron-col auto">
                                <div class="cas-item-number ">
                                    <div>
                                        Hoàn tiền
                                        <span class="font-weight-bold text-color-red">50%</span>
                                        <!--<span class="font-weight-bold text-color-red">{{ItemDetail.Value}}%</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-4">
                            <!--<div class="pron-row mb-2 align-items-center no-gutters">
                                <div class="pron-col auto">
                                    <img src="https://momo.vn/styles/desktop/images/cashback/heo-cashback.svg" width="44" class="mr-2"
                                         alt="">
                                </div>
                                <div class="pron-col ">
                                    <h3 class="mt-0 mb-0 text-momo">
                                        Hoàn tiền tại Circle K <strong class="">5%</strong> cùng Ví MoMo
                                    </h3>
                                </div>
                            </div>-->
                            <div class="js-pron-viewmore mb-3 active">
                                <div class="js-pron-viewmore-content" style="max-height: 80px;">
                                    <div class="izlude-cbs-sale">
                                        {{ItemDetail.Content}}
                                        <br />
                                        - Mỗi khách hàng chỉ được hoàn tiền 1 lần duy nhất cho mỗi nhóm ưu đãi.
                                        Xem chi tiết điều kiện <a class="external" href="https://momo.vn/hoan-tien/megaday?utm_source=webinapp&utm_medium=organic&utm_campaign=megaday&utm_content=20191031_infocashback">tại đây</a>.
                                    </div>

                                </div>
                                <div class="js-pron-viewmore-btn">

                                    <div class="py-2">
                                        <a href="#" class="  open">Xem thêm <i class="f7-icons">chevron_down</i> </a>

                                        <a href="#" class="  close">
                                            Rút gọn <i class="f7-icons">chevron_up</i>
                                        </a>
                                    </div>

                                </div>

                            </div>

                            {{#js_if "this.ListPlaceItemDetail.TotalItems > 0"}}
                            <div class="mb-3 border-top pt-4 ">
                                {{ListPlaceItemDetail.TotalItems}} cửa hàng
                                {{#js_if "this.FilterParam.citId != 0 || this.FilterParam.dtId != 0"}}
                                tại <span class="text-color-blue font-weight-bold">
                                    {{#js_if "this.FilterParam.dtId != 0"}}
                                    {{FilterParam.dtName}} -
                                    {{/js_if}}
                                    {{#js_if "this.FilterParam.citId != 0"}}
                                    {{FilterParam.citName}}
                                    {{/js_if}}
                                </span>
                                {{/js_if}}
                            </div>
                            {{/js_if}}
                            <div class="list media-list inset cas-address-list p-0 m-0">
                                <ul class="shadow-1">
                                    {{#each ListPlaceItemDetail.Items}}
                                    <li>
                                        <div class="item-content ">

                                            <div class="item-inner">

                                                <div class="pron-row no-gutter align-items-center">
                                                    <div class="pron-col">
                                                        <div class="text-truncate text-gray lutie-13">{{Name}}</div>
                                                    </div>
                                                    {{#js_if "this.Position != null"}}
                                                    <div class="pron-col auto">
                                                        <a href="https://maps.google.com/maps?daddr={{Position.Lat}},{{Position.Lng}}" class="lutie-13 link external cas-address-navi"><i class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                                                    </div>
                                                    {{else}}
                                                    <div class="pron-col auto">
                                                        <a href="https://maps.google.com/maps?daddr={{Address}}" class="lutie-13 link external cas-address-navi"><i class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                                                    </div>
                                                    {{/js_if}}
                                                </div>
                                                <div class="lutie-14 cas-address-name  ">
                                                    {{Address}}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                                <!--<div class="text-center p-3" style="display:none;" id="pnlLoadMore">
                                    <div class="preloader  infinite-scroll-preloader"></div>
                                </div>-->
                            </div>

                            <div class="py-3 text-center " id="btnMorePlaces" @click="LoadMorePlaces">
                                <a href="#" class=" button button-outline button-round d-inline-block">
                                    Xem
                                    thêm
                                </a>
                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>

        <!-- And somewhere in DOM -->
        <div class="popup cas-location-popup">
            <div class="view">
                <div class="page">

                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="title">Chọn Tỉnh/Thành phố</div>
                            <div class="right">
                                <!-- Link to close popup -->
                                <a class="link popup-close">Đóng</a>
                            </div>

                            <div class="subnavbar">
                                <form class="searchbar searchbar-location">
                                    <div class="searchbar-inner">
                                        <div class="searchbar-input-wrap">
                                            <input type="search" placeholder="Tìm kiếm">
                                            <i class="searchbar-icon"></i>
                                            <span class="input-clear-button"></span>
                                        </div>
                                        <span class="searchbar-disable-button if-not-aurora">Xóa</span>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>



                    <div class="page-content">
                        <!-- Searchbar backdrop -->
                        <div class="searchbar-backdrop"></div>

                        <!-- search target list -->
                        <div class="list media-list pt-3">
                            <ul>
                                {{#each ListCity}}
                                <li>
                                    <label class="item-radio item-content">
                                        <input type="radio" name="demo-media-radio" value="{{Id}}" {{#js_if "this.Id == ListCashBackModel.FilterParam.citId"}} checked{{/js_if}} />
                                        <i class="icon icon-radio" checked></i>
                                        <div class="item-inner" @click="CityChange({{Id}},'{{Name}}')">
                                            <div class="item-title-row">
                                                <div class="item-title">{{Name}}</div>
                                            </div>
                                            <div class="text-color-gray lutie-12">{{TotalPlace}} thương hiệu</div>
                                        </div>
                                    </label>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <!-- Nothing found message -->
                        <div class="block searchbar-not-found">
                            <div class="block-inner">Nothing found</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>



</template>



<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage } from '../../js/custom.js'

    function ListData(app, self, fnc) {
        app.preloader.show();
        GetMasterData(app, function () {
            ListItem(app, function (res) {
                ListCashBackModel.ListItem = res.Items;
                self.$setState(ListCashBackModel);
                InitSmartSelect(app, self)
                app.preloader.hide();
                if (fnc != undefined) {
                    fnc();
                }
            });
        });
    };
    function GetMasterData(app, fnc) {
        ListCate(app, function (res) {
            ListCashBackModel.ListCategory = res;
            ListCities(app, function (res) {
                ListCashBackModel.ListCity = res;
                if (ListCashBackModel.FilterParam.citId != 0) {
                    ListCashBackModel.FilterParam.citName = res.find(x => x.Id === ListCashBackModel.FilterParam.citId).Name;

                    ListDistricts(app, function (res) {
                        ListCashBackModel.ListDistrict = res;
                        var dis = res.find(x => x.Id === ListCashBackModel.FilterParam.dtId);
                        if (dis)
                            ListCashBackModel.FilterParam.dtName = dis.Name;
                        fnc();
                    });
                }
                else {
                    fnc();
                }
            });
        });
    };
    function ListCities(app, fnc) {
        var url = System.apihost + '/api/cashback/ListCitiesMega';
        var param = {
            cateId: ListCashBackModel.FilterParam.cateId == 0 ? null : ListCashBackModel.FilterParam.cateId,
            group: ListCashBackModel.FilterParam.group == 0 ? null : ListCashBackModel.FilterParam.group,
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };
    function ListDistricts(app, fnc) {
        var url = System.apihost + '/api/cashback/ListDistrictsMega';
        var param = {
            cateId: ListCashBackModel.FilterParam.cateId == 0 ? null : ListCashBackModel.FilterParam.cateId,
            citId: ListCashBackModel.FilterParam.citId == 0 ? null : ListCashBackModel.FilterParam.citId,
            group: ListCashBackModel.FilterParam.group == 0 ? null : ListCashBackModel.FilterParam.group,
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            res.unshift(ListCashBackModel.DefaultItemList)
            fnc(res);

        });
    };
    function ListCate(app, fnc) {
        var url = System.apihost + '/api/cashback/ListCateMega';
        var param = {
            citId: ListCashBackModel.FilterParam.citId == 0 ? null : ListCashBackModel.FilterParam.citId,
            dtId: ListCashBackModel.FilterParam.dtId == 0 ? null : ListCashBackModel.FilterParam.dtId,
            group: ListCashBackModel.FilterParam.group == 0 ? null : ListCashBackModel.FilterParam.group,
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            var itemAll = {
                Id: 0,
                Name: 'Tất cả',
                Icon: "https://static.mservice.io/images/s/momo-upload-api-191022175624-637073637844965662.png"
            }

            if (ListCashBackModel.FilterParam.group == 11) {
                itemAll.Name = "Ăn chơi mua sắm";
            }
            if (ListCashBackModel.FilterParam.group == 12) {
                itemAll.Name = "Hẹn hò cà phê";
            }
            if (ListCashBackModel.FilterParam.group == 13) {
                itemAll.Name = "Vi vu đổ xăng";
            }

            //res.unshift(ListCashBackModel.DefaultItemList)
            res.unshift(itemAll);
            fnc(res);

        });
    };
    function ListItem(app, fnc) {
        var url = System.apihost + '/api/cashback/SearchMega';
        var param = {
            count: ListCashBackModel.FilterParam.count,
            cateId: ListCashBackModel.FilterParam.cateId == 0 ? null : ListCashBackModel.FilterParam.cateId,
            citId: ListCashBackModel.FilterParam.citId == 0 ? null : ListCashBackModel.FilterParam.citId,
            dtId: ListCashBackModel.FilterParam.dtId == 0 ? null : ListCashBackModel.FilterParam.dtId,
            group: ListCashBackModel.FilterParam.group == 0 ? null : ListCashBackModel.FilterParam.group,
            sortType: ListCashBackModel.FilterParam.sortType
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);
        });
    };
    function InitSmartSelect(app, self) {
        var ddlCategory = app.smartSelect.get(".ss-category");
        if (ddlCategory == undefined) {
            app.smartSelect.create({
                el: '.ss-category',
                openIn: 'popup',
                closeOnSelect: true,
                pageTitle: 'Chọn Danh mục',
                popupCloseLinkText: 'Đóng',
                cssClass: 'popup-smartselect',
                routableModals: false
            });
            $$('#ddlCategory').on('change', function (e) {
                ListCashBackModel.FilterParam.cateId = parseInt($$(this).val());
                ListCashBackModel.FilterParam.cateName = $$(this).children(':selected').text();
                ListData(app, self);
                ReloadFilter(app, self);
            });
        }
        var ddlSort = app.smartSelect.get(".ss-sort");
        if (ddlSort == undefined) {
            app.smartSelect.create({
                el: '.ss-sort',
                openIn: 'popup',
                pageTitle: 'Sắp xếp',
                closeOnSelect: true,
                popupCloseLinkText: 'Đóng',
                cssClass: 'popup-smartselect',
                routableModals: false
            });
            $$('#ddlSort').on('change', function (e) {
                ListCashBackModel.FilterParam.sortType = parseInt($$(this).val());
                ListData(app, self);
                ReloadFilter(app, self);
            });
        }
        var ddlDistrict = app.smartSelect.get(".ss-district");
        if (ddlDistrict == undefined) {
            app.smartSelect.create({
                el: '.ss-district',
                openIn: 'popup',
                pageTitle: 'Chọn Quận/Huyện',
                popupCloseLinkText: 'Đóng',
                closeOnSelect: true,
                cssClass: 'popup-smartselect',
                routableModals: false,
                on: {
                    beforeOpen: function (target, prevent) {
                        if (!ListCashBackModel.FilterParam.citId) {
                            app.dialog.alert('Vui lòng chọn Tỉnh/Thành phố');
                            prevent();
                            return;
                        }
                    }
                }
            });
            $$('#ddlDistrict').on('change', function (e) {
                ListCashBackModel.FilterParam.dtId = parseInt($$(this).val());
                ListCashBackModel.FilterParam.dtName = $$(this).children(':selected').text();
                ListData(app, self);
                ReloadFilter(app, self);
            });
        } else {
            var value = ddlDistrict.getValue();
            if (value != 'Tất cả')
                ddlDistrict.setValue(ListCashBackModel.FilterParam.dtId);
        }
    };

    function GetInfo(app, id, fnc) {
        var url = System.apihost + '/api/cashback/GetInfoMega';
        var param = {
            id: id
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };
    function ListPlaceItemDetail(app, fnc) {
        app.preloader.show();
        var url = System.apihost + '/api/place/Search';
        var param = {
            brandId: ListCashBackModel.ItemDetail.Id == null ? 0 : ListCashBackModel.ItemDetail.Id,
            citId: ListCashBackModel.FilterParam.citId == 0 ? null : ListCashBackModel.FilterParam.citId,
            dtId: ListCashBackModel.FilterParam.dtId == 0 ? null : ListCashBackModel.FilterParam.dtId,
            lastIdx: ListCashBackModel.ListPlaceItemDetail.LastIndex,
            count: ListCashBackModel.ListPlaceItemDetail.Count
        };
        if (ListCashBackModel.FilterParam.cateId != null) {
            param.cateIds = [ListCashBackModel.FilterParam.cateId];
        }

        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function ReloadFilter(app, self) {
        var strParam = "c" + ListCashBackModel.FilterParam.cateId + "-ct" + ListCashBackModel.FilterParam.citId + "-dt" + ListCashBackModel.FilterParam.dtId + "-g" + ListCashBackModel.FilterParam.group;

        var urlbase = "/hoan-tien/";
        // console.log(app.views.current.router.url);
        app.views.current.router.updateCurrentUrl(urlbase + strParam);
    };

    export default {
        data: function () {
            ListCashBackModel = {
                ListCity: [{
                    Id: null,
                    Name: 'Tất cả'
                }],
                ListDistrict: [{
                    Id: null,
                    Name: 'Tất cả'
                }],
                ListCategory: [{
                    Id: null,
                    Name: 'Tất cả'
                }],
                ListSort: [
                    {
                        Id: 1,
                        Name: 'Mặc định'
                    },
                    {
                        Id: 2,
                        Name: 'Tỉ lệ hoàn cao nhất'
                    },
                    {
                        Id: 3,
                        Name: 'Tỉ lệ hoàn thấp nhất'
                    },
                    {
                        Id: 4,
                        Name: 'Mới nhất'
                    },
                ],
                ListItem: [],
                FilterParam: {
                    count: 10000,
                    lastIdx: 0,
                    cateId: 0,
                    citId: 0,
                    dtId: 0,
                    query: null,
                    group: 0,
                    sortType: 1,
                    citName: 'Chọn Tỉnh/Thành',
                    cateName: 'Tất cả',
                    dtName: 'Tất cả',
                },
                DefaultItemList: {
                    Id: 0,
                    Name: 'Tất cả',
                    Icon: "https://static.mservice.io/images/s/momo-upload-api-191022175624-637073637844965662.png"
                },
                ItemDetail: {},
                ListPlaceItemDetail: {
                    LastIndex: 0,
                    Count: 20,
                    Items: []
                }
            };

            return ListCashBackModel;
        },
        methods: {
            CityChange: function (cityId, cityName) {
                var self = this;
                var app = self.$app;
                ListCashBackModel.FilterParam.citId = cityId;
                ListCashBackModel.FilterParam.citName = cityName;
                ListCashBackModel.FilterParam.dtId = 0;
                ListCashBackModel.FilterParam.dtName = 'Tất cả';

                ListData(app, self, function () {
                    app.popup.close(".cas-location-popup");
                });
                ReloadFilter(app, self);
            },
            ShowInfoCashBack: function (id) {
                var self = this;
                var app = self.$app;
                app.preloader.show();
                GetInfo(app, id, function (res) {
                    ListCashBackModel.ItemDetail = res;
                    ListCashBackModel.ListPlaceItemDetail.LastIndex = 0;
                    ListPlaceItemDetail(app, function (res) {
                        ListCashBackModel.ListPlaceItemDetail = res;
                        self.$setState(ListCashBackModel);
                        app.popup.open(".cas-view-more");
                        app.preloader.hide();

                        if (ListCashBackModel.ListPlaceItemDetail.LastIndex >= ListCashBackModel.ListPlaceItemDetail.TotalItems) {
                            $$('#btnMorePlaces').hide();
                        } else {
                            $$('#btnMorePlaces').show();
                        }

                    });

                });
            },
            LoadMorePlaces: function () {
                var self = this;
                var app = self.$app;


                ListPlaceItemDetail(app, function (res) {
                    console.log(res);

                    ListCashBackModel.ListPlaceItemDetail.Items = ListCashBackModel.ListPlaceItemDetail.Items.concat(res.Items);
                    ListCashBackModel.ListPlaceItemDetail.LastIndex = res.LastIndex;
                    ListCashBackModel.ListPlaceItemDetail.PageCount = res.PageCount;
                    ListCashBackModel.ListPlaceItemDetail.TotalItems = res.TotalItems;
                    self.$setState(ListCashBackModel);

                    app.preloader.hide();

                    if (ListCashBackModel.ListPlaceItemDetail.LastIndex >= ListCashBackModel.ListPlaceItemDetail.TotalItems) {
                        $$('#btnMorePlaces').hide();
                    } else {
                        $$('#btnMorePlaces').show();
                    }

                });
            }
        },
        on: {
            pageInit: function () {
                var self = this;
                var app = self.$app;
                var params = self.$route.params;
                if (!jQuery.isEmptyObject(params)) {
                    ListCashBackModel.FilterParam.cateId = parseInt(params.cateId);
                    ListCashBackModel.FilterParam.citId = parseInt(params.citId);
                    ListCashBackModel.FilterParam.dtId = parseInt(params.dtId);
                    ListCashBackModel.FilterParam.group = parseInt(params.group);
                }

                //ValidateAccessToken(app, self.$route, function (res) {
                //    console.log(res);
                //});

                ListData(app, self, function () {
                    console.log('Done');
                });

                var casViewMore = app.popup.create({
                    el: '.cas-view-more',
                    swipeToClose: "to-bottom",
                });
                casViewMore.on('open', function (popup) {
                    // console.log('Popup open');
                    // console.log(popup.el);
                    const ele = popup.el;
                    const saleMoreCon = ele.querySelector(".js-pron-viewmore");
                    const saleMore = ele.querySelector(".js-pron-viewmore-content");
                    const saleMoreBtn = ele.querySelector(".js-pron-viewmore-btn");
                    const saleMoreHeight = saleMore.scrollHeight;

                    if (saleMoreHeight > 80) {
                        saleMoreCon.classList.add("active");

                        saleMoreCon.classList.add("is-long");

                        if (!saleMoreBtn.isClick) {
                            saleMoreBtn.addEventListener("click", function () {
                                if (saleMoreCon.classList.contains("active")) {
                                    saleMore.style.setProperty("max-height", saleMoreHeight + "px");
                                    saleMoreCon.classList.remove("active");
                                } else {
                                    saleMore.style.setProperty("max-height", "80px");
                                    saleMoreCon.classList.add("active");
                                }
                            });
                            saleMoreBtn.isClick = true;
                        }

                    }
                });


                // create searchbar
                var searchbar = app.searchbar.create({
                    el: '.searchbar-main',
                    searchContainer: '.cas-container',
                    searchItem: '.cas-item',
                    searchIn: '.cas-item-content .name',
                    on: {
                        search(sb, query, previousQuery) {
                            console.log(query, previousQuery);
                        }
                    }
                });

                var searchbarLocation = app.searchbar.create({
                    el: '.searchbar-location',
                    searchContainer: '.list',
                    searchIn: '.item-title',
                    on: {
                        search(sb, query, previousQuery) {
                            console.log(query, previousQuery);
                        }
                    }
                });



            },
            //pageAfterIn: function (e, page) {
            //    var self = this;
            //    var app = self.$app;

            //    $$('#ddlCategory').on('change', function (e) {
            //        console.log($$(this).val());
            //    });
            //    $$('#ddlSort').on('change', function (e) {
            //        console.log($$(this).val());
            //    });
            //    $$('#ddlDistrict').on('change', function (e) {
            //        console.log($$(this).val());
            //    });

            //},
        },
    };

</script>