﻿<template>
    <div class="page" data-name="cashback">
        <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
                <div class=" w-100">
                    <p class="row mb-0 ">
                        <a href="/hoan-tien-all" class="col button button-fill button-large color-pink">
                            XEM ƯU ĐÃI HOÀN TIỀN KHÁC
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="page-content hide-navbar-on-scroll">
            <div class="text-center mt-8 pt-8">
                <img src="https://static.mservice.io/images/s/momo-upload-api-191101165824-637082243045694894.png"
                    width="350" class="img-fluid mx-auto" alt="">
            </div>

            <div class="text-center mt-4 px-3 mb-4" style="font-size: 15px; line-height: 1.6;">
                <strong>Ngày hội MoMo - Siêu hoàn tiền 50%</strong> duy nhất <strong>1/11</strong> đã chính thức khép
                lại. <br>Ví điện tử <strong>MoMo</strong> trân trọng cám ơn quý đối tác và hàng triệu người dùng đã yêu
                mến, tin tưởng và
                ủng hộ.
            </div>
        </div>
    </div>



</template>



<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage } from '../../js/custom.js'
    var ListCashBackModel = {
        ListCity: [{
            Id: null,
            Name: 'Tất cả'
        }],
        ListDistrict: [{
            Id: null,
            Name: 'Tất cả'
        }],
        ListCategory: [{
            Id: null,
            Name: 'Tất cả'
        }],
        ListSort: [
            {
                Id: 1,
                Name: 'Mặc định'
            },
            {
                Id: 2,
                Name: 'Tỉ lệ hoàn cao nhất'
            },
            {
                Id: 3,
                Name: 'Tỉ lệ hoàn thấp nhất'
            },
            {
                Id: 4,
                Name: 'Mới nhất'
            },
        ],
        ListItem: [],
        FilterParam: {
            count: 10000,
            lastIdx: 0,
            cateId: 0,
            citId: 0,
            dtId: 0,
            query: null,
            group: 0,
            sortType: 1,
            citName: 'Chọn Tỉnh/Thành',
            cateName: 'Tất cả',
            dtName: 'Tất cả',
        },
        DefaultItemList: {
            Id: 0,
            Name: 'Tất cả',
            Icon: "https://static.mservice.io/images/s/momo-upload-api-191022175624-637073637844965662.png"
        },
        ItemDetail: {},
        ListPlaceItemDetail: {
            LastIndex: 0,
            Count: 20,
            Items: []
        }
    };
    function ListData(app, self, fnc) {
        app.preloader.show();
        GetMasterData(app, function () {
            ListItem(app, function (res) {
                ListCashBackModel.ListItem = res.Items;
                self.$setState(ListCashBackModel);
                InitSmartSelect(app, self)
                app.preloader.hide();
                if (fnc != undefined) {
                    fnc();
                }
            });
        });
    };
    function GetMasterData(app, fnc) {
        ListCate(app, function (res) {
            ListCashBackModel.ListCategory = res;
            ListCities(app, function (res) {
                ListCashBackModel.ListCity = res;
                if (ListCashBackModel.FilterParam.citId != 0) {
                    ListCashBackModel.FilterParam.citName = res.find(x => x.Id === ListCashBackModel.FilterParam.citId).Name;

                    ListDistricts(app, function (res) {
                        ListCashBackModel.ListDistrict = res;
                        var dis = res.find(x => x.Id === ListCashBackModel.FilterParam.dtId);
                        if (dis)
                            ListCashBackModel.FilterParam.dtName = dis.Name;
                        fnc();
                    });
                }
                else {
                    fnc();
                }
            });
        });
    };
    function ListCities(app, fnc) {
        var url = System.apihost + '/api/cashback/ListCitiesMega';
        var param = {
            cateId: ListCashBackModel.FilterParam.cateId == 0 ? null : ListCashBackModel.FilterParam.cateId,
            group: ListCashBackModel.FilterParam.group == 0 ? null : ListCashBackModel.FilterParam.group,
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };
    function ListDistricts(app, fnc) {
        var url = System.apihost + '/api/cashback/ListDistrictsMega';
        var param = {
            cateId: ListCashBackModel.FilterParam.cateId == 0 ? null : ListCashBackModel.FilterParam.cateId,
            citId: ListCashBackModel.FilterParam.citId == 0 ? null : ListCashBackModel.FilterParam.citId,
            group: ListCashBackModel.FilterParam.group == 0 ? null : ListCashBackModel.FilterParam.group,
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            res.unshift(ListCashBackModel.DefaultItemList)
            fnc(res);

        });
    };
    function ListCate(app, fnc) {
        var url = System.apihost + '/api/cashback/ListCateMega';
        var param = {
            citId: ListCashBackModel.FilterParam.citId == 0 ? null : ListCashBackModel.FilterParam.citId,
            dtId: ListCashBackModel.FilterParam.dtId == 0 ? null : ListCashBackModel.FilterParam.dtId,
            group: ListCashBackModel.FilterParam.group == 0 ? null : ListCashBackModel.FilterParam.group,
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            var itemAll = {
                Id: 0,
                Name: 'Tất cả',
                Icon: "https://static.mservice.io/images/s/momo-upload-api-191022175624-637073637844965662.png"
            }

            if (ListCashBackModel.FilterParam.group == 11) {
                itemAll.Name = "Ăn chơi mua sắm";
            }
            if (ListCashBackModel.FilterParam.group == 12) {
                itemAll.Name = "Hẹn hò cà phê";
            }
            if (ListCashBackModel.FilterParam.group == 13) {
                itemAll.Name = "Vi vu đổ xăng";
            }

            //res.unshift(ListCashBackModel.DefaultItemList)
            res.unshift(itemAll);
            fnc(res);

        });
    };
    function ListItem(app, fnc) {
        var url = System.apihost + '/api/cashback/SearchMega';
        var param = {
            count: ListCashBackModel.FilterParam.count,
            cateId: ListCashBackModel.FilterParam.cateId == 0 ? null : ListCashBackModel.FilterParam.cateId,
            citId: ListCashBackModel.FilterParam.citId == 0 ? null : ListCashBackModel.FilterParam.citId,
            dtId: ListCashBackModel.FilterParam.dtId == 0 ? null : ListCashBackModel.FilterParam.dtId,
            group: ListCashBackModel.FilterParam.group == 0 ? null : ListCashBackModel.FilterParam.group,
            sortType: ListCashBackModel.FilterParam.sortType
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);
        });
    };
    function InitSmartSelect(app, self) {
        var ddlCategory = app.smartSelect.get(".ss-category");
        if (ddlCategory == undefined) {
            app.smartSelect.create({
                el: '.ss-category',
                openIn: 'popup',
                closeOnSelect: true,
                pageTitle: 'Chọn Danh mục',
                popupCloseLinkText: 'Đóng',
                cssClass: 'popup-smartselect',
                routableModals: false
            });
            $$('#ddlCategory').on('change', function (e) {
                ListCashBackModel.FilterParam.cateId = parseInt($$(this).val());
                ListCashBackModel.FilterParam.cateName = this.options[this.selectedIndex].text;
                ListData(app, self);
                ReloadFilter(app, self);
            });
        }
        var ddlSort = app.smartSelect.get(".ss-sort");
        if (ddlSort == undefined) {
            app.smartSelect.create({
                el: '.ss-sort',
                openIn: 'popup',
                pageTitle: 'Sắp xếp',
                closeOnSelect: true,
                popupCloseLinkText: 'Đóng',
                cssClass: 'popup-smartselect',
                routableModals: false
            });
            $$('#ddlSort').on('change', function (e) {
                ListCashBackModel.FilterParam.sortType = parseInt($$(this).val());
                ListData(app, self);
                ReloadFilter(app, self);
            });
        }
        var ddlDistrict = app.smartSelect.get(".ss-district");
        if (ddlDistrict == undefined) {
            app.smartSelect.create({
                el: '.ss-district',
                openIn: 'popup',
                pageTitle: 'Chọn Quận/Huyện',
                popupCloseLinkText: 'Đóng',
                closeOnSelect: true,
                cssClass: 'popup-smartselect',
                routableModals: false,
                on: {
                    beforeOpen: function (target, prevent) {
                        if (!ListCashBackModel.FilterParam.citId) {
                            app.dialog.alert('Vui lòng chọn Tỉnh/Thành phố');
                            prevent();
                            return;
                        }
                    }
                }
            });
            $$('#ddlDistrict').on('change', function (e) {
                ListCashBackModel.FilterParam.dtId = parseInt($$(this).val());
                ListCashBackModel.FilterParam.dtName = this.options[this.selectedIndex].text;
                ListData(app, self);
                ReloadFilter(app, self);
            });
        } else {
            var value = ddlDistrict.getValue();
            if (value != 'Tất cả')
                ddlDistrict.setValue(ListCashBackModel.FilterParam.dtId);
        }
    };

    function GetInfo(app, id, fnc) {
        var url = System.apihost + '/api/cashback/GetInfoMega';
        var param = {
            id: id
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };
    function ListPlaceItemDetail(app, fnc) {
        app.preloader.show();
        var url = System.apihost + '/api/place/Search';
        var param = {
            brandId: ListCashBackModel.ItemDetail.Id == null ? 0 : ListCashBackModel.ItemDetail.Id,
            citId: ListCashBackModel.FilterParam.citId == 0 ? null : ListCashBackModel.FilterParam.citId,
            dtId: ListCashBackModel.FilterParam.dtId == 0 ? null : ListCashBackModel.FilterParam.dtId,
            lastIdx: ListCashBackModel.ListPlaceItemDetail.LastIndex,
            count: ListCashBackModel.ListPlaceItemDetail.Count
        };
        if (ListCashBackModel.FilterParam.cateId != null) {
            param.cateIds = [ListCashBackModel.FilterParam.cateId];
        }

        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function ReloadFilter(app, self) {
        var strParam = "c" + ListCashBackModel.FilterParam.cateId + "-ct" + ListCashBackModel.FilterParam.citId + "-dt" + ListCashBackModel.FilterParam.dtId + "-g" + ListCashBackModel.FilterParam.group;

        var urlbase = "/hoan-tien/";
        // console.log(app.views.current.router.url);
        app.views.current.router.updateCurrentUrl(urlbase + strParam);
    };

    export default {
        data: function () {

            return ListCashBackModel;
        },
        methods: {
            CityChange: function (cityId, cityName) {
                var self = this;
                var app = self.$app;
                ListCashBackModel.FilterParam.citId = cityId;
                ListCashBackModel.FilterParam.citName = cityName;
                ListCashBackModel.FilterParam.dtId = 0;
                ListCashBackModel.FilterParam.dtName = 'Tất cả';

                ListData(app, self, function () {
                    app.popup.close(".cas-location-popup");
                });
                ReloadFilter(app, self);
            },
            ShowInfoCashBack: function (id) {
                var self = this;
                var app = self.$app;
                app.preloader.show();
                GetInfo(app, id, function (res) {
                    ListCashBackModel.ItemDetail = res;
                    ListCashBackModel.ListPlaceItemDetail.LastIndex = 0;
                    ListPlaceItemDetail(app, function (res) {
                        ListCashBackModel.ListPlaceItemDetail = res;
                        self.$setState(ListCashBackModel);
                        app.popup.open(".cas-view-more");
                        app.preloader.hide();

                        if (ListCashBackModel.ListPlaceItemDetail.LastIndex >= ListCashBackModel.ListPlaceItemDetail.TotalItems) {
                            $$('#btnMorePlaces').hide();
                        } else {
                            $$('#btnMorePlaces').show();
                        }

                    });

                });
            },
            LoadMorePlaces: function () {
                var self = this;
                var app = self.$app;


                ListPlaceItemDetail(app, function (res) {
                    console.log(res);

                    ListCashBackModel.ListPlaceItemDetail.Items = ListCashBackModel.ListPlaceItemDetail.Items.concat(res.Items);
                    ListCashBackModel.ListPlaceItemDetail.LastIndex = res.LastIndex;
                    ListCashBackModel.ListPlaceItemDetail.PageCount = res.PageCount;
                    ListCashBackModel.ListPlaceItemDetail.TotalItems = res.TotalItems;
                    self.$setState(ListCashBackModel);

                    app.preloader.hide();

                    if (ListCashBackModel.ListPlaceItemDetail.LastIndex >= ListCashBackModel.ListPlaceItemDetail.TotalItems) {
                        $$('#btnMorePlaces').hide();
                    } else {
                        $$('#btnMorePlaces').show();
                    }

                });
            }
        },
        on: {
            pageInit: function () {
                var self = this;
                var app = self.$app;
                //var params = self.$route.params;
                //if (!jQuery.isEmptyObject(params)) {
                //    ListCashBackModel.FilterParam.cateId = parseInt(params.cateId);
                //    ListCashBackModel.FilterParam.citId = parseInt(params.citId);
                //    ListCashBackModel.FilterParam.dtId = parseInt(params.dtId);
                //    ListCashBackModel.FilterParam.group = parseInt(params.group);
                //}

                ////ValidateAccessToken(app, self.$route, function (res) {
                ////    console.log(res);
                ////});

                //ListData(app, self, function () {
                //    console.log('Done');
                //});

                //var casViewMore = app.popup.create({
                //    el: '.cas-view-more',
                //    swipeToClose: "to-bottom",
                //});
                //casViewMore.on('open', function (popup) {
                //    // console.log('Popup open');
                //    // console.log(popup.el);
                //    const ele = popup.el;
                //    const saleMoreCon = ele.querySelector(".js-pron-viewmore");
                //    const saleMore = ele.querySelector(".js-pron-viewmore-content");
                //    const saleMoreBtn = ele.querySelector(".js-pron-viewmore-btn");
                //    const saleMoreHeight = saleMore.scrollHeight;

                //    if (saleMoreHeight > 80) {
                //        saleMoreCon.classList.add("active");

                //        saleMoreCon.classList.add("is-long");

                //        if (!saleMoreBtn.isClick) {
                //            saleMoreBtn.addEventListener("click", function () {
                //                if (saleMoreCon.classList.contains("active")) {
                //                    saleMore.style.setProperty("max-height", saleMoreHeight + "px");
                //                    saleMoreCon.classList.remove("active");
                //                } else {
                //                    saleMore.style.setProperty("max-height", "80px");
                //                    saleMoreCon.classList.add("active");
                //                }
                //            });
                //            saleMoreBtn.isClick = true;
                //        }

                //    }
                //});


                //// create searchbar
                //var searchbar = app.searchbar.create({
                //    el: '.searchbar-main',
                //    searchContainer: '.cas-container',
                //    searchItem: '.cas-item',
                //    searchIn: '.cas-item-content .name',
                //    on: {
                //        search(sb, query, previousQuery) {
                //            console.log(query, previousQuery);
                //        }
                //    }
                //});

                //var searchbarLocation = app.searchbar.create({
                //    el: '.searchbar-location',
                //    searchContainer: '.list',
                //    searchIn: '.item-title',
                //    on: {
                //        search(sb, query, previousQuery) {
                //            console.log(query, previousQuery);
                //        }
                //    }
                //});



            },
            //pageAfterIn: function (e, page) {
            //    var self = this;
            //    var app = self.$app;

            //    $$('#ddlCategory').on('change', function (e) {
            //        console.log($$(this).val());
            //    });
            //    $$('#ddlSort').on('change', function (e) {
            //        console.log($$(this).val());
            //    });
            //    $$('#ddlDistrict').on('change', function (e) {
            //        console.log($$(this).val());
            //    });

            //},
        },
    };

</script>