<template>
    <div class="page">
        {{> "voucherlayout"}}
    </div>

</template>

<script>
    var self = null;
    var _isLoading = false;
    var _isSubmiting = false;
    var model = {
        ListAwards: {

        },
        VoucherModel: {

        }
    };

    function getData(app, params, fnc) {
        if (_isLoading)
            return;
        _isLoading = true;
        var url = '/__get/Voucher/GetDetail';
        var param = {
            giftcode: params.giftcode
        };
        app.request.json(url, param, (res) => {
            _isLoading = false;

            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };


    function submitRecievedGift(app, self) {
        if (_isSubmiting)
            return;
        _isSubmiting = true;
        app.preloader.show();
         var param = {
            token: 'token'
        };
        var url = '/__post/Voucher/SubmitRecievedGift';
        app.request.post(url, param, (res) => {
            if (res.Result == true) {
                _isSubmiting = false;
                app.preloader.hide();
                var tmpPopup = '';
                var tmpSuccess = '<div class="pron-popup">' +
                    '   <div class="pron-popup-image">' +
                    '     <img src="https://static.mservice.io/blogscontents/momo-upload-api-200224154205-637181557257055940.jpg" class="img-fluid">' +
                    '   </div>' +
                    '  <div class="pron-popup-content text-left">' +
                    '     <h3 class="mt-0 mb-2 lutie-18 " >😍 Món quà bí mật đã thuộc về bạn!</h3> ' +
                    '     <div >Chúc mừng bạn! Bạn là người may mắn nhất quay trúng thẻ quà bí mật ' + res.Data.Name + ' từ Ví MoMo! Vào mục "ƯU ĐÃI">> "Quà của tôi" để xem quà tặng ngay!</div> ' +

                    '<div class="py-3 position-relative"> <a href="javascript:void(0);" id="btnGiftResult" class="external button button-fill color-green py-1 h-auto">XEM QUÀ NGAY</a></div>' +
                    '   </div>' +
                    '</div>';

                var tmpFail = '<div class="pron-popup">' +
                    '   <div class="pron-popup-image">' +
                    '     <img src="https://static.mservice.io/blogscontents/momo-upload-api-200224154221-637181557419153766.jpg" class="img-fluid">' +
                    '   </div>' +
                    '  <div class="pron-popup-content text-left">' +
                    '     <h3 class="mt-0 mb-2 lutie-18 " >😭 May mắn chưa mỉm cười với bạn rồi!</h3> ' +
                    '     <div >Số nhọ quá, bạn hổng trúng được thẻ quà bí mật lần này rồi! Vẫn còn rất nhiều lần ĐỔI QUÀ khác nữa, hãy thử lại ngay bây giờ! </div> ' +

                    '<div class="py-3 position-relative"> <a href="javascript:void(0);" id="btnGiftResult" class="external button button-fill color-green py-1 h-auto">TÌM THÊM GÓI QUÀ SIÊU BẤT NGỜ</a></div>' +
                    '   </div>' +
                    '</div>';

                if (res.Data.Type == 3) {
                    tmpPopup = tmpFail;
                } else {
                    tmpPopup = tmpSuccess;
                }

                var dialog = app.dialog.create({
                    title: '',
                    closeByBackdropClick: false,
                    text: '',
                    content: tmpPopup,
                    cssClass: "pron-popup-container",
                    on: {
                        open: function (ent) {
                            ent.$el.find('#btnGiftResult').on('click', function (e) {
                                app.dialog.close(".pron-popup-container");
                                
                                window.ReactNativeWebView.postMessage('FinishActivity');
                            });
                        }
                    }
                }).open();

            }

        }, (err) => { }, 'json');

    };

    return {
        data: function () {
            return model;
        },
        methods: {
            RecievedClick: function () {
                var self = this;
                var app = self.$app;

                submitRecievedGift(app, self);


            },
        },
        on: {
            pageInit: function (e, page) {
                self = this;
                var app = self.$app;
                app.preloader.show();

                var params = self.$route.params;
                getData(app, params, function (data) {
                    model.ListAwards = data.ListRandomVoucherGift;

                    var timestamp = Date.now();
                    //xu ly template
                    var voucherTemplate = "";
                    app.request.get('/pwa/template/randomvoucher/layout/voucher-temp-1.html?t=' + timestamp, function (data) {
                        voucherTemplate = data;
                        Template7.registerPartial('voucherlayout', voucherTemplate);

                        //RandomVoucher
                        var jsonString = '{"momoMsg":{"listVoucher":[{"autoId":4024371,"ID":"d92a3c62-f78d-42ce-9a6a-2dc2e873ff79-PREPAID-m4b_sdk_backend.prepaid","owner":"01222532521","oldOwner":"m4b_sdk_backend.prepaid","serviceId":["tenten","smart_parking","evn_npc"],"amount":50000,"amountGT":0,"startDate":1586995199000,"endDate":1601744400000,"modifyDate":1585121093378,"status":1,"isLock":false,"creator":"","inviter":"","note":"null","tranId":2314787136,"tranDate":0,"name":"Thẻ trả trước tenten","desc":"- Tên thẻ: ${card_name}- Số dư thẻ hiện tại: ${amount_prepaid}- HSD: ${hsd} - Hướng dẫn sử dụng: Nội dung mô tả thông tin của thẻ trả trước- Lịch sử: Khi user click vào lịch sử sẽ chuyển sang màn hình lịch sử giao dịch của thẻ- Hỗ trợ: Chuyển đến màn hình FAQ cho thẻ trả trước- CTA Sử dụng: Khi user chọn sẽ chuyển sang màn hình mã thanh toán hoặc quét QRcode tùy vào cài đặt hình thức thanh toán - CTA Nạp tiền: Khi user chọn sẽ chuyển tới màn hình mua thẻ trả trước- Xóa : Dùng để xóa thẻ trả trước","icon":"https://i.ibb.co/DCCjsG4/m-2-m-ico-pizza-green-3x-1.png","image":{"ios":"MoMo.png","ldpi":"MoMo.png","mdpi":"MoMo.png","hdpi":"MoMo.png","xhdpi":"MoMo.png","xxhdpi":"MoMo.png"},"isTransfer":0,"isNew":1,"policy":{"type":"prepaid_card"},"visible":1,"typeId":"tenten_gift","extra":{"giftCondition":{"image":"https://img.mservice.io/momo_app_v2/img/20181228-loc-lixi/Ecom/VN_TRIP/vntrip-540.jpg","promotionId":"-2167","btnTitle":"Tham gia","giftTypeCategoryId":4,"isVoucherCode":"true"}},"giftInfoDetail":{"refId":"PaymentOffline"},"code":"","condition":{   "type": "1",   "mapCard": {     "50000": {       "expired": 30,       "amount": 40000     },     "100000": {       "expired": 40,       "amount": 80000     },     "200000": {       "expired": 50,       "amount": 180000     },     "500000": {       "expired": 60,       "amount": 450000     },     "700000": {       "expired": 60,       "amount": 460000     },     "1000000": {       "expired": 70,       "amount": 900000     }   },   "merchant": "Ten ten",   "discountPercent": 10,   "listRule": [     {       "gte": 10000,       "lte": 500001,       "discountPercent": 10     },     {       "gte": 500001,       "lte": 1000001,       "discountPercent": 20     },     {       "gte": 1000001,       "lte": 2000001,       "discountPercent": "30"     }   ],   "expired": "30",   "agent": "m4b_sdk_backend","prepaidType":3,"refId":"PaymentOffline"},"canDelete":false,"extraGifting":null,"source":"","ver":5,"transfer":0,"priority":1,"value":null,"voucher_code":null,"lock":false,"id":"d92a3c62-f78d-42ce-9a6a-2dc2e873ff79-PREPAID-m4b_sdk_backend.prepaid","_class":"mservice.backend.entity.msg.MomoVoucher"}],"_class":"mservice.backend.entity.msg.ListMomoVoucher"},"user":"01222532521","result":true,"errorCode":0,"errorDesc":""}';
                        jsonString = jsonString.replace(/"{/g, "{").replace(/}"/g, "}").replace(/]"/g, "]").replace(/"\[/g, "[");
                        model.VoucherModel = JSON.parse(jsonString);

                        self.$setState(model);
                        $$(".noti-content a").forEach(function (e) { $$(e).addClass('external'); });
                        app.preloader.hide();
                    });
                });


            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };
</script>