<template>
    <div class="page">
        {{> "guidelayout"}}
    </div>


</template>

<script>
      import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage } from '../../js/custom.js'

    var self = null;
    var _isLoading = false;
    var model = {
        Guide: {
            Blocks: []
        }
    };

    function getData(app, params, fnc) {
        if (_isLoading)
            return;
        _isLoading = true;
        var url =  System.apihost + '/__get/Guide/DetailSingle';
        var param = {
            id: params.id
        };
        app.request.json(url, param, (res) => {
            _isLoading = false;

            if (res.Error) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.Error.Code]);
                if (res.Error.Code === 'notfound') {
                    app.views.main.router.navigate({
                        name: '404'
                    });
                }
                return;
            }

            fnc(res.Data);

        });
    };

    export default {
        data: function () {
            return model;
        },
        methods: {
        },
        on: {
            pageInit: function (e, page) {
                self = this;
                var app = self.$app;
                app.preloader.show();
                var params = self.$route.params;
                getData(app, params, function (data) {
                    model = data;
                    var timestamp = Date.now();
                    //xu ly template
                    var articleTemplate = "";
                    app.request.get('/static/Template/Singleguide/layout/guide-temp-1.html?t=' + timestamp, function (data) {
                        console.log(data);
                        articleTemplate = data;

                        Template7.registerPartial('guidelayout', articleTemplate);

                        //var compiledTemplate = Template7.compile(articleTemplate);
                        //var output = compiledTemplate(model);
                        self.$setState(model);

                        app.preloader.hide();
                    });
                });


            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };
</script>