<template>
    <div class="page">
        {{#js_if "(!this.DonationItem.IsEndCampaign && !(this.DonationItem.ExpectedValue != null && this.DonationItem.TotalOrder >= this.DonationItem.ExpectedValue)) || !this.IsFromNoti"}}
        <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
                <div class=" w-100">
                    <p class="row mb-0 ">
                        {{#js_if "!this.IsFromNoti"}}
                        <a class="col button button-fill button-large color-gray link back">Quay lại</a>
                        {{/js_if}}
                        {{#js_if "!this.DonationItem.IsEndCampaign && !(this.DonationItem.ExpectedValue != null && this.DonationItem.TotalOrder >= this.DonationItem.ExpectedValue)"}}
                        <button class="col button button-fill button-large color-pink" @click="DonationClick">Quyên góp</button>
                        {{/js_if}}
                    </p>
                </div>

            </div>
        </div>
        {{/js_if}}

        <div class="page-content">
            <!--<div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Quay lại</span>
                    </a>
                </div>
                <div class="title">{{DonationItem.Title}}</div>
            </div>
        </div>-->

            <div class="embed-responsive embed-responsive-apd ">
                <div class="embed-responsive-img">

                    <img data-src="{{DonationItem.Avatar}}"
                         class="img-fluid  lazyloaded" alt="{{DonationItem.Title}}"
                         src="{{DonationItem.Avatar}}">
                </div>
            </div>
            <div class="card dona-hero ">

                <div class="card-content card-content-padding">
                    <div class="pron-row no-gutters align-items-center">
                        <div class="pron-col auto">
                            <div class="izlu-avatar dona-avatar">
                                <img src="{{DonationItem.Logo}}"
                                     class="img-fluid mx-auto" alt="{{DonationItem.Title}}">
                            </div>
                        </div>
                        <div class="pron-col">

                            <h3 class="mt-0 mb-0 lutie-card-heading">{{DonationItem.Title}}</h3>
                            <div class="lutie-card-subheading mb-0">{{DonationItem.Short}}</div>
                        </div>

                    </div>

                </div>

            </div>


            <div class="card ">



                <div class="card-content card-content-padding">


                    <div class="dona-content">
                        <div class="dona-text">
                            Đã quyên góp được
                            <strong>
                                {{DonationItem.TotalMoney}}
                            </strong>
                            {{#js_if "this.DonationItem.ExpectedValue > 0"}}
                            / {{DonationItem.ExpectedValueFormat}} <b>Heo Vàng</b>
                            {{/js_if}}
                        </div>
                        <div class="dona-process">
                            <div class="progressbar {{js "this.DonationItem.TotalOrder >= this.DonationItem.ExpectedValue ? 'color-green' : this.DonationItem.IsEndCampaign ? 'color-gray' : 'color-pink'"}}" data-progress="{{DonationItem.FinishPercent}}">
                                <span></span>
                            </div>
                        </div>
                        <div class="dona-meta">
                            <div class="pron-row no-gutters align-items-center justify-content-between flex-nowrap">
                                <div class="pron-col auto">

                                    <div class="mr-3">
                                        <div class="lutie-12">Lượt quyên góp</div>
                                        <div class="font-weight-bold">{{DonationItem.TotalTrans}}</div>
                                    </div>

                                </div>
                                <div class="pron-col auto">
                                    <div class="mr-3">
                                        <div class="lutie-12">Đạt được</div>
                                        <div class="font-weight-bold">{{DonationItem.FinishPercent}}%</div>
                                    </div>
                                </div>


                                <div class="pron-col auto ">
                                    {{#js_if "this.DonationItem.ExpectedValue != null && this.DonationItem.TotalOrder >= this.DonationItem.ExpectedValue"}}
                                    <div class="pron-col auto ">
                                        <div class="text-color-green font-weight-bold font-12">
                                            Đã đạt mục tiêu
                                        </div>
                                    </div>
                                    {{else}}
                                    {{#js_if "this.DonationItem.IsEndCampaign"}}
                                    <div class="pron-col auto ">
                                        <div class="text-color-gray font-weight-bold font-12">
                                            Đã hết thời hạn
                                        </div>
                                    </div>
                                    {{else}}
                                    <div class="mr-3">
                                        <div class="lutie-12">Thời hạn còn</div>
                                        <div class="font-weight-bold">{{DonationItem.TimeToEndDate}}</div>
                                    </div>
                                    {{/js_if}}

                                    {{/js_if}}

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="pron-section border-top mt-4 pt-4">
                        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-3">
                            Thông tin
                        </h4>
                        <div class="pron-section-content lutie-section-content text-align-justify">
                            <div class="lutie-section-less">
                                {{DonationItem.Content}}
                            </div>
                            <div class="py-3">
                                <a href="#" class="col button button-outline border-lightgray popup-open"
                                   data-popup=".cbs-present-more">
                                    Xem chi tiết
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="pron-section border-top mt-4 pt-4">
                        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-3">
                            Hình ảnh
                        </h4>
                        <div class="pron-section-content lutie-section-content ">

                            <div class="pron-container izlu-gallery js-donation-gallery">
                                <div class="pron-row">

                                    {{#each ListImage}}
                                    <div class="pron-col" data-thumb="{{js "@index + 1"}}">
                                        <div class="izlu-gallery-item">
                                            <div class="embed-responsive embed-responsive-1by1 ">

                                                <img src="{{this.AvatarUrl}}"
                                                     class="embed-responsive-img img-object-cover rounded" alt="{{this.Description}}">
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

            {{#js_if "this.DonationUser.length > 0"}}
            <div class="card">
                <div class="card-content card-content-padding">


                    <div class="pron-section ">
                        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-0">
                            Những nhà hảo tâm
                        </h4>
                        <!--<div class="text-gray mb-1 font-12 font-italic">Danh sách được cập nhập mỗi giờ</div>-->

                        <div class="list media-list apd-people my-0">
                            <ul>
                                {{#each DonationUser}}
                                <li>
                                    <div class="item-content apd-people-item">
                                        <div class="item-inner  ">
                                            <div class="item-title-row align-items-center">
                                                <div class="apd-people-left">
                                                    <div class="name">
                                                        {{this.cusName}}
                                                    </div>
                                                    <div class="phone">
                                                        {{this.phoneNumber}}
                                                    </div>
                                                </div>
                                                <div class="apd-people-after">
                                                    <div class="money">
                                                        {{FM_Number1 this.amount}}

                                                        <div class="pig-coin">
                                                            <img src="/pwa/images/donation/pig-coin.svg" width="28" alt="">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        {{#if isLoadingDonationUser}}
                        <div class="text-center">
                            <div class="preloader"></div>
                        </div>
                        {{/if}}
                        {{#js_if "this.ItemPerPage <= this.DonationUser.length && this.DonationUser.length < this.TotalDonationUser"}}
                        <div class="mt-0">
                            <button class="button col" @click="LoadMoreDonationUser()">
                                Xem thêm
                                <i class="f7-icons lutie-12">chevron_down</i>
                            </button>
                        </div>
                        {{/js_if}}
                    </div>

                </div>
            </div>
            {{/js_if}}




        </div>


        <div class="popup demo-popup-swipe-handler cbs-present-more">
            <div class="page">
                <div class="swipe-handler  popup-close"></div>
                <div class="page-content">
                    <div class="block mt-4">

                        <div class="dona-post ">
                            {{DonationItem.Content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="sheet-modal sheet-pop-round dona-sheet-money">


            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                    </div>
                    <div class="title">{{DonationItem.Title}}</div>
                    <div class="right">
                        <a href="#" class="link sheet-close ">
                            <i class="f7-icons opacity-5 ">close</i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="toolbar toolbar-bottom toolbar-large">
                <div class="toolbar-inner">
                    <div class=" w-100">
                        <p class="row mb-0 ">
                            <button class="col button button-fill button-large color-gray sheet-close  ">Quay lại</button>

                            <a href="javascript:void(0)" @click="SubmitTrans" class="col button button-fill  sheet-close button-large color-pink">
                                Quyên
                                góp
                            </a>
                        </p>
                    </div>

                </div>
            </div>


            <div class="sheet-modal-inner">

                {{#if DonationModel}}
                <div class="page-content">
                    <form class="pron-container balance py-5" id="frm-donation">
                        <div class="pron-container balance py-5">
                            <div class="lutie-16 text-center mb-3">
                                Bạn có <div class="pig-coin">
                                    <img src="/pwa/images/donation/pig-coin.svg" width="28" alt="">
                                    <span class="pig-coin-num">{{FM_Number1 DonationModel.totalCashBackMoney}}</span>
                                </div>
                            </div>

                            <div class="text-center text-secondary">
                                Chọn số lượng Heo muốn quyên góp:
                            </div>

                            <div class="text-center py-1 mt-5">
                                <div class="stepper stepper-large stepper-init  dona-stepper" data-wraps="false"
                                     data-autorepeat="true" data-autorepeat-dynamic="true" data-manual-input-mode="true" id="stepper-pig">
                                    <div class="stepper-button-minus"></div>
                                    <div class="stepper-input-wrap">
                                        <input id="donation-money" name="TotalMoneyFormat" {{#js_if "this.IsIos == 0"}} inputmode="numeric" {{/js_if}} pattern="[0-9]*" value="1" min="1" max="10" step="1" type="text">
                                    </div>
                                    <div class="stepper-button-plus"></div>
                                </div>

                                <div id="TotalMoneyError" class="mt-2 item-input-error-message" style="display:none;">Số Heo Vàng tối thiểu là 1</div>

                            </div>

                            <div class="list no-hairlines-md list-form ">
                                <ul>
                                    <li class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-title item-floating-label text-momo">
                                                {{#js_if "this.DonationModel.Message.length > 0"}}
                                                Lời nhắn ({{DonationModel.Message.length}}/70)
                                                {{else}}
                                                Nhập lời nhắn (Không bắt buộc)
                                                {{/js_if}}
                                            </div>
                                            <div class="item-input-wrap">
                                                <input type="text" name="Message" maxlength="70" autocomplete="off" id="donation-content" value="{{DonationModel.Message}}">
                                                <span class="input-clear-button"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </form>

                </div>
                {{/if}}
            </div>




        </div>

        <div class="sheet-modal sheet-pop-round dona-sheet-pass momo-pass-popup">


            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                    </div>
                    <div class="title">Nhập mật khẩu</div>
                    <div class="right">
                        <a href="#" class="link sheet-close ">
                            <i class="f7-icons opacity-5 ">close</i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="sheet-modal-inner">

                <div class="page-content">

                    <form>
                        <div class="block passcode-input d-none">
                            <input type="text" value="____" id="dona-numpad-inline">
                        </div>

                        <div class="momo-pass">

                            <div class="momo-pass-sym">
                                <div class="sym "></div>
                                <div class="sym"></div>
                                <div class="sym"></div>
                                <div class="sym"></div>
                                <div class="sym"></div>
                                <div class="sym"></div>
                            </div>

                            {{#js_if "this.FailCount>0"}}
                            <div class="momo-pass-error text-danger">
                                Giao dịch thất bại vì mật khẩu không chính xác. Vui lòng thử lại.<br>(Bạn còn {{this.FailCountLeft}} lần thử)
                            </div>
                            {{/js_if}}

                            <!-- <input class="input input-pass" type="password" disabled placeholder="Xem tạm" /> -->
                        </div>




                        <div class="block block-strong no-padding no-margin passcode-numpad">
                            <div id="dona-inline-container"></div>
                        </div>
                    </form>

                </div>
            </div>


        </div>
    </div>


</template>

<script>
    var isLoadingDonationUser = false;
    var numpadInline = null;
    var _isSubmiting = false;
    var DetailItemModel = {
        DonationItem: {},
        ListImage: [],
        DonationUser: [],
        TotalDonationUser: 0,
        Page: 0,
        ItemPerPage: 10,
        IsIos: 0,
        IsFromNoti: false,
        DonationModel: {
            Message: '',
            TotalMoneyFormat: '1'
        },
        ListSuggestions: [],
        TokenPayment: '',
        FailCountMax: 3,
        FailCountLeft: 3,
        FailCount: 0,
        ErrorCode: ''
    }

    function GetDonationDetail(app, slug, fnc) {
        var url = '/__get/Donation/GetDonationDetail';
        var param = {
            slug: slug
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function ListDonationDetailAlbum(app, id, fnc) {
        var url = '/__get/Donation/ListDonationDetailAlbum';
        var param = {
            id: id
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function ListDonationUser(app, donationId, fnc) {
        var url = '/__get/Donation/ListDonationUser';
        var param = {
            donationId: donationId,
            page: DetailItemModel.Page,
            itemPerPage: DetailItemModel.ItemPerPage
        };

        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function LoadDonationUserPaging(self, app) {
        isLoadingDonationUser = true;
        ListDonationUser(app, DetailItemModel.DonationItem.Id, function (res) {
            DetailItemModel.TotalDonationUser = res.TotalItems;

            DetailItemModel.DonationUser = DetailItemModel.DonationUser.concat(res.Items);
            self.$setState(DetailItemModel);
            isLoadingDonationUser = false;
        });
    };

    function CreateTrans(app, param, fnc) {
        var url = '/__post/Donation/CreateTrans';

        app.request.post(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                if (res.ErrorCode == "session_error") {
                    app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode], ApiResponseErrorCodeMessage[res.ErrorCode + '_content'], function () {
                        location.href = 'momo://?refId=Cashback';
                    });
                    return;
                }
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        }, (err) => { }, 'json');
    };

    function ListCashBackInfoUser(app, fnc) {
        var url = '/__get/Donation/ListHeoVangInfoUser';

        app.request.json(url, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function getTransactionInfo(app, fnc) {
        var url = '/__get/Donation/GetTransHeoVang';
        var param = {
            token: DetailItemModel.TokenPayment
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };
    function momoPassSym(value) {
        var sym = Array.from(document.querySelectorAll(".momo-pass-sym .sym"));
        sym.forEach(item => item.classList.remove("is-active"));
        sym.forEach(function (item, index) {
            if (index <= value - 1) {
                item.classList.add("is-active");
            }
        });
    };
    function initKeyPad(app, self) {
        if (numpadInline)
            numpadInline.destroy();
        numpadInline = app.keypad.create({
            inputEl: "#dona-numpad-inline",
            containerEl: "#dona-inline-container",
            toolbar: false,
            valueMaxLength: 6,
            dotButton: false,
            formatValue: function (value) {
                value = value.toString();
                momoPassSym(value.length);
                return (
                    "******".substring(0, value.length) +
                    "______".substring(0, 6 - value.length)
                );
            },
            on: {
                change(keypad, value) {
                    value = value.toString();
                    if (value.length === 6) {
                        submitTransConfirm(app, self, value);
                    }
                }
            }
        });

        window.numpadInline1 = numpadInline;
    };
    function submitTransConfirm(app, self, passCode) {
        if (_isSubmiting)
            return;
        _isSubmiting = true;
        app.preloader.show();

        var url = '/__post/Donation/SubmitTransHeoVang';
        var param = {
            token: DetailItemModel.TokenPayment,
            passCode: passCode
        };
        app.request.post(url, param, (res) => {
            if (res.Result !== true) {
                _isSubmiting = false;
                app.preloader.hide();
                if (res.ErrorCode === 'donate_error_1014') {
                    DetailItemModel.ErrorCode = res.ErrorCode;
                    DetailItemModel.FailCountLeft = DetailItemModel.FailCountMax - res.Data.FailCount;
                    DetailItemModel.FailCount = res.Data.FailCount;
                    self.$setState(DetailItemModel);
                    numpadInline.setValue('');
                    if (DetailItemModel.FailCountLeft === 0) {
                        MoMoPwa.sheet.close('.dona-sheet-pass');
                        var dialog = app.dialog.create({
                            title: '',
                            text: '',
                            cssClass: "pron-popup-container",
                            content: '<div class="pron-popup">' +
                                '  <div class="pron-popup-content text-left">' +
                                '     <div >Giao dịch thất bại vì ' + res.Data.Message + '</div> ' +
                                '   </div>' +
                                '</div>',
                            buttons: [{ text: 'ĐÓNG', close: true, }],
                            on: {
                                open: function () {
                                    console.log("OPEN");
                                }
                            }
                        }).open();
                        //app.dialog.alert('Giao dịch thất bại vì ' + res.Data.Message);
                        return;
                    }
                }
                else {
                    MoMoPwa.sheet.close('.dona-sheet-pass');
                    app.dialog.alert(res.Data.Message);
                    return;
                }
                return;
            }
            _isSubmiting = false;
            MoMoPwa.sheet.close('.dona-sheet-pass');
            app.preloader.hide();
            //mo popup thanh cong
            var dialog = app.dialog.create({
                title: '',
                text: '',
                cssClass: "pron-popup-container",
                content: '<div class="pron-popup">' +
                    '   <div class="pron-popup-image">' +
                    '     <img src="/pwa/images/donation/img-popup-banner.svg" class="img-fluid">' +
                    '   </div>' +
                    '  <div class="pron-popup-content text-left">' +
                    '     <h3 class="mt-0 mb-4 lutie-22 " >Thành công ! </h3> ' +
                    '     <div >Chân thành cảm ơn Quý khách đã quyên góp cho chương trình "' + DetailItemModel.DonationItem.Title + '" </div> ' +
                    '   </div>' +
                    '</div>',
                buttons: [{
                    text: 'ĐÓNG',
                    onClick: function () {
                        app.preloader.show();
                        GetDonationDetail(app, self.$route.params.slug, function (res) {
                            DetailItemModel.DonationItem = res;
                            self.$setState(DetailItemModel);
                            app.preloader.hide();
                        });
                        DetailItemModel.DonationUser = [];
                        LoadDonationUserPaging(self, app);

                        //window.location.reload();
                    }
                }],

                on: {
                    open: function () {
                        console.log("OPEN");
                    }
                }
            }).open();
            //app.dialog.alert(res.Message);
            //window.location.reload();

        }, (err) => { }, 'json');

    };

    return {
        data: function () {
            DetailItemModel = {
                DonationItem: {},
                ListImage: [],
                DonationUser: [],
                DonationModel: {
                    Message: '',
                    TotalMoneyFormat: '1'
                },
                Page: 0,
                ItemPerPage: 10,
                IsIos: 0,
                IsFromNoti: false,
                ListSuggestions: [],
                TokenPayment: '',
                FailCountMax: 3,
                FailCountLeft: 3,
                FailCount: 0,
                ErrorCode: ''
            };

            return DetailItemModel;
        },
        methods: {
            LoadMoreDonationUser: function () {

                var self = this;
                DetailItemModel.Page = DetailItemModel.Page + 1;
                LoadDonationUserPaging(self, self.$app);
            },
            DonationClick: function () {
                var self = this;
                var app = self.$app;
                app.preloader.show();
                ListCashBackInfoUser(app, function (res) {
                    DetailItemModel.DonationModel = res;
                    DetailItemModel.DonationModel.TotalMoneyFormat = "1";
                    DetailItemModel.DonationModel.Message = "";

                    if (res.totalCashBackMoney <= 0) {
                        app.preloader.hide();
                        app.dialog.alert("Bạn chưa có Heo Vàng.");
                        return;
                    }

                    if (res.totalCashBackMoney < 1) {
                        app.preloader.hide();
                        app.dialog.alert("Số Heo Vàng của bạn dưới 1.");
                        return;
                    }

                    //DonationSuggestions(res.totalCashBackMoney);
                    self.stepperPig.max = res.totalCashBackMoney;
                    self.stepperPig.setValue(res.totalCashBackMoney);

                    self.$setState(DetailItemModel);
                    app.preloader.hide();
                    app.sheet.open(".dona-sheet-money");
                })
            },
            SuggesionChange: function (total) {
                var self = this;
                var app = self.$app;

                DetailItemModel.DonationModel.TotalMoneyFormat = MoMoPwa.Helpers.Format.Number1(total);

                self.$setState(DetailItemModel);

                //$$('#donation-money').val(MoMoPwa.Helpers.Format.Number1(total));
                $$("#TotalMoneyError").hide();
                //$$("#donation-money").focus();
                $$('#donation-money').trigger("change");
            },
            SubmitTrans: function () {
                var self = this;
                var app = self.$app;
                var frmData = app.form.convertToData("#frm-donation");
                if (frmData.TotalMoneyFormat != "") {
                    var value = frmData.TotalMoneyFormat.replace(/\./g, '').replace(/\-/g, '').replace(/\ /g, '');

                    if (isNaN(value)) {
                        $("#TotalMoneyError").text("Số Heo Vàng quyên góp phải là số.");
                        $("#TotalMoneyError").show();
                        return;
                    }

                    frmData.TotalMoney = parseInt(value);
                    if (frmData.TotalMoney < 1) {
                        $("#TotalMoneyError").text("Số Heo Vàng tối thiểu là 1.");
                        $("#TotalMoneyError").show();
                        return;
                    }

                    if (frmData.TotalMoney > DetailItemModel.DonationModel.totalCashBackMoney) {
                        $("#TotalMoneyError").text("Số Heo Vàng đóng góp vượt quá số Heo Vàng bạn đang có.");
                        $("#TotalMoneyError").show();
                        return;
                    }

                    $("#TotalMoneyError").hide();
                }
                else {
                    $("#TotalMoneyError").text("Vui lòng nhập số Heo Vàng muốn quyên góp.");
                    $("#TotalMoneyError").show();
                    return;
                }

                app.preloader.show();

                var param = {
                    donationId: DetailItemModel.DonationItem.Id,
                    totalOrder: frmData.TotalMoney,
                    reason: frmData.Message
                };

                CreateTrans(app, param, function (res) {

                    app.sheet.close(".dona-sheet-money");

                    app.preloader.hide();

                    DetailItemModel.TokenPayment = res;

                    //if (DetailItemModel.IsIos) {
                    //    location.href = 'momo://?refId=browser|' + window.HostUrl + "/xac-nhan-dong-gop-heovang/" + res;
                    //}
                    //else {
                    //    app.views.main.router.navigate({
                    //        name: 'donate-trans-heovang',
                    //        params: { token: res }
                    //    });
                    //}
                    var dialog = app.dialog.create({
                        title: '',
                        text: '',
                        cssClass: "pron-popup-container",
                        content: '<div class="pron-popup">' +
                            '  <div class="pron-popup-content text-left">' +
                            '     <h3 class="mt-0 mb-4 lutie-22 " >Xác nhận</h3> ' +
                            '     <div >Xác nhận quyên góp ' + frmData.TotalMoneyFormat + ' Heo Vàng cho chương trình "' + DetailItemModel.DonationItem.Title + '" </div> ' +
                            '   </div>' +
                            '</div>',
                        buttons: [
                            {
                                text: 'HỦY',
                                close: true,
                                color: "gray"
                            },
                            {
                                text: 'XÁC NHẬN',
                                onClick: function () {
                                    getTransactionInfo(app, function (res) {
                                        app.sheet.open(".dona-sheet-pass");
                                    });
                                }
                            }],

                        on: {
                            open: function () {
                                console.log("OPEN");
                            }
                        }
                    }).open();



                });
            }
        },
        on: {
            pageInit: function (e, page) {
                var self = this;
                var app = self.$app;

                app.preloader.show();

                var swipeToClosePopup = app.popup.create({
                    el: '.cbs-present-more',
                    swipeToClose: "to-bottom",
                });

                self.stepperPig = app.stepper.create({
                    el: '#stepper-pig',
                    min: 1,
                    max: 2,
                    step: 1,
                    value: 1,
                    manualInputMode: true,
                    formatValue: function (valueInput) {
                        var value = valueInput.toString().replace(/\./g, '').replace(/\-/g, '').replace(/\ /g, '');
                        var valMoney = parseInt(value);
                        return MoMoPwa.Helpers.Format.Number1(value);
                    },
                    on: {
                        change: function (val) {
                            val.$buttonPlusEl.removeClass('opacity-5');
                            val.$buttonMinusEl.removeClass('opacity-5');

                            if (val.value == val.max) {
                                val.$buttonPlusEl.addClass('opacity-5')
                            }
                            if (val.value == val.min) {
                                val.$buttonMinusEl.addClass('opacity-5')
                            }
                        }
                    }
                });

                initKeyPad(app, self);

                if (app.device.ios)
                    DetailItemModel.IsIos = 1;

                if (self.$route.query.webToken != undefined) {
                    DetailItemModel.IsFromNoti = true;
                }

                ValidateAccessToken(app, self.$route, function (res) {
                    console.log(res);
                });

                GetDonationDetail(app, self.$route.params.slug, function (res) {
                    console.log(res);

                    DetailItemModel.DonationItem = res;

                    self.$setState(DetailItemModel);
                    app.preloader.hide();

                    ListDonationDetailAlbum(app, res.Id, function (res) {
                        console.log(res);

                        DetailItemModel.ListImage = res;
                        self.$setState(DetailItemModel);

                        if (res.length > 0) {
                            var galeryList = [];

                            for (var i = 0; i < res.length; i++) {
                                galeryList.push({ url: res[i].AvatarUrl, caption: res[i].Description })
                            }

                            $$(".js-donation-gallery .pron-col").on("click", function () {
                                var thumb = $$(this).attr('data-thumb') - 1;
                                myPhotoBrowserPopupDark.open(thumb);
                            });

                            var myPhotoBrowserPopupDark = MoMoPwa.photoBrowser.create({
                                photos: galeryList,
                                theme: "dark",
                                type: "standalone",
                                backLinkText: ""
                            });
                        }
                    });

                    LoadDonationUserPaging(self, app);
                });


            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
                var self = this;
                var app = self.$app;

                var $input = $$('#donation-content');
                $input.keyup(function (e) {
                    var max = 70;
                    if ($input.val().length > max) {
                        DetailItemModel.DonationModel.Message = $input.val().substr(0, max);
                    }
                    else {
                        DetailItemModel.DonationModel.Message = $input.val();
                    }
                    self.$setState(DetailItemModel);
                });

                $input.on('input:clear', function (e) {
                    DetailItemModel.DonationModel.Message = "";
                    self.$setState(DetailItemModel);
                });

                var $inputNum = $$('#donation-money');
                //$inputNum.keyup(function (e) {
                //    debugger;
                //    var value = $inputNum.val().replace(/\./g, '').replace(/\-/g, '').replace(/\ /g, '');
                //    var valMoney = parseInt(value);
                //    DetailItemModel.DonationModel.TotalMoneyFormat = MoMoPwa.Helpers.Format.Number1(valMoney);
                //    self.$setState(DetailItemModel);
                //    $inputNum.val(MoMoPwa.Helpers.Format.Number1(valMoney));
                //    $inputNum.trigger("change");
                //    self.stepperPig.setValue(MoMoPwa.Helpers.Format.Number1(valMoney));
                //    $("#TotalMoneyError").hide();
                //});

                //$inputNum.on('input:clear', function (e) {
                //    DetailItemModel.DonationModel.TotalMoneyFormat = "1";
                //    self.$setState(DetailItemModel);
                //    $inputNum.trigger("change");
                //});

                $$('.dona-sheet-money').on('sheet:close', function (e) {
                    DetailItemModel.DonationModel.TotalMoneyFormat = "1";
                    DetailItemModel.DonationModel.Message = "";
                    self.stepperPig.setValue(1);
                    $("#TotalMoneyError").hide();
                    self.$setState(DetailItemModel);
                    $inputNum.trigger("change");
                    $input.trigger("change");
                });
                //$$('.dona-sheet-money').on('sheet:open', function (e) {
                //    debugger;

                //    app.stepper.create({
                //        el: '#stepper-pig',
                //        min: 1,
                //        max: DetailItemModel.DonationModel.totalCashBackMoney,
                //        step: 1,
                //        value: 1,
                //        manualInputMode: true,
                //        formatValue: function (value) {
                //            return MoMoPwa.Helpers.Format.Number1(value);
                //        }
                //    });
                //});

                $$('.dona-sheet-pass').on('sheet:close', function (e) {
                    DetailItemModel.FailCount = 0;
                    numpadInline.setValue('');
                    self.$setState(DetailItemModel);
                });
            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };

</script>