<template>
    <div class="page">
        {{#js_if "(!this.DonationItem.IsEndCampaign && !(this.DonationItem.ExpectedValue != null && this.DonationItem.TotalOrder >= this.DonationItem.ExpectedValue)) || !this.IsFromNoti"}}
        <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
                <div class=" w-100">
                    <p class="row mb-0 ">
                        {{#js_if "!this.IsFromNoti"}}
                        <a class="col button button-fill button-large color-gray link back">Quay lại</a>
                        {{/js_if}}
                        {{#js_if "!this.DonationItem.IsEndCampaign && !(this.DonationItem.ExpectedValue != null && this.DonationItem.TotalOrder >= this.DonationItem.ExpectedValue)"}}
                        <button class="col button button-fill button-large color-pink" id="btnDonation"
                            @click="DonationClick">Quyên góp</button>
                        {{/js_if}}
                    </p>
                </div>

            </div>
        </div>
        {{/js_if}}

        <div class="page-content">
            <!--<div class="navbar">
                <div class="navbar-inner sliding">
                    <div class="left">
                        <a class="link back">
                            <i class="icon icon-back"></i>
                            <span class="if-not-md">Quay lại</span>
                        </a>
                    </div>
                    <div class="title">{{DonationItem.Title}}</div>
                </div>
            </div>-->

            <div class="embed-responsive embed-responsive-apd ">
                <div class="embed-responsive-img">
                    {{#js_if "this.DonationItem.ShareUrl"}}
                    <div class="dona-share">
                        <button
                            class="col button button-fill button-round-ios color-white text-color-pink sheet-open font-weight-bold "
                            data-sheet=".dona-sheet-share">
                            Chia sẻ <i class="f7-icons lutie-14">arrowshape_turn_up_right_fill</i>
                        </button>
                    </div>
                    {{/js_if}}
                    <img data-src="{{DonationItem.Avatar}}" class="img-fluid  lazyloaded" alt="{{DonationItem.Title}}"
                        src="{{DonationItem.Avatar}}">
                </div>
            </div>
            <div class="card dona-hero ">

                <div class="card-content card-content-padding">
                    <div class="pron-row no-gutters align-items-center">
                        <div class="pron-col auto">
                            <div class="izlu-avatar dona-avatar">
                                <img src="{{DonationItem.Logo}}" class="img-fluid mx-auto" alt="{{DonationItem.Title}}">
                            </div>
                        </div>
                        <div class="pron-col">

                            <h3 class="mt-0 mb-0 lutie-card-heading">{{DonationItem.Title}}</h3>
                            <div class="lutie-card-subheading mb-0">{{DonationItem.Short}}</div>
                        </div>

                    </div>

                </div>

            </div>


            <div class="card ">



                <div class="card-content card-content-padding">


                    <div class="dona-content">
                        <div class="dona-text">
                            Đã quyên góp được
                            <strong>
                                {{DonationItem.TotalMoney}}
                            </strong>
                            {{#js_if "this.DonationItem.ExpectedValue > 0"}}
                            / {{DonationItem.ExpectedValueFormat}} <b>Heo Vàng</b>
                            {{/js_if}}
                        </div>
                        <div class="dona-process">
                            <div class="progressbar {{js "this.DonationItem.TotalOrder >= this.DonationItem.ExpectedValue ? 'color-green' : this.DonationItem.IsEndCampaign ? 'color-gray' : 'color-pink'"}}"
                                data-progress="{{DonationItem.FinishPercent}}">
                                <span></span>
                            </div>
                        </div>
                        <div class="dona-meta">
                            <div class="pron-row no-gutters align-items-center justify-content-between flex-nowrap">
                                <div class="pron-col auto">

                                    <div class="mr-3">
                                        <div class="lutie-12">Lượt quyên góp</div>
                                        <div class="font-weight-bold">{{DonationItem.TotalTrans}}</div>
                                    </div>

                                </div>
                                <div class="pron-col auto">
                                    <div class="mr-3">
                                        <div class="lutie-12">Đạt được</div>
                                        <div class="font-weight-bold">{{DonationItem.FinishPercent}}%</div>
                                    </div>
                                </div>


                                <div class="pron-col auto ">
                                    {{#js_if "this.DonationItem.ExpectedValue != null && this.DonationItem.TotalOrder >= this.DonationItem.ExpectedValue"}}
                                    <div class="pron-col auto ">
                                        <div class="text-color-green font-weight-bold font-12">
                                            Đã đạt mục tiêu
                                        </div>
                                    </div>
                                    {{else}}
                                    {{#js_if "this.DonationItem.IsEndCampaign"}}
                                    <div class="pron-col auto ">
                                        <div class="text-color-gray font-weight-bold font-12">
                                            Đã hết thời hạn
                                        </div>
                                    </div>
                                    {{else}}
                                    <div class="mr-3">
                                        <div class="lutie-12">Thời hạn còn</div>
                                        <div class="font-weight-bold">{{DonationItem.TimeToEndDate}}</div>
                                    </div>
                                    {{/js_if}}

                                    {{/js_if}}

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="pron-section border-top mt-4 pt-4">
                        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-3">
                            Thông tin
                        </h4>
                        <div class="pron-section-content lutie-section-content text-align-justify">
                            <div class="lutie-section-less">
                                {{DonationItem.Content}}
                            </div>
                            <div class="py-3">
                                <a href="#" class="col button button-outline border-lightgray popup-open"
                                    data-popup=".cbs-present-more">
                                    Xem chi tiết
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="pron-section border-top mt-4 pt-4">
                        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-3">
                            Hình ảnh
                        </h4>
                        <div class="pron-section-content lutie-section-content ">

                            <div class="pron-container izlu-gallery js-donation-gallery">
                                <div class="pron-row">

                                    {{#each ListImage}}
                                    <div class="pron-col" data-thumb="{{js "@index + 1"}}">
                                        <div class="izlu-gallery-item">
                                            <div class="embed-responsive embed-responsive-1by1 ">

                                                <img src="{{this.AvatarUrl}}"
                                                    class="embed-responsive-img img-object-cover rounded"
                                                    alt="{{this.Description}}">
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                        </div>

                    </div>


                </div>

            </div>
            {{#js_if "this.DonationRankUser.length > 0"}}
            <div class="card">
                <div class="card-content card-content-padding">
                    <div class="pron-section ">
                        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-0">
                            Những nhà hảo tâm hàng đầu
                        </h4>

                        <div class="campaign-people">
                            <div class="campaign-people-list">
                                {{#each DonationRankUser}}
                                <div class="campaign-people-item">
                                    <div class="campaign-people-avatar {{js "(@index + 1) < 4 ? 'is-image' : ''"}}">
                                        {{#js_if "(@index + 1) < 4"}}
                                        <img src="https://static.mservice.io/pwa/images/donation/v{{js "@index + 1"}}.svg"
                                            width="28" alt="">
                                        {{else}}
                                        {{js "@index + 1"}}
                                        {{/js_if}}
                                    </div>

                                    <div class="campaign-people-info">
                                        <div class="campaign-people-name">
                                            {{this.cusName}}
                                        </div>
                                        <div class="campaign-people-phone">
                                            {{this.phoneNumber}}
                                        </div>
                                    </div>

                                    <div class="campaign-people-money">
                                        {{FM_Number1 this.amount}}
                                        <img src="https://static.mservice.io/pwa/images/donation/pig-coin-new.svg"
                                            class="icon-heovang" width="24" alt="">
                                    </div>
                                </div>
                                {{/each}}
                            </div>

                        </div>
                        {{#if isLoadingDonationRankUser}}
                        <div class="mt-0 campaign-people-more">
                            <div class="text-center">
                                <div class="preloader"></div>
                            </div>
                        </div>
                        {{/if}}
                        {{#js_if "this.ItemPerPageRank <= this.DonationRankUser.length && this.DonationRankUser.length < this.TotalDonationRankUser"}}
                        <div class="mt-0">
                            <button class="button col" @click="LoadMoreDonationRankUser()">
                                Xem thêm
                                <i class="f7-icons lutie-12">chevron_down</i>
                            </button>
                        </div>
                        {{/js_if}}
                    </div>
                </div>
            </div>
            {{/js_if}}

            {{#js_if "this.DonationUser.length > 0"}}
            <div class="card">
                <div class="card-content card-content-padding">


                    <div class="pron-section ">
                        <h4 class="lutie-section-heading font-weight-bold mt-0 mb-0">
                            Danh sách nhà hảo tâm
                        </h4>
                        <div class="text-gray mb-1 font-12 font-italic">Danh sách được cập nhật sau 1 phút</div>
                        <div class="campaign-people">
                            <div class="campaign-people-list">
                                {{#each DonationUser}}
                                <div class="campaign-people-item">
                                    <div class="px-2">
                                        &nbsp;
                                    </div>
                                    <div class="campaign-people-info">
                                        <div class="campaign-people-name">
                                            {{this.cusName}}
                                        </div>
                                        <div class="campaign-people-phone">
                                            {{this.phoneNumber}}
                                        </div>
                                    </div>

                                    <div class="campaign-people-money">
                                        {{FM_Number1 this.amount}}
                                        <img src="https://static.mservice.io/pwa/images/donation/pig-coin-new.svg"
                                            class="icon-heovang" width="24" alt="">
                                    </div>
                                </div>
                                {{/each}}
                            </div>

                        </div>

                        <!--<div class="list media-list apd-people my-0">
        <ul>
            {{#each DonationUser}}
            <li>
                <div class="item-content apd-people-item">
                    <div class="item-inner  ">
                        <div class="item-title-row align-items-center">
                            <div class="apd-people-left">
                                <div class="name">
                                    {{this.cusName}}
                                </div>
                                <div class="phone">
                                    {{this.phoneNumber}}
                                </div>
                            </div>
                            <div class="apd-people-after">
                                <div class="money">
                                    {{FM_Number1 this.amount}}

                                    <div class="pig-coin">
                                        <img src="https://static.mservice.io/pwa/images/donation/pig-coin-new.svg" width="24" alt="">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>-->
                        {{#if isLoadingDonationUser}}
                        <div class="mt-0 campaign-people-more">
                            <div class="text-center">
                                <div class="preloader"></div>
                            </div>
                        </div>
                        {{/if}}
                        {{#js_if "this.ItemPerPage <= this.DonationUser.length && this.DonationUser.length < this.TotalDonationUser"}}
                        <div class="mt-0">
                            <button class="button col" @click="LoadMoreDonationUser()">
                                Xem thêm
                                <i class="f7-icons lutie-12">chevron_down</i>
                            </button>
                        </div>
                        {{/js_if}}
                    </div>

                </div>
            </div>
            {{/js_if}}




        </div>


        <div class="popup demo-popup-swipe-handler cbs-present-more">
            <div class="page">
                <div class="swipe-handler  popup-close"></div>
                <div class="page-content">
                    <div class="block mt-4">

                        <div class="dona-post ">
                            {{DonationItem.Content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="sheet-modal sheet-pop-round dona-sheet-money">


            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                    </div>
                    <div class="title">{{DonationItem.Title}}</div>
                    <div class="right">
                        <a href="#" class="link sheet-close ">
                            <i class="f7-icons opacity-5 ">close</i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="toolbar toolbar-bottom toolbar-large">
                <div class="toolbar-inner">
                    <div class=" w-100">
                        <p class="row mb-0 ">
                            <button class="col button button-fill button-large color-gray sheet-close  ">Quay
                                lại</button>

                            <a href="javascript:void(0)" @click="SubmitTrans"
                                class="col button button-fill  sheet-close button-large color-pink">
                                Quyên
                                góp
                            </a>
                        </p>
                    </div>

                </div>
            </div>


            <div class="sheet-modal-inner">

                {{#if DonationModel}}
                <div class="page-content">
                    <form class="pron-container balance py-2" id="frm-donation">
                        <div class="pron-container balance py-3">
                            <div class="lutie-16 text-center mb-3">
                                Bạn có <div class="pig-coin">
                                    <img src="https://static.mservice.io/pwa/images/donation/pig-coin-new.svg"
                                        width="28" alt="">
                                    <span class="pig-coin-num">{{FM_Number1 DonationModel.totalCashBackMoney}}</span>
                                </div>
                            </div>

                            <div class="text-center text-secondary">
                                Chọn số lượng Heo muốn quyên góp:
                            </div>

                            <div class="text-center py-1 mt-3">
                                <div class="stepper stepper-large stepper-init  dona-stepper" data-wraps="false"
                                    data-autorepeat="true" data-autorepeat-dynamic="true" data-manual-input-mode="true"
                                    id="stepper-pig">
                                    <div class="stepper-button-minus"></div>
                                    <div class="stepper-input-wrap">
                                        <input id="donation-money" name="TotalMoneyFormat" {{#js_if "this.IsIos == 0"}}
                                            inputmode="numeric" {{/js_if}} pattern="[0-9]*" value="1" min="1" max="10"
                                            step="1" type="text">
                                    </div>
                                    <div class="stepper-button-plus"></div>
                                </div>

                                <div id="TotalMoneyError" class="mt-2 item-input-error-message" style="display:none;">Số
                                    Heo Vàng tối thiểu là 1</div>

                            </div>

                            <div class="list no-hairlines-md list-form list-form-outline mt-3 mb-2 ">
                                <ul>
                                    <li class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="list-outline-label text-uppercase ">
                                                Lời nhắn
                                                {{#js_if "this.DonationModel.Message.length > 0"}}
                                                ({{DonationModel.Message.length}}/70)
                                                {{/js_if}}
                                            </div>
                                            <div class="item-input-wrap mt-1">
                                                <textarea name="Message" id="donation-content" maxlength="70"
                                                    class="resizable" placeholder="Nhập lời nhắn"
                                                    value="{{DonationModel.Message}}"></textarea>
                                                <span class="input-clear-button" style="top:50%;right:10px;"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--{{#if "ListSuggestionsText.length > 0"}}

                            <div class="apd-payment apd-payment-message mb-3 mt-1 hide-scrollbar">

                                {{#each ListSuggestionsText}}
                                <div class="apd-payment-item">
                                    <input class="apd-payment-check" type="radio" id="dnsgtext{{@index}}" name="payDonationText"
                                           value="{{@index}}" @click="SuggesionTextChange('{{this}}')">

                                    <label for="dnsgtext{{@index}}" class="apd-payment-label">
                                        <span class="apd-payment-mo">{{this}}</span>
                                    </label>
                                </div>
                                {{/each}}

                            </div>
                            {{/if}}-->
                        </div>

                    </form>

                </div>
                {{/if}}
            </div>




        </div>

        <div class="sheet-modal sheet-pop-round dona-sheet-share">


            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                    </div>
                    <div class="title">Chia sẻ</div>
                    <div class="right">
                        <a href="#" class="link sheet-close ">
                            <i class="f7-icons opacity-5 ">close</i>
                        </a>
                    </div>
                </div>
            </div>



            <div class="sheet-modal-inner">


                <div class="page-content">


                    <div class="list my-0 no-hairlines dona-share-list">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" @click="CopyShareUrl"
                                    class="item-link item-content open-toast-copy">
                                    <div class="item-media"><i class="f7-icons text-color-gray">link</i></div>
                                    <div class="item-inner">
                                        <div class="item-title">Sao chép liên kết</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" @click="ButtonShareClick" class="item-link item-content">
                                    <div class="item-media"><i class="f7-icons " style="color:#385898">logo_facebook</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">Chia sẻ qua Facebook</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" @click="ButtonShareOtherAppClick"
                                    class="item-link item-content">
                                    <div class="item-media">
                                        <img src="https://static.mservice.io/pwa/images/social/share.svg" width="34"
                                            alt="">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">Chia sẻ khác</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>




                </div>
            </div>




        </div>
    </div>


</template>

<style>
    .button-coin-icon {
        width: 54px;
        position: absolute;
        top: 7px;
        right: 4px;
        pointer-events: none;
    }
</style>

<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage,ProcessAppShareFacebook,ProcessAppShareOther } from '../../js/custom.js'
    import { Number1 } from '../../js/MoMoPwa.Helpers.Format.js';


    var isLoadingDonationUser = false;
    var isLoadingDonationRankUser = false;
    var _isSubmiting = false;
    var DetailItemModel = {
        DonationItem: {},
        ListImage: [],
        DonationUser: [],
        DonationRankUser: [],
        TotalDonationUser: 0,
        TotalDonationRankUser: 50,
        Page: 0,
        PageRank: 0,
        ItemPerPage: 10,
        ItemPerPageRank: 5,
        IsIos: 0,
        IsFromNoti: false,
        DonationModel: {
            Message: '',
            TotalMoneyFormat: '1'
        },
        ListSuggestions: [],
        ListSuggestionsText: ["Cảm ơn những lá chắn vững vàng!", "Vững tâm nhé các Chiến sĩ áo trắng.", "Chúng tôi sẽ ở nhà!", "Chúng ta sẽ thành công!"],
        TokenPayment: '',
        FailCountMax: 3,
        FailCountLeft: 3,
        FailCount: 0,
        ErrorCode: ''
    }

    function GetDonationDetail(app, slug, fnc) {
        var url = System.apihost + '/__get/Donation/GetDonationDetailV2';
        var param = {
            slug: slug,
            type: 2
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function ListDonationDetailAlbum(app, id, fnc) {
        var url = System.apihost + '/__get/Donation/ListDonationDetailAlbum';
        var param = {
            id: id
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function ListDonationUser(app, donationId, fnc) {
        var url = System.apihost + '/__get/Donation/ListDonationUser';
        var param = {
            donationId: donationId,
            page: DetailItemModel.Page,
            itemPerPage: DetailItemModel.ItemPerPage
        };

        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function LoadDonationUserPaging(self, app) {
        isLoadingDonationUser = true;
        ListDonationUser(app, DetailItemModel.DonationItem.Id, function (res) {
            DetailItemModel.TotalDonationUser = res.TotalItems;

            DetailItemModel.DonationUser = DetailItemModel.DonationUser.concat(res.Items);
            self.$setState(DetailItemModel);
            isLoadingDonationUser = false;
        });
    };
    function ListDonationRankUser(app, fnc) {
        var url = System.apihost + '/__get/Donation/ListDonationRankUserV2';
        var param = {
            userPhone: System.userInfo.phone,
            appServiceId: DetailItemModel.DonationItem.AppServiceId,
            type: DetailItemModel.DonationItem.Type,
            page: DetailItemModel.PageRank,
            itemPerPage: DetailItemModel.ItemPerPageRank
        };

        app.request.json(url, param, (res) => {
            if (!res.Result) {
                //app.preloader.hide();
                //app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function LoadDonationRankUserPaging(self, app) {
        isLoadingDonationRankUser = true;
        ListDonationRankUser(app, function (res) {
            DetailItemModel.TotalDonationRankUser = res.TotalItems;
            DetailItemModel.DonationRankUser = DetailItemModel.DonationRankUser.concat(res.Items);
            self.$setState(DetailItemModel);
            isLoadingDonationRankUser = false;
        });
    };
    function CreateTrans(app, param, fnc) {
        var url = System.apihost + '/__post/Donation/CreateTransV2';

        app.request.post(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                if (res.ErrorCode == "session_error") {
                    app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode], ApiResponseErrorCodeMessage[res.ErrorCode + '_content'], function () {
                        location.href = 'momo://?refId=Cashback';
                    });
                    return;
                }
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        }, (err) => { }, 'json');
    };

    function ListCashBackInfoUser(app, fnc) {
        var url = System.apihost + '/__get/Donation/ListHeoVangInfoUserV2';
        var param = {
            userPhone: System.userInfo.phone
        };
        alert(System.userInfo.phone);
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function getTransactionInfo(app, fnc) {
        var url = System.apihost + '/__get/Donation/GetTransHeoVang';
        var param = {
            token: DetailItemModel.TokenPayment
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };
    function submitTransConfirm(app, self, totalHeo) {
        if (_isSubmiting)
            return;
        _isSubmiting = true;
        app.preloader.show();

        var url = System.apihost + '/__post/Donation/SubmitTransHeoVangNoPass';
        var param = {
            token: DetailItemModel.TokenPayment
        };
        app.request.post(url, param, (res) => {
            if (res.Result !== true) {
                _isSubmiting = false;
                app.preloader.hide();
                if (res.ErrorCode === 'donate_error_1014') {
                    DetailItemModel.ErrorCode = res.ErrorCode;
                    DetailItemModel.FailCountLeft = DetailItemModel.FailCountMax - res.Data.FailCount;
                    DetailItemModel.FailCount = res.Data.FailCount;
                    self.$setState(DetailItemModel);
                    if (DetailItemModel.FailCountLeft === 0) {
                        var dialog = app.dialog.create({
                            title: '',
                            text: '',
                            cssClass: "pron-popup-container",
                            content: '<div class="pron-popup">' +
                                '  <div class="pron-popup-content text-left">' +
                                '     <div >Giao dịch thất bại vì ' + res.Data.Message + '</div> ' +
                                '   </div>' +
                                '</div>',
                            buttons: [{ text: 'ĐÓNG', close: true, }],
                            on: {
                                open: function () {
                                    console.log("OPEN");
                                }
                            }
                        }).open();
                        //app.dialog.alert('Giao dịch thất bại vì ' + res.Data.Message);
                        return;
                    }
                }
                else {
                    app.dialog.alert(res.Data.Message);
                    return;
                }
                return;
            }
            _isSubmiting = false;
            app.preloader.hide();

            var donationThanksInfo = '<div class="dona-thanks-info">' +
                '        <div class="dona-thanks-col">' +
                '          <div class="dona-thanks-val">' +
                '           <span>+' + totalHeo + '</span>' +
                '            <img src="https://static.mservice.io/pwa/images/donation/heo-v-ng.svg" width="20" alt="">' +
                '          </div>' +
                '          <div class="dona-thanks-la">' +
                '            Đã quyên góp' +
                '          </div>' +
                '        </div>' +
                '        <div class="dona-thanks-col">' +
                '          <div class="dona-thanks-val">' +
                '            ' + Number1(parseInt(DetailItemModel.DonationItem.TotalTransNumber) + 1) +
                '            <img src="https://static.mservice.io/pwa/images/donation/thanks-heart.svg" width="20" alt="">' +
                '          </div>' +
                '          <div class="dona-thanks-la">' +
                '            Lượt quyên góp' +
                '          </div>' +
                '        </div>' +
                '      </div>';
            var btnTemplate = '<a href="javascript:void(0);" id="BtnSharePopupClose" class="mt-1 button button-fill color-gray py-1 h-auto">Đóng</a>';
            if (DetailItemModel.DonationItem.ShareUrl) {
                btnTemplate = '<a href="javascript:void(0);" id="BtnSharePopup" class="button button-fill color-pink py-1 h-auto">Chia sẻ</a> </div>';
            }

            var donationThanksTemplate = '<div class="pron-popup">' +
                '   <div class="pron-popup-image">' +
                '     <img src="' + DetailItemModel.DonationItem.Avatar + '" class="img-fluid">' +
                '   </div>' +
                '  <div class="pron-popup-content text-left">' +
                '     <h3 class="mt-0 mb-2 lutie-18 " >Chân thành cảm ơn Bạn!</h3> ' +
                '     <div >Nhờ có bạn, sớm mai sẽ rất đẹp: bầu trời cao xanh, không khí trong lành, ấm áp. Hãy giúp Heo chia sẻ thông điệp này, để ngày mai luôn đẹp, y như tấm lòng của bạn vậy!</div> ' + donationThanksInfo +

                '<div class="py-3"> ' + btnTemplate +
                '   </div>' +
                '</div>';

            if (DetailItemModel.DonationItem.Id == 112) {
                var btnShare = '  <div class="px-2 text-center">' +
                    '   <div class="py-2"> ' +
                    '       <a href="javascript:void(0);" id="BtnSharePopup" class="button button-fill color-pink py-1 h-auto">CHIA SẺ NGAY</a>' +
                    '   </div>' +
                    '   </div>';

                if (DetailItemModel.DonationItem.ShareUrl == null) {
                    btnShare = "";
                }

                donationThanksTemplate = '<div class="pron-popup">' +
                    ' <div class="pron-popup-close" ><img src="https://static.mservice.io/pwa/images/donation/bigclose.png" width="38" /></div> ' +
                    '   <div class="pron-popup-image">' +
                    '     <img src="https://static.mservice.io/pwa/images/donation/heo.jpg" class="img-fluid">' +
                    '   </div>' +
                    btnShare +
                    '</div>';
            }

            var dialog = app.dialog.create({
                title: '',
                closeByBackdropClick: true,
                text: '',
                content: donationThanksTemplate,
                cssClass: "pron-popup-container",
                on: {
                    open: function (ent) {
                        ent.$el.find('#BtnSharePopup').on('click', function (e) {
                            app.dialog.close(".pron-popup-container");
                            app.preloader.show();
                            GetDonationDetail(app, self.$route.params.slug, function (res) {
                                DetailItemModel.DonationItem = res;
                                self.$setState(DetailItemModel);
                                app.preloader.hide();
                            });
                            //DetailItemModel.DonationUser = [];
                            //LoadDonationUserPaging(self, app);

                            app.sheet.open(".dona-sheet-share");
                        });
                        ent.$el.find('#BtnSharePopupClose').on('click', function (e) {
                            app.dialog.close(".pron-popup-container");
                            app.preloader.show();
                            GetDonationDetail(app, self.$route.params.slug, function (res) {
                                DetailItemModel.DonationItem = res;
                                self.$setState(DetailItemModel);
                                app.preloader.hide();
                            });
                            DetailItemModel.DonationUser = [];
                            LoadDonationUserPaging(self, app);
                        });
                        ent.$el.find(".pron-popup-close").on('click', function (e) {
                            app.dialog.close();
                        });
                    },
                    close: function () {
                        app.preloader.show();
                        GetDonationDetail(app, self.$route.params.slug, function (res) {
                            DetailItemModel.DonationItem = res;
                            self.$setState(DetailItemModel);
                            app.preloader.hide();
                        });
                        DetailItemModel.DonationUser = [];
                        LoadDonationUserPaging(self, app);
                    },
                }
            }).open();
        }, (err) => { }, 'json');

    };
    function shareFb(url) {
        var now = new Date().valueOf();
        setTimeout(function () {
            if (new Date().valueOf() - now > 500) return;
            window.location = "momo://?refId=browser|https://facebook.com/sharer/sharer.php?u=" + encodeURI(url);
        }, 200);

        if (DetailItemModel.IsIos) {
            window.location = "fb://dialog/share?app_id=966242223397117&amp;method_args=%7Blink%22%3A%22" + encodeURI(url) + "%22%2C%22dataFailuresFatal%22%3A%22false%22%7D";
        }
        else {
            window.location = "fb://faceweb/f?href=https://facebook.com/sharer/sharer.php?u=" + encodeURI(url);
        }
    };
    
    function AppGetUserInfo(app, fnc) {
        var url = System.apihost + '/__post/Ajax/AppUserGetUserInfo';
        var param = {
            userPhone : System.userInfo.phone
        }
        app.request.post(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        }, (err) => { }, 'json');
    };
    export default {
        data: function () {
            return DetailItemModel;
        },
        methods: {
            InitPageData: function (userData) {
                var self = this;
                var app = self.$app; 
                var rs = JSON.parse(userData);
                System.userInfo = rs;
                AppGetUserInfo(app, function(data){
                    System.userInfo.phone = data.user;
                })
            },
            GetUserInfo: function () {
                if (System.userInfo.phone == undefined) { 
                    window.ReactNativeWebView.postMessage('GetUserInfo');
                }
            },
            BtnSharePopupClick: function () {
                var self = this;
                var app = self.$app;

                app.dialog.close(".pron-popup-container");

                app.preloader.show();
                GetDonationDetail(app, self.$route.params.slug, function (res) {
                    DetailItemModel.DonationItem = res;
                    self.$setState(DetailItemModel);
                    app.preloader.hide();
                });
                DetailItemModel.DonationUser = [];
                LoadDonationUserPaging(self, app);

                app.sheet.open(".dona-sheet-share");
            },
            CopyShareUrl: function () {
                var self = this;
                var app = self.$app;

                var toastCopy = app.toast.create({
                    text: 'Sao chép liên kết thành công',
                    closeTimeout: 2000,
                });

                const textInput = document.createElement("input");
                textInput.setAttribute('readonly', true);
                textInput.value = DetailItemModel.DonationItem.ShareUrl.trim();

                document.body.appendChild(textInput);

                textInput.select();
                document.execCommand("Copy");
                app.sheet.close(".dona-sheet-share");
                toastCopy.open();
            },
            ButtonShareClick: function () {
                var self = this;
                var app = self.$app;

                ProcessAppShareFacebook(DetailItemModel.DonationItem.ShareUrl.trim());

                app.sheet.close(".dona-sheet-share");
            },
            ButtonShareOtherAppClick: function () {
                var self = this;
                var app = self.$app;
                var contentShare = "Hãy chia sẻ hoàn cảnh này đến bạn bè để điều kỳ diệu sớm trở thành hiện thực! " + DetailItemModel.DonationItem.ShareUrl.trim();
                ProcessAppShareOther(contentShare);
                app.sheet.close(".dona-sheet-share");
            },
            LoadMoreDonationUser: function () {

                var self = this;
                DetailItemModel.Page = DetailItemModel.Page + 1;
                LoadDonationUserPaging(self, self.$app);
            },
            LoadMoreDonationRankUser: function () {

                var self = this;
                DetailItemModel.PageRank = DetailItemModel.PageRank + 1;
                LoadDonationRankUserPaging(self, self.$app);
            },
            DonationClick: function () {
                var self = this;
                var app = self.$app;
                app.preloader.show();
                ListCashBackInfoUser(app, function (res) {
                    DetailItemModel.DonationModel = res;
                    DetailItemModel.DonationModel.TotalMoneyFormat = "1";
                    DetailItemModel.DonationModel.Message = "";

                    if (res.totalCashBackMoney <= 0) {
                        app.preloader.hide();
                        //app.dialog.alert("Bạn chưa có Heo Vàng.");

                        var dialog = app.dialog.create({
                            title: '',
                            closeByBackdropClick: true,
                            text: '',
                            content: '<div class="pron-popup">' +
                                '   <div class="pron-popup-image">' +
                                '     <img src="https://static.mservice.io/pwa/images/donation/banner-heo-vang.jpg" class="img-fluid">' +
                                '   </div>' +
                                '  <div class="pron-popup-content text-left">' +
                                '     <h3 class="mt-0 mb-2 lutie-18 " >Bạn chưa có Heo Vàng</h3> ' +
                                '     <div >Hãy vào tính năng Heo Đất MoMo và cho heo ăn ngay để thu thập Heo Vàng.</div> ' +

                                '<div class="py-3 position-relative"> <a href="javascript:void(0);" id="btnNoHeoVang" class="external button button-fill color-green py-1 h-auto">Nuôi heo</a> <img src="https://static.mservice.io/pwa/images/donation/t-i-th-c-n.svg" class="button-coin-icon"/>  </div>' +
                                '   </div>' +
                                '</div>',
                            cssClass: "pron-popup-container",
                            on: {
                                open: function (ent) {
                                    ent.$el.find('#btnNoHeoVang').on('click', function (e) {
                                        window.ReactNativeWebView.postMessage('FinishActivity');
                                    });
                                }
                            }
                        }).open();

                        return;
                    }

                    if (res.totalCashBackMoney < 1) {
                        app.preloader.hide();
                        app.dialog.alert("Số Heo Vàng của bạn dưới 1.");
                        return;
                    }

                    //DonationSuggestions(res.totalCashBackMoney);
                    self.stepperPig.max = res.totalCashBackMoney;
                    self.stepperPig.setValue(res.totalCashBackMoney);
                    //self.stepperPig.setValue(1);

                    self.$setState(DetailItemModel);
                    app.preloader.hide();
                    app.sheet.open(".dona-sheet-money");
                })
            },
            SuggesionChange: function (total) {
                var self = this;
                var app = self.$app;

                DetailItemModel.DonationModel.TotalMoneyFormat = Number1(total);

                self.$setState(DetailItemModel);

                $$("#TotalMoneyError").hide();
                $$('#donation-money').trigger("change");
            },
            SuggesionTextChange: function (text) {
                var self = this;
                var app = self.$app;

                DetailItemModel.DonationModel.Message = text;

                self.$setState(DetailItemModel);
                $$('#donation-content').trigger("change");
            },
            SubmitTrans: function () {
                var self = this;
                var app = self.$app;
                var frmData = app.form.convertToData("#frm-donation");
                if (frmData.TotalMoneyFormat != "") {
                    var value = frmData.TotalMoneyFormat.replace(/\./g, '').replace(/\-/g, '').replace(/\ /g, '');

                    if (isNaN(value)) {
                        $$("#TotalMoneyError").text("Số Heo Vàng quyên góp phải là số.");
                        $$("#TotalMoneyError").show();
                        return;
                    }

                    frmData.TotalMoney = parseInt(value);
                    if (frmData.TotalMoney < 1) {
                        $$("#TotalMoneyError").text("Số Heo Vàng tối thiểu là 1.");
                        $$("#TotalMoneyError").show();
                        return;
                    }

                    if (frmData.TotalMoney > DetailItemModel.DonationModel.totalCashBackMoney) {
                        $$("#TotalMoneyError").text("Số Heo Vàng đóng góp vượt quá số Heo Vàng bạn đang có.");
                        $$("#TotalMoneyError").show();
                        return;
                    }

                    $$("#TotalMoneyError").hide();
                }
                else {
                    $$("#TotalMoneyError").text("Vui lòng nhập số Heo Vàng muốn quyên góp.");
                    $$("#TotalMoneyError").show();
                    return;
                }

                app.preloader.show();

                var param = {
                    userPhone: System.userInfo.phone,
                    userName: System.userInfo.userName,
                    donationId: DetailItemModel.DonationItem.Id,
                    totalOrder: frmData.TotalMoney,
                    reason: frmData.Message
                };

                CreateTrans(app, param, function (res) {

                    app.sheet.close(".dona-sheet-money");

                    app.preloader.hide();

                    DetailItemModel.TokenPayment = res;

                    var dialog = app.dialog.create({
                        title: '',
                        text: '',
                        cssClass: "pron-popup-container",
                        content: '<div class="pron-popup">' +
                            '  <div class="pron-popup-content text-left">' +
                            '     <h3 class="mt-0 mb-4 lutie-22 " >Xác nhận</h3> ' +
                            '     <div >Xác nhận quyên góp ' + frmData.TotalMoneyFormat + ' Heo Vàng cho chương trình "' + DetailItemModel.DonationItem.Title + '" </div> ' +
                            '   </div>' +
                            '</div>',
                        buttons: [
                            {
                                text: 'HỦY',
                                close: true,
                                color: "gray"
                            },
                            {
                                text: 'XÁC NHẬN',
                                onClick: function () {
                                    getTransactionInfo(app, function (res) {
                                        submitTransConfirm(app, self, frmData.TotalMoneyFormat);
                                    });
                                }
                            }],

                        on: {
                            open: function () {
                                console.log("OPEN");
                            }
                        }
                    }).open();



                });
            }
        },
        on: {
            pageInit: function (e, page) {
                var self = this;
                var app = self.$app;

                app.preloader.show();

                this.$app.on('initPageData', this.InitPageData);

                var swipeToClosePopup = app.popup.create({
                    el: '.cbs-present-more',
                    swipeToClose: "to-bottom",
                });


                self.stepperPig = app.stepper.create({
                    el: '#stepper-pig',
                    min: 1,
                    max: 2,
                    step: 1,
                    value: 1,
                    manualInputMode: true,
                    formatValue: function (valueInput) {
                        var value = valueInput.toString().replace(/\./g, '').replace(/\-/g, '').replace(/\ /g, '');
                        var valMoney = parseInt(value);
                        return Number1(value);
                    },
                    on: {
                        change: function (val) {
                            val.$buttonPlusEl.removeClass('opacity-5');
                            val.$buttonMinusEl.removeClass('opacity-5');

                            if (val.value == val.max) {
                                val.$buttonPlusEl.addClass('opacity-5')
                            }
                            if (val.value == val.min) {
                                val.$buttonMinusEl.addClass('opacity-5')
                            }
                        }
                    }
                });

                if (app.device.ios)
                    DetailItemModel.IsIos = 1;

                if (self.$route.query.isNoti != undefined) {
                    DetailItemModel.IsFromNoti = true;
                }

                this.GetUserInfo();

                GetDonationDetail(app, self.$route.params.slug, function (res) {
                    console.log(res);

                    DetailItemModel.DonationItem = res;

                    self.$setState(DetailItemModel);
                    app.preloader.hide();

                    ListDonationDetailAlbum(app, res.Id, function (res) {
                        console.log(res);

                        DetailItemModel.ListImage = res;
                        self.$setState(DetailItemModel);

                        if (res.length > 0) {
                            var galeryList = [];

                            for (var i = 0; i < res.length; i++) {
                                galeryList.push({ url: res[i].AvatarUrl, caption: res[i].Description })
                            }

                            $$(".js-donation-gallery .pron-col").on("click", function () {
                                var thumb = $$(this).attr('data-thumb') - 1;
                                myPhotoBrowserPopupDark.open(thumb);
                            });

                            var myPhotoBrowserPopupDark = app.photoBrowser.create({
                                photos: galeryList,
                                theme: "dark",
                                type: "standalone",
                                backLinkText: ""
                            });
                        }
                    });
                    DetailItemModel.DonationRankUser = [];
                    DetailItemModel.DonationUser = [];
                    LoadDonationUserPaging(self, app);
                    LoadDonationRankUserPaging(self, app);

                    var action = self.$route.query["action"];
                    if (action != undefined) {
                        switch (action) {
                            case "openpopup":
                                $$("#btnDonation").click();
                                break;
                            default:
                                break;
                        }
                    }
                });


            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
                var self = this;
                var app = self.$app;

                var $input = $$('#donation-content');
                $input.keyup(function (e) {
                    var max = 70;
                    if ($input.val().length > max) {
                        DetailItemModel.DonationModel.Message = $input.val().substr(0, max);
                    }
                    else {
                        DetailItemModel.DonationModel.Message = $input.val();
                    }
                    self.$setState(DetailItemModel);
                });

                $input.on('input:clear', function (e) {
                    DetailItemModel.DonationModel.Message = "";
                    self.$setState(DetailItemModel);
                });

                var $inputNum = $$('#donation-money');

                $$('.dona-sheet-money').on('sheet:close', function (e) {
                    DetailItemModel.DonationModel.TotalMoneyFormat = "1";
                    DetailItemModel.DonationModel.Message = "";
                    self.stepperPig.setValue(1);
                    $$("#TotalMoneyError").hide();
                    self.$setState(DetailItemModel);
                    $inputNum.trigger("change");
                    $input.trigger("change");
                });
            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };

</script>