﻿<template>
    <div class="page no-navbar no-toolbar no-swipeback">
        <div data-infinite-distance="50" class="page-content infinite-scroll-content " @infinite="LoadMoreDonation">
            {{#each Items}}
            <!--{{> "itemdonation"}}-->
            <div class="card ">
                <div class="embed-responsive embed-responsive-apd card-header ">
                    <a href="/quyen-gop-heovang/{{UrlRewrite}}" class="link-absolute"></a>

                    <div class="embed-responsive-img">
                        <img data-src="{{Avatar}}"
                             class="img-fluid  lazyloaded" alt="{{Title}}"
                             src="{{Avatar}}">
                    </div>
                </div>
                <div class="card-content card-content-padding">
                    <div class="dona-heading border-bottom">
                        <a href="/quyen-gop-heovang/{{UrlRewrite}}" class="text-dark">
                            <h3 class="mt-0 mb-0 lutie-card-heading">{{Title}}</h3>
                            <div class="lutie-card-subheading mb-0">{{Short}}</div>
                        </a>
                    </div>
                    <div class="dona-content">
                        <a href="/quyen-gop-heovang/{{UrlRewrite}}" class="text-dark">
                            <div class="dona-text">
                                Đã quyên góp được
                                <strong>
                                    {{TotalMoney}}
                                </strong>
                                {{#js_if "this.ExpectedValue > 0"}}
                                / {{ExpectedValueFormat}} <b>Heo Vàng</b>
                                {{/js_if}}
                            </div>
                            <div class="dona-process">
                                <div class="progressbar {{js "this.TotalOrder >= this.ExpectedValue ? 'color-green' : this.IsEndCampaign ? 'color-gray' : 'color-pink'"}}" data-progress="{{FinishPercent}}">
                                    <span></span>
                                </div>
                            </div>
                        </a>
                        <div class="dona-meta">
                            <div class="pron-row no-gutters align-items-center flex-nowrap">
                                <div class="pron-col auto">
                                    <div class="mr-3">
                                        <div class="lutie-12">Lượt quyên góp</div>
                                        <div class="font-weight-bold">{{TotalTrans}}</div>
                                    </div>
                                </div>
                                {{#js_if "!this.IsEndCampaign && this.ExpectedValue != null && this.TotalOrder < this.ExpectedValue"}}
                                <div class="pron-col auto">
                                    <div class="">
                                        <div class="lutie-12">Thời hạn còn</div>
                                        <div class="font-weight-bold">{{TimeToEndDate}}</div>
                                    </div>
                                </div>
                                {{/js_if}}
                                <div class="pron-col text-right">
                                    <a href="/quyen-gop-heovang/{{UrlRewrite}}{{js "this.ExpectedValue != null && this.TotalOrder >= this.ExpectedValue ? '' : this.IsEndCampaign ? '' : '?action=openpopup'"}}" class=" button button-outline w-auto d-inline-block  {{js "this.ExpectedValue != null && this.TotalOrder >= this.ExpectedValue ? 'color-gray opacity-7' : this.IsEndCampaign ? 'color-gray opacity-7' : 'color-pink'"}}">
                                        {{js "this.ExpectedValue != null && this.TotalOrder >= this.ExpectedValue ? 'Đã đạt mục tiêu' : this.IsEndCampaign ? 'Đã hết thời hạn' : 'Quyên góp'"}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="text-center p-3" style="display:none;" id="pnlLoadMore">
                <div class="preloader  infinite-scroll-preloader"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage } from '../../js/custom.js'

    var totalItem = 0;
    var pageLength = 2;
    var startIndex = 0;
    var allowInfinite = true;

    var ListDonationData = {
        Items: []
    };
    function ListDonation(app, fnc) {
        var url = System.apihost + '/__get/Donation/ListDonationHomeHeoVangPaging';
        var param = {
            pageLength: pageLength,
            startIndex: startIndex
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    export default {
        data: function () {
            return ListDonationData;
        },
        methods: {
            LoadMoreDonation: function () {
                var self = this;
                var app = self.$app;

                if (!allowInfinite) return;

                allowInfinite = false;

                ListDonation(app, function (res) {
                    console.log(res);

                    totalItem = res.TotalItems;
                    startIndex = startIndex + res.Items.length;

                    ListDonationData.Items = ListDonationData.Items.concat(res.Items);

                    self.$setState(ListDonationData);

                    allowInfinite = true;

                    if (startIndex >= totalItem) {
                        app.infiniteScroll.destroy('.infinite-scroll-content');
                        $$('.infinite-scroll-preloader').remove();
                        return;
                    }

                });
            }
        },
        on: {
            pageInit: function (e, page) {
                var self = this;
                var app = self.$app;

                //Template7.registerPartial('itemdonation', itemDonationTemplate);

                app.preloader.show();

                ListDonation(app, function (res) {
                    console.log(res);

                    totalItem = res.TotalItems;
                    startIndex = startIndex + res.Items.length;

                    if (startIndex < totalItem) {
                        $$('.infinite-scroll-preloader').show();
                    }
                    else {
                        app.infiniteScroll.destroy('.infinite-scroll-content');
                        $$('.infinite-scroll-preloader').remove();
                    }

                    ListDonationData.Items = res.Items;

                    self.$setState(ListDonationData);
                    app.preloader.hide();
                    $$("#pnlLoadMore").show();
                });
            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };

</script>

