<template>
    <div class="page">
        {{#js_if "!this.IsLoading"}}
        <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
                <div class=" w-100">
                    <p class="row mb-0 ">
                        {{#js_if "this.VoucherModel.listVoucher.length > 0"}}
                        <a href="javascript:void(0)" @click="UseVoucherClick()"
                            class="col button button-fill button-large color-pink external">
                            MỞ QUÀ NGAY
                        </a>
                        {{else}}
                        <a href="javascript:void(0)" class="col button button-fill button-large color-gray">
                            MỞ QUÀ NGAY
                        </a>
                        {{/js_if}}
                    </p>
                </div>
            </div>
        </div>
        <div class="page-content  bg-white">
            <div class="pron-container bg-white">
                <div class="pron-row">
                    <div class="embed-responsive embed-responsive-sale">
                        <img src="https://static.mservice.io/blogscontents/momo-upload-api-200224115015-637181418156055349.jpg"
                            class="embed-responsive-img" alt="">
                    </div>
                </div>
                <div class="sale-cluster">
                    <div class="sale-cluster-content  noti-content">
                        <p style="text-align: center;color:#ce0f6f;font-size:18px;">
                            <strong>
                                BẬT MÍ THẺ QUÀ BÍ MẬT
                            </strong>
                        </p>
                        <p style="text-align:center;border: 1px solid gray;font-weight:bold;">
                            <span>Số lượng thẻ quà bạn đang có</span><br />
                            <span
                                style="color:#ce0f6f;font-size:45px;line-height: 40px;">{{VoucherModel.listVoucher.length}}</span>
                        </p>
                        <div style="border: 1px solid gray;    padding: 0 5px;">
                            <p style="color:#ce0f6f;font-size:18px;">
                                <strong>
                                    NỘI DUNG CHƯƠNG TRÌNH
                                </strong>
                            </p>
                            <p>
                                <strong style="color:#ce0f6f;">
                                    1. Thời gian diễn ra
                                </strong>
                            </p>
                            <p>Từ ngày <b>dd/mm/yyyy</b> đến ngày <b>dd/mm/yyyy</b></p>
                            <p>
                                <strong style="color:#ce0f6f;">
                                    2. Cơ cấu giải thưởng
                                </strong>
                            </p>
                            <p>
                                - 01 iphone 11 trị giá <strong>20.000.000đ</strong><br />
                                - 10.000 thẻ quà đa năng <strong>10.000đ</strong><br />
                                - 50.000 thẻ quà đa năng <strong>5.000đ</strong>
                            </p>
                            <p>
                                <strong style="color:#ce0f6f;">
                                    3. Cách nhận thẻ quà bí mật
                                </strong>
                            </p>
                            <p>
                                - Giới thiệu thành công bạn bè sử dụng ví MoMo nhận ngay 02 thẻ<br />
                                - Hoàn thành thử thách MoMo đặt ra để nhận thêm thẻ
                            </p>
                            <p>
                                <strong style="color:#ce0f6f;">
                                    4. Hướng dẫn sử dụng
                                </strong>
                            </p>
                            <p>
                                Để mở thẻ quà bí mật<br />
                                1/ Nhấn <strong>“MỞ QUÀ NGAY”</strong> và chờ Bảng thông báo kết quả
                                <br />
                                2/ Bảng thông báo sẽ hiển thị thông tin quà bạn đã mở.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{/js_if}}
    </div>

</template>

<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage,Track } from '../../js/custom.js';

    var self = null;
    var _isSubmiting = false;
    var model = {
        IsLoading: true,
        IsUsing: false,
        UserInfo: {

        },
        VoucherModel: {
        }
    };

    export default {
        data: function () {
            return model;
        },
        methods: {
            InitPageData: function (userData) {
                var self = this;
                var app = self.$app;

                var rs = JSON.parse(userData);
                Track(app, userData);
                System.userInfo = rs;

                this.InitData();
            },
            GetUserInfo: function () {
                if (System.userInfo.phone == undefined) 
                    window.ReactNativeWebView.postMessage('GetUserInfo');
                else
                    this.InitData();
            },
            InitData: function () {
                var self = this;
                var app = self.$app;

                this.GetVoucherInfo();
            },
            GetVoucherInfo: function () {
                try {
                    var param = {
                        msgType: "GET_ALL_VOUCHER_RANDOM",
                        momoMsg: {
                            _class: "mservice.backend.entity.msg.ListMomoVoucher"
                        },
                        extra: "",
                        resFunc: "CallBackVoucherInfo"
                    };
                    window.ReactNativeWebView.postMessage(JSON.stringify({ action: "requestBackend", value: param }));
                } catch (e) {
                    console.log(e);
                }

            },
            CallBackVoucherInfo: function (data) {
                var self = this;
                var app = self.$app;

                Track(app, data);

                var jsonString = data.replace(/\n/g, "").replace(/"{/g, "{").replace(/}"/g, "}").replace(/]"/g, "]").replace(/"\[/g, "[");
                var jsonModel = JSON.parse(jsonString);

                if (!jsonModel.result) {
                    app.preloader.hide();
                    app.dialog.alert(jsonModel.errorDesc, function () {
                        window.ReactNativeWebView.postMessage('FinishActivity');
                    });
                    return;
                }

                model.VoucherModel = jsonModel.momoMsg;
                model.IsLoading = false;

                self.$setState(model);
                app.preloader.hide();

            },
            UseVoucherClick: function () {
                debugger;
                var self = this;
                var app = self.$app;
                try {
                    if (model.IsUsing)
                        return;
                    model.IsUsing = true;
                    app.preloader.show();

                    var param = {
                        msgType: "USE_VOUCHER_RANDOM",
                        momoMsg: {
                            user: model.UserInfo.phone,
                            giftId: model.VoucherModel.listVoucher[0].ID,
                            _class: "mservice.backend.entity.msg.VoucherRandomMsg"
                        },
                        extra: "",
                        resFunc: "CallBackUseVoucher"
                    };
                    window.ReactNativeWebView.postMessage(JSON.stringify({ action: "requestBackend", value: param }));
                    self.$setState(model);
                } catch (e) {
                    console.log(e);
                }
            },
            CallBackUseVoucher: function (data) {
                var self = this;
                var app = self.$app;

                Track(app, data);

                //data = '{"momoMsg":{"giftId":"191227_gtbb_test_voucherrandom_10k","user":"0772532521","image":null,"title":"This is title","startDate":1487465328905,"endDate":1687465328905,"refId":"VoucherNavigator","type":1,"userIdApp":"01222532521","originGiftId":"b92a3c62-f78d-42ce-9a6a-2dc2e873ff79-PREPAID-m4b_sdk_backend.prepaid","_class":"mservice.backend.entity.msg.VoucherRandomMsg"},"user":"01222532521","result":true,"errorCode":0,"errorDesc":"Thành công"}';
                var jsonString = data.replace(/\n/g, "").replace(/"{/g, "{").replace(/}"/g, "}").replace(/]"/g, "]").replace(/"\[/g, "[");
                var jsonModel = JSON.parse(jsonString);

                if (!jsonModel.result) {
                    app.preloader.hide();
                    app.dialog.alert(jsonModel.errorDesc, function () {
                        window.ReactNativeWebView.postMessage('FinishActivity');
                    });
                    return;
                }

                model.ResultVoucherModel = jsonModel.momoMsg;
                model.IsUsing = false;

                var tmpPopup = '';
                var tmpTitle = '';
                var tmpDescription = '';
                var tmpSuccess = '<div class="pron-popup">' +
                    ' <div class="pron-popup-close" ><img src="https://static.mservice.io/pwa/images/donation/popup-close.svg"/></div> ' +
                    '   <div class="pron-popup-image">' +
                    '     <img src="https://static.mservice.io/blogscontents/momo-upload-api-200224154205-637181557257055940.jpg" class="img-fluid">' +
                    '   </div>' +
                    '  <div class="pron-popup-content text-left">' +
                    '     <h3 class="mt-0 mb-2 lutie-18 text-center" >[[Title]]</h3> ' +
                    '     <div >[[Description]]</div> ' +
                    '<div class="py-3 position-relative"> <a href="javascript:void(0);" id="btnGiftResult" class="external button button-fill color-green py-1 h-auto">XEM QUÀ NGAY</a></div>' +
                    '   </div>' +
                    '</div>';

                var tmpFail = '<div class="pron-popup">' +
                    ' <div class="pron-popup-close" ><img src="https://static.mservice.io/pwa/images/donation/popup-close.svg"/></div> ' +
                    '   <div class="pron-popup-image">' +
                    '     <img src="https://static.mservice.io/blogscontents/momo-upload-api-200224154221-637181557419153766.jpg" class="img-fluid">' +
                    '   </div>' +
                    '  <div class="pron-popup-content text-left">' +
                    '     <h3 class="mt-0 mb-2 lutie-18 " >CHÚC BẠN MAY MẮN LẦN SAU!</h3> ' +
                    '     <div >Tiếc quá, lần này may mắn chưa mỉm cười với bạn rồi! Hãy tiếp tục cố gắng tìm thêm cơ hội để mở những phần quà bí mật khác bạn nhé!</div> ' +
                    '<div class="py-3 position-relative"> <a href="javascript:void(0);" id="btnGiftResultNoAward" class="external button button-fill color-green py-1 h-auto">TÌM THÊM GÓI QUÀ SIÊU BẤT NGỜ</a></div>' +
                    '   </div>' +
                    '</div>';

                if (model.ResultVoucherModel.giftId == "") {
                    tmpPopup = tmpFail;
                } else {
                    if (model.ResultVoucherModel.type == 1) {
                        tmpTitle = "XIN CHÚC MỪNG NGƯỜI MAY MẮN NHẤT!";
                        tmpDescription = "Phần thưởng may mắn nhất bạn đã nhận được là<br>" + model.ResultVoucherModel.title;
                    } else {
                        tmpTitle = "CHÚC MỪNG BẠN ĐÃ NHẬN QUÀ MAY MẮN!";
                        tmpDescription = "Phần quà may mắn bạn đã nhận được là<br>-" + model.ResultVoucherModel.title;
                    }
                    tmpPopup = tmpSuccess.replace("[[Title]]", tmpTitle).replace("[[Description]]", tmpDescription);
                }

                var dialog = app.dialog.create({
                    title: '',
                    closeByBackdropClick: false,
                    text: '',
                    content: tmpPopup,
                    cssClass: "pron-popup-container",
                    on: {
                        open: function (ent) {
                            ent.$el.find('#btnGiftResult').on('click', function (e) {
                                app.dialog.close(".pron-popup-container");
                                location.href = "momo://?refId=" + model.ResultVoucherModel.refId;
                                window.ReactNativeWebView.postMessage('FinishActivity');
                            });

                            ent.$el.find('#btnGiftResultNoAward').on('click', function (e) {
                                app.dialog.close(".pron-popup-container");
                                location.href = "momo://?refId=TAB1";
                                window.ReactNativeWebView.postMessage('FinishActivity');
                            });

                            ent.$el.find(".pron-popup-close").on('click', function (e) {
                                self.ReloadData();
                                app.dialog.close();
                            });
                        }
                    }
                }).open();

                self.$setState(model);
                app.preloader.hide();
            },
            ReloadData: function () {
                var self = this;
                var app = self.$app;

                model.VoucherModel.listVoucher.shift();
                self.$setState(model);

            }
        },
        on: {
            pageInit: function (e, page) {
                var self = this;
                var app = self.$app;

                app.preloader.show();

                this.$app.on('initPageData', this.InitPageData);
                this.$app.on('CallBackVoucherInfo', this.CallBackVoucherInfo);
                this.$app.on('CallBackUseVoucher', this.CallBackUseVoucher);

                //this.InitPageData('{"phone":"01222532521","userName":"NGUYEN VAN A","balance":"1421500","appVer":21390,"appCode":"2.1.39","deviceOS":"ANDROID"}');
                this.GetUserInfo();
            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
                var self = this;
                var app = self.$app;


            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };

</script>