<template>
    <div class="page">
        <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
                <div class=" w-100">
                    <p class="row mb-0 ">
                        <a class="col button button-fill button-large color-gray link back">Quay lại</a>
                        <a href="javascript:void(0)" @click="BtnFinishClick()" class="col button button-fill button-large color-pink">
                            Đóng
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="pron-container balance bg-white">
                {{#js_if "this.Info.Avatar != 'https://static.mservice.io/default/s/no-image.png'"}}
                <div class="pron-row balance">
                    <div class="embed-responsive embed-responsive-sale">
                        <img src="{{Info.Avatar}}" class="embed-responsive-img" alt="">
                    </div>
                </div>
                {{/js_if}}
                {{#js_if "this.Info.Logo != 'https://static.mservice.io/default/s/no-image.png'"}}
                <div class="sale-avatar-container">
                    <div class="sale-avatar">
                        <img src="{{Info.Logo}}" alt="">
                    </div>
                </div>
                {{/js_if}}
                <div class="sale-header">
                    <h1 class="sale-title mt-0 mb-2">
                        {{Info.Title}}
                    </h1>
                    <!--<div class="sale-time">
                        Áp dụng từ 04/9/2019 đến 30/9/2019
                    </div>-->
                </div>
                {{#js_if "this.Info.Content"}}
                <div class="pron-section pron-container">

                    <div class="js-pron-viewmore  active">
                        <div class="js-pron-viewmore-content mb-2 is-200 is-white">

                            <div class="noti-content font-15">
                                {{Info.Content}}
                            </div>

                        </div>
                        <div class="js-pron-viewmore-btn  style1 text-left mb-4 ">

                            <div class="pt-2 pb-3">
                                <a href="#" class="  open">Xem thêm <i class="f7-icons">chevron_down</i> </a>

                                <a href="#" class="  close">
                                    Rút gọn <i class="f7-icons">chevron_up</i>
                                </a>
                            </div>

                        </div>

                    </div>


                </div>
                {{/js_if}}
                {{#js_if "this.ListHelpDetailModel"}}
                <div class="sale-cluster">
                    <div class="sale-cluster-title">
                        Hướng dẫn liên kết
                    </div>
                    {{#each ListHelpDetailModel}}
                    <div class="list accordion-list my-4 p-0">
                        <ul>
                            {{#each Groups}}
                            <li class="accordion-item">
                                <a href="#" class="item-content item-link pl-0">
                                    <div class="item-inner">
                                        <div class="item-title">{{Name}}</div>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <ul class="steps steps-vertical">
                                        {{#each Items}}
                                        {{#each Blocks}}
                                        <li class="step-item ">
                                            <div class="step-link">
                                                <span class="step-number">{{@index+1}}</span>
                                                <span class="step-title">
                                                    {{Title}}
                                                </span>
                                            </div>
                                        </li>
                                        {{/each}}
                                        {{/each}}
                                    </ul>
                                    <a href="#" data-popup=".pop-huong-dan-{{Id}}" class="button color-blue mb-2 popup-open ">
                                        Xem chi tiết
                                    </a>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/each}}
                </div>
                {{/js_if}}
            </div>
        </div>

        {{#js_if "this.ListHelpDetailModel"}}
        {{#each ListHelpDetailModel}}
        {{#each Groups}}
        <div class="popup cas-htu-popup popup-swipe-round pop-huong-dan-{{Id}}">
            <div class="view">
                <div class="page">
                    <div class="navbar close-handler">
                        <div class="navbar-inner sliding">
                            <div class="left">
                                <a class="link popup-close">
                                    <img src="https://static.mservice.io/pwa/images/icons/icon-x.svg" width="28" alt="">
                                </a>
                            </div>
                            <div class="title">{{Name}}</div>
                        </div>
                    </div>
                    <div class="page-content"  style="padding-top: 48px;">
                        <div class="swiper-container htu-swiper pop-huong-dan-sw-{{Id}}">
                            <div class="swiper-pagination swiper-pagination-ct-{{Id}}"></div>
                            <div class="swiper-wrapper">
                                {{#each Items}}
                                {{#each Blocks}}
                                <div class="swiper-slide">

                                    <div class="htu-content">
                                        <div class="htu-mockup">
                                            <div class="htu-mockup-slider" style="background-image: url('https://static.mservice.io/pwa/images/phone-mockup.png')">
                                                <img src="{{Avatar}}" class="img-fluid d-block mx-auto swiper-lazy" alt="">
                                            </div>

                                            <div class="htu-mockup-txt">
                                                <h3 class="htu-mockup-title mt-0 mb-2">{{Title}}</h3>
                                                <div class="htu-mockup-body">
                                                    {{Content}}
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                {{/each}}
                                {{/each}}
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/each}}
        {{/js_if}}
    </div>


</template>

<script>
        import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage } from '../../js/custom.js'

    var self = null;
    var _isLoading = false;
    var model = {
        Info: {
        },
        ListHelpDetailModel: []
    };

    function contentLoadMore(e) {
        const saleMore = e.querySelector(".sale-cluster-content");
        const saleMoreBtn = e.querySelector(".js-sale-more-btn");
        const saleMoreHeight = saleMore.scrollHeight;
        if (saleMoreHeight > 200) {
            e.classList.add("active");

            saleMoreBtn.addEventListener("click", function () {
                saleMore.style.setProperty("max-height", saleMoreHeight + "px");
                e.classList.remove("active");
            });
        }
    };

    function getData(app, params, fnc) {
        if (_isLoading)
            return;
        _isLoading = true;
        var url =  System.apihost + '/__get/Guide/Detail';
        var param = {
            slug: params.slug
        };
        app.request.json(url, param, (res) => {
            _isLoading = false;

            if (res.Error) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.Error.Code]);
                if (res.Error.Code === 'notfound') {
                    app.views.main.router.navigate({
                        name: '404'
                    });
                }

                return;
            }

            fnc(res.Data);

        });
    };

    function trackingPageView(app, id) {
        var url =  System.apihost + '/__get/Guide/TrackingPageView';
        var param = {
            id: id
        };
        app.request.json(url, param, (res) => {
            console.log(res);
        });
    };

    export default {
        data: function () {
            return model;
        },
        methods: {
            BtnFinishClick: function () {
                var self = this;
                var app = self.$app;
                try {
                    window.ReactNativeWebView.postMessage('FinishActivity');
                } catch (e) {

                }

                setTimeout(function () {
                    app.dialog.alert("Vui lòng cập nhật phiên bản mới nhất để có trải nghiệm tốt hơn.<br> Đóng Thông báo và nhấn Quay về để thoát.");
                }, 2000);
            }
        },
        on: {
            pageInit: function (e, page) {
                self = this;
                var app = self.$app;
                app.preloader.show();
                var params = self.$route.params;
                getData(app, params, function (data) {
                    model = data;

                    trackingPageView(app, model.Info.Id);
                    self.$setState(model);

                    if (model.ListHelpDetailModel != null) {
                        for (var i = 0; i < model.ListHelpDetailModel.length; i++) {
                            for (var j = 0; j < model.ListHelpDetailModel[i].Groups.length; j++) {

                                var Id = model.ListHelpDetailModel[i].Groups[j].Id;

                                var casHtu = app.popup.create({
                                    el: '.pop-huong-dan-' + Id,
                                    swipeToClose: "to-bottom",
                                    swipeHandler: '.close-handler',
                                    dataId: Id
                                });

                                var swiper = app.swiper.create('.pop-huong-dan-sw-' + Id, {
                                    pagination: {
                                        el: '.swiper-pagination-ct-' + Id,
                                        type: 'fraction',
                                        hideOnClick: true
                                    },
                                })

                                casHtu.on('opened', function (popup) {
                                    var swiper = app.swiper.get('.pop-huong-dan-sw-' + popup.params.dataId);
                                    swiper.update();
                                });
                            }
                        }

                    }

                    $$(".card-inner-content a").forEach(function (e) { $$(e).addClass('external'); });
                    $$(".card-inner-content img").forEach(function (e) { $$(e).addClass('img-fluid'); });


                    if (model.Info.Content) {

                        setTimeout(function () {
                            const ele = document;
                            const saleMoreCon = ele.querySelector(".js-pron-viewmore");
                            const saleMore = ele.querySelector(".js-pron-viewmore-content");
                            const saleMoreBtn = ele.querySelector(".js-pron-viewmore-btn");
                            const saleMoreHeight = saleMore.scrollHeight;

                            if (saleMoreHeight > 170) {
                                saleMoreCon.classList.add("active");


                                saleMoreCon.classList.add("is-long");

                                saleMoreBtn.addEventListener("click", function () {
                                    if (saleMoreCon.classList.contains("active")) {
                                        saleMore.style.setProperty("max-height", saleMoreHeight + "px");
                                        saleMoreCon.classList.remove("active");
                                    } else {
                                        saleMore.style.setProperty("max-height", "170px");
                                        saleMoreCon.classList.add("active");
                                    }
                                });
                            }
                        }, 200);
                    }

                    app.preloader.hide();
                });

            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };
</script>