﻿<template>
    <div class="page no-navbar no-toolbar no-swipeback">
        <div data-infinite-distance="50" class="page-content infinite-scroll-content " @infinite="LoadMoreBankMapping">

            {{#each Items}}
            <div class="card ">
                <a href="/lien-ket-tai-khoan/{{UrlRewrite}}" class="link-absolute"></a>
                <div class="embed-responsive embed-responsive-apd card-header ">
                    <div class="embed-responsive-img">
                        <img data-src="{{Avatar}}" class="img-fluid  lazyloaded" alt="{{Title}}" src="{{Avatar}}">
                    </div>
                </div>
                <div class="card-content card-content-padding">
                    <div class="dona-heading">
                        <h3 class="mt-0 mb-0 lutie-card-heading">{{Title}}</h3>
                        <div class="lutie-card-subheading mb-0">{{ShortContent}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="text-center p-3" style="display:none;" id="pnlLoadMore">
                <div class="preloader  infinite-scroll-preloader"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage } from '../../js/custom.js'

    var totalItem = 0;
    var pageLength = 2;
    var startIndex = 0;
    var allowInfinite = true;

    var ListBankMappingData = {
        Items: []
    };
    function ListBankMapping(app, fnc) {
        var url = System.apihost + '/__get/Guide/ListBankMappingPaging';
        var param = {
            pageLength: pageLength,
            startIndex: startIndex
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    export default {
        data: function () {
            return ListBankMappingData;
        },
        methods: {
            LoadMoreBankMapping: function () {
                var self = this;
                var app = self.$app;

                if (!allowInfinite) return;

                allowInfinite = false;

                ListBankMapping(app, function (res) {
                    console.log(res);

                    totalItem = res.TotalItems;
                    startIndex = startIndex + res.Items.length;

                    ListBankMappingData.Items = ListBankMappingData.Items.concat(res.Items);

                    self.$setState(ListBankMappingData);

                    allowInfinite = true;

                    if (startIndex >= totalItem) {
                        app.infiniteScroll.destroy('.infinite-scroll-content');
                        $$('.infinite-scroll-preloader').remove();
                        return;
                    }

                });
            }
        },
        on: {
            pageInit: function (e, page) {
                var self = this;
                var app = self.$app;

                //Template7.registerPartial('itemdonation', itemDonationTemplate);

                app.preloader.show();

                ListBankMapping(app, function (res) {
                    console.log(res);

                    totalItem = res.TotalItems;
                    startIndex = startIndex + res.Items.length;

                    if (startIndex < totalItem) {
                        $$('.infinite-scroll-preloader').show();
                    }
                    else {
                        app.infiniteScroll.destroy('.infinite-scroll-content');
                        $$('.infinite-scroll-preloader').remove();
                    }

                    ListBankMappingData.Items = res.Items;

                    self.$setState(ListBankMappingData);
                    app.preloader.hide();
                    $$("#pnlLoadMore").show();
                });
            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };

</script>