<template>
  <div class="page">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a  href="momo://?refId=TAB0" class="link external">
                    <i class="icon icon-back"></i>
                    <span class="if-not-md">Màn hình chính</span>
                </a>
            </div>
            <div class="title">Trang bạn truy cập không tồn tại</div>
        </div>
    </div>
    <div class="page-content d-flex align-items-center justify-content-center">
        <div style="text-align: center">
            <h1 style="margin:0; font-size:120px; line-height:120px; font-weight:bold;" class="text-momo opacity-3">404</h1>
            <h2 style="margin-top:20px;font-size: 26px; " class="mb-2 text-secondary">
                Trang bạn truy cập không tồn tại
            </h2>
            <!--<p class="px-4 text-secondary">The resource requested could not be found on this server!</p>-->
            <p><a href="momo://?refId=TAB0" class="external">Trở về màn hình chính</a></p>
        </div>
    </div>
</div>
</template>
<script>
export default {};
</script>