<template>
    <div class="page">
        <div class="page-content d-flex align-items-center justify-content-center">
            <div class="text-center">
                <div class="preloader"></div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {};
</script>