<template>
    <div class="page">
        <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
                <div class=" w-100">
                    {{#js_if "this.Step == 1"}}
                    {{#js_if "!this.DonationInfo.isSubscribe"}}
                    <p class="row mb-0 ">
                        <a href="momo://?refId=app_all_service_top" class="col button button-fill button-large color-gray external">Quay lại</a>
                        {{#js_if "!this.DonationInfo.isPartnerOff"}}
                        <button class="col button button-fill button-large color-pink" id="btnDonation" @click="BtnDonationClick">Ủng hộ ngay</button>
                        {{/js_if}}
                    </p>
                    {{else}}
                    <p class="row mb-0 ">
                        <a href="javascript:void(0);" @click="BtnManageDonationClick" class="col button button-fill button-large color-pink external">Quản lý gói ủng hộ</a>
                    </p>
                    {{/js_if}}
                    {{/js_if}}

                    {{#js_if "this.Step == 2"}}
                    <p class="row mb-0 ">
                        <button class="col button button-fill button-large color-pink" id="btnDonationStep2" @click="BtnSubcriberClick">Tiếp tục</button>
                    </p>
                    {{/js_if}}

                    {{#js_if "this.Step == 3"}}
                    <p class="row mb-0 ">
                        <button class="col button button-fill button-large color-gray" id="btnDonationStep3" @click="BtnSubcriberConfirmClick">Đăng ký ngay</button>
                    </p>
                    {{/js_if}}

                    {{#js_if "this.Step == 4"}}
                    <p class="row mb-0 ">
                        <button class="col button button-fill button-large color-pink" id="btnDonationStep4" @click="BtnSubcriberConfirmPassClick">Xác nhận</button>
                    </p>
                    {{/js_if}}


                    {{#js_if "this.Step == 5"}}

                    <p class="row mb-0 ">
                        <a href="momo://?refId=TAB0" class="col button button-fill button-large color-pink external">Màn hình chính</a>
                        {{#js_if "this.DonationSubcriberInfo.Type != 1"}}
                        <a href="momo://?refId=LinkServiceDetailMain" class="col button button-fill button-large color-pink external">Quản lý gói ủng hộ</a>
                        {{/js_if}}
                    </p>


                    {{/js_if}}


                    {{#js_if "this.Step == 6"}}
                    <p class="row mb-0 ">
                        <a href="momo://?refId=TAB0" class="col button button-fill button-large color-pink external">Màn hình chính</a>
                    </p>
                    {{/js_if}}
                </div>
            </div>
        </div>
        <div class="tabs-animated-wrap">
            <div class="tabs">
                <div id="step1" class="page-content tab tab-active">
                    <div class="embed-responsive embed-responsive-apd ">
                        <div class="embed-responsive-img">

                            <div class="dona-share">
                                <button class="col button button-fill button-round-ios color-white text-color-pink sheet-open font-weight-bold " data-sheet=".dona-sheet-share">
                                    Chia sẻ <i class="f7-icons lutie-14">forward_fill</i>
                                </button>
                            </div>

                            <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-200416150617-637226463779722442.png" class="img-fluid  lazyloaded" alt="Hãy giúp Thiện Nhân trở thành bé trai đúng nghĩa!" src="https://static.mservice.io/blogscontents/momo-upload-api-200416150617-637226463779722442.png">
                        </div>
                    </div>
                    <div class="card dona-hero ">

                        <div class="card-content card-content-padding">
                            <div class="pron-row no-gutters align-items-center">
                                <div class="pron-col auto">
                                    <div class="izlu-avatar dona-avatar">
                                        <img src="https://static.mservice.io/default/s/no-image.png" class="img-fluid mx-auto" alt="Cùng Hoàng Hoa Trung – Forbes 30Under30 Việt Nam, Điều hành dự án 'Nuôi Em' xây 500 điểm trường chỉ từ 2000 lẻ mỗi ngày!">
                                    </div>
                                </div>
                                <div class="pron-col">

                                    <h3 class="mt-0 mb-0 lutie-card-heading">Sức mạnh 2,000 mùa 2: Xây dựng 5 điểm trường tiếp theo tại Huyện Mường Nhé</h3>
                                    <div class="lutie-card-subheading mb-0">Đồng hành cùng Hoàng Hoa Trung - Forbes 30Under30 Việt Nam, trên chặng đường dựng xây 4,000 điểm trường, xóa sổ điểm trường tạm.</div>
                                </div>

                            </div>

                        </div>

                    </div>


                    <div class="card ">
                        <div class="card-content card-content-padding">
                            {{#js_if "this.DonationInfo.total > 0"}}
                            <div class="dona-content">
                                <div class="dona-text">
                                    Đã quyên góp được
                                    <strong>
                                        {{FM_Number1 this.DonationInfo.amount}}
                                    </strong>

                                    / {{FM_Number1 this.DonationInfo.total}} <b>VNĐ</b>

                                </div>
                                <div class="dona-process">
                                    <div class="progressbar {{js "this.DonationInfo.amount >= this.DonationInfo.total ? 'color-green' : this.DonationInfo.IsEndCampaign ? 'color-gray' : 'color-pink'"}}" data-progress="{{DonationInfo.FinishPercent}}">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="dona-meta">
                                    <div class="pron-row no-gutters align-items-center justify-content-between flex-nowrap">
                                        <div class="pron-col auto">

                                            <div class="mr-3">
                                                <div class="lutie-12">Lượt quyên góp</div>
                                                <div class="font-weight-bold">{{#js_if "this.DonationInfo.numberDonate"}}{{FM_Number1 this.DonationInfo.numberDonate}}{{else}}0{{/js_if}}</div>
                                            </div>

                                        </div>
                                        <div class="pron-col auto">
                                            <div class="mr-3">
                                                <div class="lutie-12">Đạt được</div>
                                                <div class="font-weight-bold">{{DonationInfo.FinishPercent}}%</div>
                                            </div>
                                        </div>


                                        <div class="pron-col auto ">
                                            {{#js_if "this.DonationInfo.total != null && this.DonationInfo.amount >= this.DonationInfo.total"}}
                                            <div class="pron-col auto ">
                                                <div class="text-color-green font-weight-bold font-12">
                                                    Đã đạt mục tiêu
                                                </div>
                                            </div>


                                            {{/js_if}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {{/js_if}}

                            <div class="pron-section border-top mt-4 pt-4">
                                <h4 class="lutie-section-heading font-weight-bold mt-0 mb-3">
                                    Thông tin
                                </h4>
                                <div class="pron-section-content lutie-section-content text-align-justify">
                                    <div class="lutie-section-less" style="max-height: 100px;">
                                        <p><strong>&quot;Sức mạnh 2000&quot; v&agrave; tấm l&ograve;ng thiện nguyện của một người b&igrave;nh thường</strong></p>

                                        <p>Dự &aacute;n g&acirc;y quỹ chỉ từ 2,000đ lẻ mỗi ng&agrave;y được s&aacute;ng lập v&agrave; điều h&agrave;nh bởi Ho&agrave;ng Hoa Trung, đồng h&agrave;nh bởi Trung t&acirc;m T&igrave;nh nguyện Quốc gia v&agrave; MoMo nhằm mục ti&ecirc;u x&acirc;y dựng hơn 4,000 điểm trường khang trang, x&oacute;a sổ nạn điểm trường tạm tại c&aacute;c v&ugrave;ng kh&oacute; khăn tr&ecirc;n to&agrave;n quốc. Với h&agrave;nh tr&igrave;nh hoạt động x&atilde; hội 12 năm, Hoa Trung đ&atilde; x&acirc;y dựng th&agrave;nh c&ocirc;ng 35 điểm trường v&agrave; hiện đang điều h&agrave;nh dự &aacute;n Nu&ocirc;i Em với 12,000 em nhỏ được nu&ocirc;i cơm với gần 4 triệu bữa ăn.&nbsp;</p>

                                        <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416141843-637226435238013630.png" /></p>

                                        <p style="text-align: center;"><em>Ho&agrave;ng Hoa Trung v&agrave; c&aacute;c em nhỏ</em></p>

                                        <p>Trong giai đoạn hai, dự &aacute;n đặt mục ti&ecirc;u g&acirc;y quỹ với tổng gi&aacute; trị 1,375,000,000 VND để x&acirc;y cất 5 ng&ocirc;i trường tại c&aacute;c bản Mường Toong, Tả K&ocirc; Ki, Trạm P&uacute;ng, Huổi Pết, Ng&atilde; Ba thuộc huyện Mường Nh&eacute; tỉnh Điện Bi&ecirc;n.</p>

                                        <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416141925-637226435651609286.jpg" /></p>

                                        <p style="text-align: center;"><em>M&ocirc; h&igrave;nh x&acirc;y dựng trường học m&ugrave;a 2&nbsp;</em></p>

                                        <p><strong>Điểm trường Mường Toong 10</strong></p>

                                        <p>Ng&ocirc;i trường x&acirc;y dựng bằng vật liệu th&ocirc; sơ, n&ecirc;n sau 7 năm x&acirc;y dựng, trường đ&atilde; xuống cấp trầm trọng. V&aacute;ch tường được x&acirc;y bằng tấm gỗ gh&eacute;p, c&ograve;n trần nh&agrave; th&igrave; lợp bằng t&ocirc;n, do đ&oacute; m&ugrave;a đ&ocirc;ng c&aacute;c em học dễ bị gi&oacute; lạnh l&ugrave;a c&ograve;n m&ugrave;a h&egrave; th&igrave; qu&aacute; n&oacute;ng. Dự &aacute;n l&ecirc;n kế hoạch x&acirc;y ki&ecirc;n cố 01 ph&ograve;ng mầm non, 01 ph&ograve;ng c&ocirc;ng vụ.</p>

                                        <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416141956-637226435966331171.png" /></p>

                                        <p style="text-align: center;"><em>Điểm trường m&ugrave;a 2: Trường bản Mường Toong</em></p>

                                        <p><strong>Điểm trường Tả Kố Ki</strong></p>

                                        <p>Ở bản Tả Kố Ki, 100% người d&acirc;n l&agrave; d&acirc;n tộc H&agrave; Nh&igrave;, cuộc sống phụ thuộc v&agrave;o l&agrave;m nương rẫy n&ecirc;n đời sống c&ograve;n gặp nhiều kh&oacute; khăn. Theo th&ocirc;ng tin từ hiệu trưởng trường, ph&ograve;ng học tạm của c&aacute;c em đ&atilde; xuống cấp trầm trọng, kh&ocirc;ng c&ograve;n đủ đ&aacute;p ứng điều kiện giảng dạy, chăm s&oacute;c của c&aacute;c thầy c&ocirc;. Do vậy, Dự &aacute;n sẽ g&acirc;y quỹ để t&agrave;i trợ cho việc x&acirc;y dựng 1 ph&ograve;ng học mầm non v&agrave; 1 ph&ograve;ng c&ocirc;ng vụ.&nbsp;&nbsp;</p>

                                        <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416142031-637226436315290823.png" /></p>

                                        <p style="text-align: center;"><strong>Điểm trường m&ugrave;a 2: Trường bản Tả Kố Ki</strong></p>

                                        <p><strong>Điểm trường Bản Trạm P&uacute;ng</strong></p>

                                        <p>Sau 15 năm x&acirc;y dựng, t&igrave;nh trạng mối mọt khiến cơ sở vật chất kh&ocirc;ng c&ograve;n đảm bảo cho c&aacute;c hoạt động giảng dạy v&agrave; học tập của gi&aacute;o vi&ecirc;n v&agrave; học sinh. Với số lượng học sinh l&ecirc;n đến 48 em, nh&agrave; trường cần hỗ trợ 02 ph&ograve;ng học v&agrave; 01 ph&ograve;ng c&ocirc;ng vụ.&nbsp;&nbsp;&nbsp;</p>

                                        <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416142059-637226436599316680.png" /></p>

                                        <p style="text-align: center;"><strong>Điểm trường m&ugrave;a 2: Trường bản Trạm P&uacute;ng</strong></p>

                                        <p><strong>Điểm trường Bản Huổi Pết 2&nbsp;</strong></p>

                                        <p>Được x&acirc;y dựng từ 10 năm về trước, nay lớp học đ&atilde; trở n&ecirc;n qu&aacute; chật chội so với số lượng học sinh nay đ&atilde; tăng l&ecirc;n đến 15 em. Trong m&ugrave;a h&egrave; n&oacute;ng bức sắp tới, c&aacute;c em mong ước được lắp đặt bộ năng lượng gi&oacute; mặt trời, nhờ đ&oacute; m&agrave; xua đi c&aacute;i n&oacute;ng bức trong mỗi buổi học.&nbsp;</p>

                                        <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416142134-637226436941247775.png" /></p>

                                        <p style="text-align: center;"><em>Điểm trường m&ugrave;a 2: Trường bản Huổi Pết 2</em></p>

                                        <p><strong>Điểm trường Bản Ng&atilde; Ba</strong></p>

                                        <p>Điểm trường c&aacute;ch trung t&acirc;m x&atilde; 4km với 3 lớp c&ugrave;ng khoảng 55 em học sinh. C&aacute;c lớp học tại đ&acirc;y đ&atilde; được x&acirc;y dựng tr&ecirc;n 20 năm n&ecirc;n bị xuống cấp nặng nề, nhiều mối mọt. Do vậy, Dự &aacute;n c&ugrave;ng Ph&ograve;ng Gi&aacute;o Dục sẽ hỗ trợ diện t&iacute;ch, tiền san ủi đất, to&agrave;n bộ b&agrave;n ghế cho c&aacute;c em nhỏ c&ugrave;ng với 2 ph&ograve;ng học ki&ecirc;n cố tại trường.</p>

                                        <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416142202-637226437223860962.png" /></p>

                                        <p style="text-align: center;"><em>Điểm trường m&ugrave;a 2: Trường bản Ng&atilde; Ba</em></p>

                                        <p>Dự &aacute;n rất cần sự đồng h&agrave;nh của tất cả c&aacute;c nh&agrave; hảo t&acirc;m, bạn đọc gần xa. Mỗi đ&oacute;ng g&oacute;p nhỏ b&eacute; mỗi ng&agrave;y của c&aacute;c bạn đều l&agrave; những vi&ecirc;n gạch tạo n&ecirc;n k&igrave; t&iacute;ch, điều phi thường vĩ đại.&nbsp;</p>

                                        <div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
                                            <p>To&agrave;n bộ số tiền của người d&ugrave;ng MoMo quy&ecirc;n g&oacute;p mỗi ng&agrave;y sẽ được chuyển trực tiếp cho Trung t&acirc;m T&igrave;nh nguyện Quốc gia để triển khai việc x&acirc;y dựng c&aacute;c điểm trường. To&agrave;n bộ th&ocirc;ng tin được update tr&ecirc;n website: <a href="http://www.sucmanh2000.com/">http://www.sucmanh2000.com/</a></p>
                                        </div>

                                    </div>
                                    <div class="py-3">
                                        <a href="#" class="col button button-outline border-lightgray popup-open" data-popup=".cbs-present-more">
                                            Xem chi tiết
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="pron-section border-top mt-4 pt-4">
                                <h4 class="lutie-section-heading font-weight-bold mt-0 mb-3">
                                    Hình ảnh
                                </h4>
                                <div class="pron-section-content lutie-section-content ">

                                    <div class="pron-container izlu-gallery js-donation-gallery">
                                        <div class="pron-row">
                                            {{#each ListAlbum}}
                                            <div class="pron-col" data-thumb="{{js "@index + 1"}}">
                                                <div class="izlu-gallery-item">
                                                    <div class="embed-responsive embed-responsive-1by1 ">

                                                        <img src="{{this.AvatarUrl}}"
                                                             class="embed-responsive-img img-object-cover rounded" alt="{{this.Description}}">
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>


                    <!--<div class="card">
                        <div class="card-content card-content-padding">


                            <div class="pron-section ">
                                <h4 class="lutie-section-heading font-weight-bold mt-0 mb-0">
                                    Khu vực cho Nam Anh
                                </h4>

                                <div class="list media-list apd-people my-0">
                                    <a href="#" @click="GetUserInfo">
                                        window.ReactNativeWebView.postMessage('GetUserInfo');
                                    </a>
                                    <br />
                                    <br />
                                    <a href="#" @click="RequestBackendDemo2">
                                        window.ReactNativeWebView.postMessage(JSON.stringify({ action: "requestBackend", value: {msgType: "REGISTER_EVENT_POWER",momoMsg: {user: "0981011100",service: "power_2000",_class: "mservice.backend.entity.msg.InfoEventPowerMsg"},extra: "",resFunc: "ResponseBackendDemo2"}}));
                                    </a>
                                </div>


                            </div>

                        </div>
                    </div>-->
                </div>
                <div id="step2" class="page-content bg-white tab">

                    <div class="pron-container balance pt-4">

                        <h2 class="mt-0 mb-1 mdona-title">Ủng hộ mỗi ngày</h2>
                        <div class="mb-0 text-gray lutie-12" id="lblNote2">
                            Trừ mỗi ngày <span id="num2">2.000đ</span> trong 1 năm. Bạn có thể hủy mọi lúc.
                        </div>

                        <div class="mdona-check mt-2">
                            <div class="mdona-col">
                                <div class="mdona-item is-active" data-type="2" data-value="2000" data-text="2.000đ">
                                    <div class="mdona-check-icon">
                                        <i class="f7-icons size-14">icon-checkmark_alt</i>
                                    </div>
                                    <div class="mdona-money">2.000đ</div>
                                    <div class="mdona-money-label">Mỗi ngày</div>
                                </div>
                            </div>

                            <div class="mdona-col">
                                <div class="mdona-item" data-type="2" data-value="3000" data-text="3.000đ">
                                    <div class="mdona-check-icon">
                                        <i class="f7-icons size-14">icon-checkmark_alt</i>
                                    </div>
                                    <div class="mdona-money">3.000đ</div>
                                    <div class="mdona-money-label">Mỗi ngày</div>
                                </div>
                            </div>

                            <div class="mdona-col">
                                <div class="mdona-item" data-type="2" data-value="5000" data-text="5.000đ">
                                    <div class="mdona-check-icon">
                                        <i class="f7-icons size-14">icon-checkmark_alt</i>
                                    </div>
                                    <div class="mdona-money">5.000đ</div>
                                    <div class="mdona-money-label">Mỗi ngày</div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="pron-container balance pt-4">

                        <h2 class="mt-0 mb-1  mdona-title">Ủng hộ mỗi Tuần</h2>
                        <div class="mb-0 text-gray lutie-12 " id="lblNote3" style="display:none;">
                            Trừ mỗi tuần <span id="num3">15.000đ</span> trong 1 năm. Bạn có thể hủy mọi lúc.
                        </div>

                        <div class="mdona-check mt-2">
                            <div class="mdona-col">
                                <div class="mdona-item " data-type="3" data-value="15000" data-text="15.000đ">
                                    <div class="mdona-check-icon">
                                        <i class="f7-icons size-14">icon-checkmark_alt</i>
                                    </div>
                                    <div class="mdona-money">15.000đ</div>
                                    <div class="mdona-money-label">Mỗi tuần</div>
                                </div>
                            </div>

                            <div class="mdona-col">
                                <div class="mdona-item" data-type="3" data-value="25000" data-text="25.000đ">
                                    <div class="mdona-check-icon">
                                        <i class="f7-icons size-14">icon-checkmark_alt</i>
                                    </div>
                                    <div class="mdona-money">25.000đ</div>
                                    <div class="mdona-money-label">Mỗi tuần</div>
                                </div>
                            </div>

                            <div class="mdona-col">
                                <div class="mdona-item" data-type="3" data-value="35000" data-text="35.000đ">
                                    <div class="mdona-check-icon">
                                        <i class="f7-icons size-14">icon-checkmark_alt</i>
                                    </div>
                                    <div class="mdona-money">35.000đ</div>
                                    <div class="mdona-money-label">Mỗi tuần</div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="pron-container balance mt-4 list">

                        <h2 class="mt-0 mb-1 mdona-title ">Ủng hộ ngay 1 lần</h2>


                        <div class="mdona-input-money mt-2 item-input-wrap ">
                            <!--is-wrong-->
                            <input {{#js_if "this.IsIos == 0"}} inputmode="numeric" {{/js_if}} type="text" name="TotalMoneyFormat" pattern="[0-9]*" placeholder="Nhập số tiền bạn muốn ủng hộ" autocomplete="off" id="mdona-input-value" value="{{DonationInfo.TotalMoneyFormat}}">
                            <!--<input type="text" id="mdona-input-value" placeholder="Nhập số tiền bạn muốn ủng hộ" pattern="\d*">-->
                            <span class="input-clear-button"></span>
                            <div id="TotalMoneyError" style="display:none;" class="lutie-12 text-danger mt-1">
                                Số tiền tối thiểu là 1.000 đ
                            </div>
                        </div>

                        <!--<div class="apd-payment mb-2 hide-scrollbar mt-2">


                            <div class="apd-payment-item">
                                <input class="apd-payment-check" type="radio" id="apd1" name="payDonation" value="1" checked="">

                                <label for="apd1" class="apd-payment-label">


                                    <span class="apd-payment-mo">10.000 ₫</span>
                                </label>
                            </div>


                            <div class="apd-payment-item">
                                <input class="apd-payment-check" type="radio" id="apd2" name="payDonation" value="2">

                                <label for="apd2" class="apd-payment-label">


                                    <span class="apd-payment-mo">20.000 ₫</span>
                                </label>
                            </div>


                            <div class="apd-payment-item">
                                <input class="apd-payment-check" type="radio" id="apd3" name="payDonation" value="3">

                                <label for="apd3" class="apd-payment-label">


                                    <span class="apd-payment-mo">50.000 ₫</span>
                                </label>
                            </div>


                            <div class="apd-payment-item">
                                <input class="apd-payment-check" type="radio" id="apd4" name="payDonation" value="4">

                                <label for="apd4" class="apd-payment-label">


                                    <span class="apd-payment-mo">100.000 ₫</span>
                                </label>
                            </div>


                            <div class="apd-payment-item">
                                <input class="apd-payment-check" type="radio" id="apd5" name="payDonation" value="5">

                                <label for="apd5" class="apd-payment-label">


                                    <span class="apd-payment-mo">200.000 ₫</span>
                                </label>
                            </div>


                            <div class="apd-payment-item">
                                <input class="apd-payment-check" type="radio" id="apd6" name="payDonation" value="6">

                                <label for="apd6" class="apd-payment-label">


                                    <span class="apd-payment-mo">500.000 ₫</span>
                                </label>
                            </div>

                        </div>-->

                    </div>
                </div>
                <div id="step3" class="page-content tab">
                    <div class="dona-hero-img">
                        <img src="https://static.mservice.io/images/s/momo-upload-api-200312114228-637196101485592238.png"
                             class="d-block pr-4" width="220" alt="">
                    </div>

                    <div class="pron-container flex-grow-1 balance pt-4">

                        <h3 class="mt-0 mb-1 ">
                            Khi bạn ủng hộ định kỳ, MoMo sẽ:
                        </h3>
                        <ul class="list-unstyled mt-2 pl-2">
                            <li class="mb-2">
                                <i class="f7-icons lutie-18 text-success">checkmark_alt</i> Thu tiền định kỳ như đã đăng ký
                            </li>
                            <li class="mb-2">
                                <i class="f7-icons lutie-18 text-success">checkmark_alt</i>  Nếu ví không đủ số dư, MoMo tự động ngưng gói ủng hộ và không tiếp tục truy thu
                            </li>
                            <li class="mb-2">
                                <i class="f7-icons lutie-18 text-success">checkmark_alt</i>  Gói ủng hộ có thời hạn trong 365 ngày
                            </li>
                            <li class="mb-2">
                                <i class="f7-icons lutie-18 text-success">checkmark_alt</i> Bạn có thể ngừng ủng hộ mọi lúc tại mục Dịch vụ liên kết hoặc tại tính năng Sức mạnh 2000
                            </li>
                            <li class="mb-2">
                                <i class="f7-icons lutie-18 text-success">checkmark_alt</i> Thu phí 0.5% trên mỗi giao dịch
                            </li>

                        </ul>
                    </div>


                    <div class="dona-rule-check" style="bottom: 70px;position:absolute;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="chkAgree">
                            <label class="form-check-label" for="chkAgree">
                                Tôi đồng ý với các <a href="momo://?refId=https://app.momo.vn:82/momo_app/html/dieukhoan.html" class="external">điều khoản</a> của MoMo và chính sách bảo mật của MoMo
                            </label>
                        </div>
                    </div>

                </div>
                <div id="step4" class="page-content tab">
                    <div class="navbar momo-navbar">
                        <div class="navbar-inner sliding">
                            <div class="left">
                                <a href="" class="logo-momo link back ml-2">
                                    <img src="https://static.mservice.io/img/logo-momo.png" class="img-fluid" alt="">
                                </a>
                            </div>

                            <div class="title">Xác nhận thanh toán</div>
                        </div>
                    </div>


                    <div class="block-title">NGUỒN TIỀN</div>


                    <div class="block block-strong ">

                        <div class="pron-row no-gutters align-items-center">
                            <div class="pron-col auto">
                                <div class="dona-momo-icon mr-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-inline svg" viewBox="0 0 29.29 27.32" fill="#fff">
                                        <g data-name="Layer 2">
                                            <g data-name="Layer 1">
                                                <path d="M22.94 12.68a6.34 6.34 0 1 0-6.35-6.34 6.34 6.34 0 0 0 6.35 6.34zm0-9.1a2.76 2.76 0 1 1-2.77 2.76 2.77 2.77 0 0 1 2.77-2.76zM10.57 0a5.1 5.1 0 0 0-2.88.89A5.1 5.1 0 0 0 4.81 0 4.65 4.65 0 0 0 0 4.46v8.22h3.86V4.46a.93.93 0 0 1 .95-.88.93.93 0 0 1 1 .84v8.22h3.82V4.46a1 1 0 0 1 1.26-.63 1 1 0 0 1 .64.63v8.22h3.86V4.46A4.65 4.65 0 0 0 10.57 0zM22.94 27.32A6.35 6.35 0 1 0 16.59 21a6.32 6.32 0 0 0 6.34 6.32zm0-9.1a2.75 2.75 0 1 1-.05 0zM10.57 14.64a5.1 5.1 0 0 0-2.88.89 5.1 5.1 0 0 0-2.88-.89A4.65 4.65 0 0 0 0 19.1v8.22h3.86V19.1a.93.93 0 0 1 .95-.88.93.93 0 0 1 1 .84v8.22h3.82V19.1a1 1 0 0 1 1.26-.63 1 1 0 0 1 .64.63v8.22h3.86V19.1a4.65 4.65 0 0 0-4.82-4.46z" />
                                            </g>
                                        </g>
                                    </svg>

                                </div>
                            </div>
                            <div class="pron-col">
                                <div class="lutie-16 font-weight-normal mb-1">Ví MoMo</div>
                                <div class="opacity-5 lutie-12">{{FM_Number1 this.UserInfo.balance}}đ</div>
                            </div>
                        </div>


                    </div>





                    <div class="block-title">Chi tiết giao dịch</div>

                    <div class="list list-style1">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Tên chương trình</div>
                                        <div class="item-after text-wrap text-right">Sức mạnh 2000</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Số tiền</div>
                                        <div class="item-after">{{FM_Number1 this.DonationSubcriberInfo.Amount}}đ</div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Phí giao dịch</div>
                                        <div class="item-after">{{FM_Number1 this.DonationSubcriberInfo.Fee}}đ</div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Tổng tiền</div>
                                        <div class="item-after"> <strong>{{FM_Number1 this.DonationSubcriberInfo.TotalAmount}}đ</strong></div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>


                    <div class="block">
                        <div class="pron-row no-gutters">
                            <div class="pron-col auto">
                                <img src="https://static.mservice.io/pwa/images/donation/dv-image-seal.png" width="80" class="d-block mr-4" alt="">
                            </div>
                            <div class="pron-col">
                                <div class="lutie-12 opacity-5">
                                    Bảo mật chuẩn SSL/TLS, mọi thông tin giao dịch đều được mã hoá an toàn.
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div id="step5" class="page-content tab">

                    <div class="dona-status ">
                        <div class="container">
                            <div class="dona-status-icon">
                                <img src="https://static.mservice.io/pwa/images/donation/success.svg" width="55" class="img-fluid mx-auto d-block" alt="">
                            </div>

                            <div class="dona-status-content text-center">
                                <div class="lutie-16 mb-0">
                                    Cảm ơn bạn vì hành động cao đẹp!
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#js_if "this.DonationSubcriberInfo.Type != 1"}}
                    <div class="block block-strong mt-0">

                        <div class="text-center">
                            <div class="lutie-16 mb-0 lh-reset">
                                Cảm ơn bạn đã góp phần vào sự thành công của chương trình Sức Mạnh 2.000!
                                <br />
                                Tiền ủng hộ định kỳ sẽ được trừ vào lúc 18h theo lịch đã đăng ký. Bạn có thể quản lý gói ủng hộ tại mục Dịch vụ của tôi trong Ví của tôi
                            </div>
                        </div>


                    </div>
                    {{else}}
                    <div class="block block-strong mt-0">

                        <div class="text-center">
                            <div class="lutie-16 mb-0 lh-reset">
                                Cảm ơn bạn đã góp phần vào sự thành công của chương trình Sức Mạnh 2.000!
                                <br />
                                Tiền ủng hộ của bạn sẽ được thu vào lúc 18h<br />
                                <span id="dateMoney"></span>
                            </div>
                        </div>


                    </div>



                    <div class="list list-style1">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Số tiền quyên góp</div>
                                        <div class="item-after">{{FM_Number1 this.DonationSubcriberInfo.Amount}}đ</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


                    {{/js_if}}


                </div>
                <div id="step6" class="page-content tab">
                    <div class="dona-status ">
                        <div class="container">
                            <div class="dona-status-icon">
                                <img src="https://static.mservice.io/pwa/images/donation/warning.svg" width="55" class="img-fluid mx-auto d-block" alt="">
                            </div>

                            <div class="dona-status-content text-center">
                                <div class="lutie-16 mb-0">
                                    Thanh toán thất bại
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block block-strong mt-0">

                        <div class="text-center">
                            <div class="lutie-16 mb-0 lh-reset" id="errorDesc">

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>


        <div class="popup demo-popup-swipe-handler cbs-present-more">
            <div class="page">
                <div class="swipe-handler  popup-close"></div>
                <div class="page-content">
                    <div class="block mt-4">

                        <div class="dona-post ">
                            <p><strong>&quot;Sức mạnh 2000&quot; v&agrave; tấm l&ograve;ng thiện nguyện của một người b&igrave;nh thường</strong></p>

                            <p>Dự &aacute;n g&acirc;y quỹ chỉ từ 2,000đ lẻ mỗi ng&agrave;y được s&aacute;ng lập v&agrave; điều h&agrave;nh bởi Ho&agrave;ng Hoa Trung, đồng h&agrave;nh bởi Trung t&acirc;m T&igrave;nh nguyện Quốc gia v&agrave; MoMo nhằm mục ti&ecirc;u x&acirc;y dựng hơn 4,000 điểm trường khang trang, x&oacute;a sổ nạn điểm trường tạm tại c&aacute;c v&ugrave;ng kh&oacute; khăn tr&ecirc;n to&agrave;n quốc. Với h&agrave;nh tr&igrave;nh hoạt động x&atilde; hội 12 năm, Hoa Trung đ&atilde; x&acirc;y dựng th&agrave;nh c&ocirc;ng 35 điểm trường v&agrave; hiện đang điều h&agrave;nh dự &aacute;n Nu&ocirc;i Em với 12,000 em nhỏ được nu&ocirc;i cơm với gần 4 triệu bữa ăn.&nbsp;</p>

                            <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416141843-637226435238013630.png" /></p>

                            <p style="text-align: center;"><em>Ho&agrave;ng Hoa Trung v&agrave; c&aacute;c em nhỏ</em></p>

                            <p>Trong giai đoạn hai, dự &aacute;n đặt mục ti&ecirc;u g&acirc;y quỹ với tổng gi&aacute; trị 1,375,000,000 VND để x&acirc;y cất 5 ng&ocirc;i trường tại c&aacute;c bản Mường Toong, Tả K&ocirc; Ki, Trạm P&uacute;ng, Huổi Pết, Ng&atilde; Ba thuộc huyện Mường Nh&eacute; tỉnh Điện Bi&ecirc;n.</p>

                            <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416141925-637226435651609286.jpg" /></p>

                            <p style="text-align: center;"><em>M&ocirc; h&igrave;nh x&acirc;y dựng trường học m&ugrave;a 2&nbsp;</em></p>

                            <p><strong>Điểm trường Mường Toong 10</strong></p>

                            <p>Ng&ocirc;i trường x&acirc;y dựng bằng vật liệu th&ocirc; sơ, n&ecirc;n sau 7 năm x&acirc;y dựng, trường đ&atilde; xuống cấp trầm trọng. V&aacute;ch tường được x&acirc;y bằng tấm gỗ gh&eacute;p, c&ograve;n trần nh&agrave; th&igrave; lợp bằng t&ocirc;n, do đ&oacute; m&ugrave;a đ&ocirc;ng c&aacute;c em học dễ bị gi&oacute; lạnh l&ugrave;a c&ograve;n m&ugrave;a h&egrave; th&igrave; qu&aacute; n&oacute;ng. Dự &aacute;n l&ecirc;n kế hoạch x&acirc;y ki&ecirc;n cố 01 ph&ograve;ng mầm non, 01 ph&ograve;ng c&ocirc;ng vụ.</p>

                            <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416141956-637226435966331171.png" /></p>

                            <p style="text-align: center;"><em>Điểm trường m&ugrave;a 2: Trường bản Mường Toong</em></p>

                            <p><strong>Điểm trường Tả Kố Ki</strong></p>

                            <p>Ở bản Tả Kố Ki, 100% người d&acirc;n l&agrave; d&acirc;n tộc H&agrave; Nh&igrave;, cuộc sống phụ thuộc v&agrave;o l&agrave;m nương rẫy n&ecirc;n đời sống c&ograve;n gặp nhiều kh&oacute; khăn. Theo th&ocirc;ng tin từ hiệu trưởng trường, ph&ograve;ng học tạm của c&aacute;c em đ&atilde; xuống cấp trầm trọng, kh&ocirc;ng c&ograve;n đủ đ&aacute;p ứng điều kiện giảng dạy, chăm s&oacute;c của c&aacute;c thầy c&ocirc;. Do vậy, Dự &aacute;n sẽ g&acirc;y quỹ để t&agrave;i trợ cho việc x&acirc;y dựng 1 ph&ograve;ng học mầm non v&agrave; 1 ph&ograve;ng c&ocirc;ng vụ.&nbsp;&nbsp;</p>

                            <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416142031-637226436315290823.png" /></p>

                            <p style="text-align: center;"><em>Điểm trường m&ugrave;a 2: Trường bản Tả Kố Ki</em></p>

                            <p><strong>Điểm trường Bản Trạm P&uacute;ng</strong></p>

                            <p>Sau 15 năm x&acirc;y dựng, t&igrave;nh trạng mối mọt khiến cơ sở vật chất kh&ocirc;ng c&ograve;n đảm bảo cho c&aacute;c hoạt động giảng dạy v&agrave; học tập của gi&aacute;o vi&ecirc;n v&agrave; học sinh. Với số lượng học sinh l&ecirc;n đến 48 em, nh&agrave; trường cần hỗ trợ 02 ph&ograve;ng học v&agrave; 01 ph&ograve;ng c&ocirc;ng vụ.&nbsp;&nbsp;&nbsp;</p>

                            <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416142059-637226436599316680.png" /></p>

                            <p style="text-align: center;"><em>Điểm trường m&ugrave;a 2: Trường bản Trạm P&uacute;ng</em></p>

                            <p><strong>Điểm trường Bản Huổi Pết 2&nbsp;</strong></p>

                            <p>Được x&acirc;y dựng từ 10 năm về trước, nay lớp học đ&atilde; trở n&ecirc;n qu&aacute; chật chội so với số lượng học sinh nay đ&atilde; tăng l&ecirc;n đến 15 em. Trong m&ugrave;a h&egrave; n&oacute;ng bức sắp tới, c&aacute;c em mong ước được lắp đặt bộ năng lượng gi&oacute; mặt trời, nhờ đ&oacute; m&agrave; xua đi c&aacute;i n&oacute;ng bức trong mỗi buổi học.&nbsp;</p>

                            <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416142134-637226436941247775.png" /></p>

                            <p style="text-align: center;"><em>Điểm trường m&ugrave;a 2: Trường bản Huổi Pết 2</em></p>

                            <p><strong>Điểm trường Bản Ng&atilde; Ba</strong></p>

                            <p>Điểm trường c&aacute;ch trung t&acirc;m x&atilde; 4km với 3 lớp c&ugrave;ng khoảng 55 em học sinh. C&aacute;c lớp học tại đ&acirc;y đ&atilde; được x&acirc;y dựng tr&ecirc;n 20 năm n&ecirc;n bị xuống cấp nặng nề, nhiều mối mọt. Do vậy, Dự &aacute;n c&ugrave;ng Ph&ograve;ng Gi&aacute;o Dục sẽ hỗ trợ diện t&iacute;ch, tiền san ủi đất, to&agrave;n bộ b&agrave;n ghế cho c&aacute;c em nhỏ c&ugrave;ng với 2 ph&ograve;ng học ki&ecirc;n cố tại trường.</p>

                            <p><img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200416142202-637226437223860962.png" /></p>

                            <p style="text-align: center;"><em>Điểm trường m&ugrave;a 2: Trường bản Ng&atilde; Ba</em></p>

                            <p>Dự &aacute;n rất cần sự đồng h&agrave;nh của tất cả c&aacute;c nh&agrave; hảo t&acirc;m, bạn đọc gần xa. Mỗi đ&oacute;ng g&oacute;p nhỏ b&eacute; mỗi ng&agrave;y của c&aacute;c bạn đều l&agrave; những vi&ecirc;n gạch tạo n&ecirc;n k&igrave; t&iacute;ch, điều phi thường vĩ đại.&nbsp;</p>

                            <div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
                                <p>To&agrave;n bộ số tiền của người d&ugrave;ng MoMo quy&ecirc;n g&oacute;p mỗi ng&agrave;y sẽ được chuyển trực tiếp cho Trung t&acirc;m T&igrave;nh nguyện Quốc gia để triển khai việc x&acirc;y dựng c&aacute;c điểm trường. To&agrave;n bộ th&ocirc;ng tin được update tr&ecirc;n website: <a href="http://www.sucmanh2000.com/" class="external" >http://www.sucmanh2000.com/</a></p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sheet-modal sheet-pop-round dona-sheet-share">


            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                    </div>
                    <div class="title">Chia sẻ</div>
                    <div class="right">
                        <a href="#" class="link sheet-close ">
                            <i class="f7-icons opacity-5 ">close</i>
                        </a>
                    </div>
                </div>
            </div>



            <div class="sheet-modal-inner">


                <div class="page-content">


                    <div class="list my-0 no-hairlines dona-share-list">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" @click="CopyShareUrl" class="item-link item-content open-toast-copy">
                                    <div class="item-media"><i class="f7-icons text-color-gray">link</i></div>
                                    <div class="item-inner">
                                        <div class="item-title">Sao chép liên kết</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" @click="ButtonShareFBAppClick" class="item-link item-content">
                                    <div class="item-media"><i class="f7-icons " style="color:#385898">logo_facebook</i></div>
                                    <div class="item-inner">
                                        <div class="item-title">Chia sẻ qua Facebook</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" @click="ButtonShareOtherAppClick" class="item-link item-content">
                                    <div class="item-media">
                                        <img src="https://static.mservice.io/pwa/images/social/share.svg" width="34" alt="">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">Chia sẻ khác</div>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>




                </div>
            </div>




        </div>
    </div>
    <style>
        .item-input-wrap input:focus, .item-input-wrap input:active {
            border: solid 1px #ae2070;
        }

        .item-input-wrap input {
            padding: 0 10px !important;
            background-color: #eee !important;
        }

        .item-input-wrap .input-clear-button {
            right: 10px;
        }
    </style>

</template>

<script>
     import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage,Track,ProcessAppShareFacebook,ProcessAppShareOther } from '../../js/custom.js';


    var isLoadingDonationUser = false;
    var _isSubmiting = false;
    var DetailDonationModel = {
        ListAlbum: [
            {
                AvatarUrl: "https://static.mservice.io/blogscontents/momo-upload-api-200416141843-637226435238013630.png",
                Description: "Hoàng Hoa Trung và các em nhỏ"
            },
            {
                AvatarUrl: "https://static.mservice.io/blogscontents/momo-upload-api-200416141925-637226435651609286.jpg",
                Description: "Mô hình xây dựng trường học mùa 2 "
            },
            {
                AvatarUrl: "https://static.mservice.io/blogscontents/momo-upload-api-200416141956-637226435966331171.png",
                Description: "Điểm trường mùa 2: Trường bản Mường Toong"
            },
            {
                AvatarUrl: "https://static.mservice.io/blogscontents/momo-upload-api-200416142031-637226436315290823.png",
                Description: "Điểm trường mùa 2: Trường bản Tả Kố Ki"
            },
            {
                AvatarUrl: "https://static.mservice.io/blogscontents/momo-upload-api-200416142059-637226436599316680.png",
                Description: "Điểm trường mùa 2: Trường bản Trạm Púng"
            },
            {
                AvatarUrl: "https://static.mservice.io/blogscontents/momo-upload-api-200416142134-637226436941247775.png",
                Description: "Điểm trường mùa 2: Trường bản Huổi Pết 2"
            },
            {
                AvatarUrl: "https://static.mservice.io/blogscontents/momo-upload-api-200416142202-637226437223860962.png",
                Description: "Điểm trường mùa 2: Trường bản Ngã Ba"
            },
        ],
        UserInfo: {},
        IsIos: 0,
        LinkShare: 'https://momoapp.page.link/BsTbQ6xsyBo92Ehs5',
        DateEndCampaign: '2050-04-30 00:00',
        Step: 1,
        DonationInfo: {
            IsEndCampaign: false,
            FinishPercent: 0.0,
        },
        DonationSubcriberInfo: {
            Type: 2,
            Amount: 2000,
        },
    };

    export default {
        data: function () {
            return DetailDonationModel;
        },
        methods: {
            InitPageData: function (userData) {
                var self = this;
                var app = self.$app;

                var rs = JSON.parse(userData);
                //Track(app, userData);
                DetailDonationModel.UserInfo = rs;
                alert('InitPageData');
                this.InitData();
            },
            GetUserInfo: function () {
                if (System.userInfo.phone == undefined) 
                    window.ReactNativeWebView.postMessage('GetUserInfo');
                else
                    this.InitData();
            },
            InitData: function () {
                var self = this;
                var app = self.$app;

                this.GetDonationInfo();
            },
            GetDonationInfo: function () {
                var param = {
                    msgType: "GET_INFO_EVENT_POWER",
                    momoMsg: {
                        user: DetailDonationModel.UserInfo.phone,
                        service: "power_2000",
                        _class: "mservice.backend.entity.msg.InfoEventPowerMsg"
                    },
                    extra: "",
                    resFunc: "CallBackDonationInfo"
                };
                window.ReactNativeWebView.postMessage(JSON.stringify({ action: "requestBackend", value: param }));
                alert('GetDonationInfo');
            },
            CallBackDonationInfo: function (data) {
                var self = this;
                var app = self.$app;
                var rs = JSON.parse(data);
                Track(app, data);
                alert('CallBackDonationInfo');
                if (!rs.result) {
                    app.preloader.hide();
                    app.dialog.alert(ApiResponseErrorCodeMessage["system_error"]);
                    return;
                }

                if (rs.momoMsg.amount == undefined) {
                    rs.momoMsg.amount = 0;
                }
                DetailDonationModel.DonationInfo = rs.momoMsg;

                DetailDonationModel.DonationInfo.FinishPercent = parseFloat((DetailDonationModel.DonationInfo.amount / DetailDonationModel.DonationInfo.total) * 100).toFixed(2);
                //var time = new Date(DetailDonationModel.DonationInfo.endDate) - new Date();
                var time = new Date(DetailDonationModel.DateEndCampaign) - new Date();
                if (time <= 0) {
                    DetailDonationModel.DonationInfo.IsEndCampaign = true;
                }
                else {
                    DetailDonationModel.DonationInfo.TimeToEndDate = Math.ceil(Math.abs(time) / (1000 * 60 * 60 * 24));
                }
                self.$setState(DetailDonationModel);


                var galeryList = [];

                for (var i = 0; i < DetailDonationModel.ListAlbum.length; i++) {
                    galeryList.push({ url: DetailDonationModel.ListAlbum[i].AvatarUrl, caption: DetailDonationModel.ListAlbum[i].Description })
                }


                $$(".js-donation-gallery .pron-col").on("click", function () {
                    var thumb = $$(this).attr('data-thumb') - 1;
                    myPhotoBrowserPopupDark.open(thumb);
                });

                var myPhotoBrowserPopupDark = MoMoPwa.photoBrowser.create({
                    photos: galeryList,
                    theme: "dark",
                    type: "standalone",
                    backLinkText: ""
                });

                app.preloader.hide();

            },
            CallBackDonationSubcriber: function (data) {
                var self = this;
                var app = self.$app;

                var rs = JSON.parse(data);
                if (rs.result) {
                    DetailDonationModel.Step = 5;
                    app.tab.show("#step5", true);
                    var date = new Date();
                    if (date.getHours() >= 18)
                        date.setDate(date.getDate() + 1);

                    $$("#dateMoney").text(date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear());

                    app.tab.show("#step5", true);
                }
                else {
                    DetailDonationModel.Step = 6;
                    if (rs.errorDesc == undefined || rs.errorDesc == "") {
                        $$("#errorDesc").text("Giao dịch gặp sự cố, vui lòng thử lại");
                    }
                    else {
                        $$("#errorDesc").text(rs.errorDesc);
                    }
                    app.tab.show("#step6", true);
                }

                self.$setState(DetailDonationModel);
                app.preloader.hide();

            },
            CallbackPasswordInfo: function (data) {
                var self = this;
                var app = self.$app;

                var param = {
                    msgType: "REGISTER_EVENT_POWER",
                    momoMsg: {
                        user: DetailDonationModel.UserInfo.phone,
                        service: "power_2000",
                        amount: DetailDonationModel.DonationSubcriberInfo.Amount,
                        type: DetailDonationModel.DonationSubcriberInfo.Type,
                        _class: "mservice.backend.entity.msg.UserEventPowerMsg"
                    },
                    extra: "",
                    resFunc: "CallBackDonationSubcriber"
                };
                window.ReactNativeWebView.postMessage(JSON.stringify({ action: "requestBackend", value: param }));
                app.preloader.show();

            },
            BtnDonationClick: function () {
                var self = this;
                var app = self.$app;

                DetailDonationModel.Step = 2;
                app.tab.show("#step2", true);
                self.$setState(DetailDonationModel);
            },
            BtnManageDonationClick: function () {
                var self = this;
                var app = self.$app;

                location.href = 'momo://?refId=LinkServiceDetailMain';
                window.ReactNativeWebView.postMessage('FinishActivity');
            },
            BtnSubcriberClick: function () {
                var self = this;
                var app = self.$app;

                if (DetailDonationModel.DonationSubcriberInfo.Type == 1)//1 lan
                {
                    if (DetailDonationModel.DonationInfo.TotalMoneyFormat == undefined || DetailDonationModel.DonationInfo.TotalMoneyFormat.trim() == '') {
                        $$("#TotalMoneyError").text("Vui lòng nhập số tiền muốn ủng hộ.");
                        $$("#TotalMoneyError").show();
                        return;
                    }
                    var value = DetailDonationModel.DonationInfo.TotalMoneyFormat.replace(/\./g, '').replace(/\-/g, '').replace(/\ /g, '');

                    if (isNaN(value)) {
                        $$("#TotalMoneyError").text("Số tiền muốn ủng hộ phải là số.");
                        $$("#TotalMoneyError").show();
                        return;
                    }

                    DetailDonationModel.DonationSubcriberInfo.Amount = parseInt(value);
                    DetailDonationModel.DonationSubcriberInfo.Fee = (DetailDonationModel.DonationSubcriberInfo.Amount * 0.5) / 100;
                    DetailDonationModel.DonationSubcriberInfo.TotalAmount = DetailDonationModel.DonationSubcriberInfo.Amount + DetailDonationModel.DonationSubcriberInfo.Fee;
                    if (DetailDonationModel.DonationSubcriberInfo.Amount < 1000) {
                        $$("#TotalMoneyError").text("Số tiền tối thiểu là 1.000đ.");
                        $$("#TotalMoneyError").show();
                        return;
                    }

                    if (DetailDonationModel.DonationSubcriberInfo.Amount > 20000000) {
                        $$("#TotalMoneyError").text("Số tiền tối đa là 20.000.000đ");
                        $$("#TotalMoneyError").show();
                        return;
                    }
                }

                if (parseInt(DetailDonationModel.DonationSubcriberInfo.Amount) > parseInt(DetailDonationModel.UserInfo.balance)) {
                    var dialog = app.dialog.create({
                        title: '',
                        text: '',
                        closeByBackdropClick: true,
                        cssClass: "pron-popup-container",
                        content: '<div class="pron-popup">' +
                            ' <div class="pron-popup-close" ><img src="https://static.mservice.io/pwa/images/donation/popup-close.svg"/></div> ' +
                            '   <div class="pron-popup-image">' +
                            '     <img src="https://static.mservice.io/pwa/images/donation/z-data-no-use-popup-banner.svg" class="img-fluid">' +
                            '   </div>' +
                            '  <div class="pron-popup-content text-left">' +
                            '     <h3 class="mt-0 mb-4 lutie-22 " >Số dư trong ví không đủ</h3> ' +
                            '     <div >Tài khoản của bạn không đủ để tiếp tục ủng hộ. Bạn vui lòng nạp thêm tiền để chọn gói ủng hộ nhé!</div> ' +
                            '     <div class="py-3 position-relative"> <a href="momo://?refId=CashInOutMomo" class="external button button-fill color-pink py-1 h-auto">Nạp tiền vào ví</a></div>' +
                            '   </div>' +
                            '</div>',
                        on: {
                            open: function (d) {
                                d.$el.find(".pron-popup-close").on('click', function (e) {
                                    app.dialog.close();
                                });
                            }
                        }
                    }).open();

                    return;
                }

                if (DetailDonationModel.DonationSubcriberInfo.Type != 1) {
                    DetailDonationModel.Step = 3;
                    app.tab.show("#step3", true);
                }
                else {
                    DetailDonationModel.Step = 4;
                    app.tab.show("#step4", true);
                }

                self.$setState(DetailDonationModel);

            },
            BtnSubcriberConfirmClick: function () {
                if (!$$('#chkAgree').prop("checked")) {
                    return;
                }

                window.ReactNativeWebView.postMessage(JSON.stringify({ action: "requirePassword" }));
            },
            BtnSubcriberConfirmPassClick: function () {
                window.ReactNativeWebView.postMessage(JSON.stringify({ action: "requirePassword" }));
            },
            CopyShareUrl: function () {
                var self = this;
                var app = self.$app;
                var toastCopy = app.toast.create({
                    text: 'Sao chép liên kết thành công',
                    closeTimeout: 2000,
                });

                const textInput = document.createElement("input");
                textInput.setAttribute('readonly', true);
                textInput.value = DetailDonationModel.LinkShare.trim();

                document.body.appendChild(textInput);

                textInput.select();
                document.execCommand("Copy");

                app.sheet.close(".dona-sheet-share");
                toastCopy.open();

            },
            ButtonShareFBAppClick: function () {
                var self = this;
                var app = self.$app;
                ProcessAppShareFacebook(DetailDonationModel.LinkShare.trim());
            },
            ButtonShareOtherAppClick: function () {
                var self = this;
                var app = self.$app;
                var contentShare = "Hãy chia sẻ hoàn cảnh này đến bạn bè để điều kỳ diệu sớm trở thành hiện thực! " + DetailDonationModel.LinkShare.trim();
                ProcessAppShareOther(contentShare);
            },
            //RequestBackendDemo2: function () {
            //    var param = {
            //        msgType: "GET_INFO_EVENT_POWER",
            //        momoMsg: {
            //            user: "0772532512",
            //            service: "power_2000",
            //            _class: "mservice.backend.entity.msg.InfoEventPowerMsg"
            //        },
            //        extra: "",
            //        resFunc: "ResponseBackendDemo2"
            //    };

            //    //var param = {
            //    //    msgType: "REGISTER_EVENT_POWER",
            //    //    momoMsg: {
            //    //        user: "0772532512",
            //    //        service: "power_2000",
            //    //        amount: 4000,
            //    //        type: 1,
            //    //        _class: "mservice.backend.entity.msg.UserEventPowerMsg"
            //    //    },
            //    //    extra: "",
            //    //    resFunc: "ResponseBackendDemo2"
            //    //};

            //    window.ReactNativeWebView.postMessage(JSON.stringify({ action: "requestBackend", value: param }));
            //},
            //ResponseBackendDemo2: function (data) {
            //    var self = this;
            //    var app = self.$app;

            //    const textInput = document.createElement("input");
            //    textInput.setAttribute('readonly', true);
            //    textInput.value = data.trim();

            //    document.body.appendChild(textInput);

            //    textInput.select();
            //    document.execCommand("Copy");

            //    Track(app, data);

            //    alert(data);
            //},
        },
        on: {
            pageInit: function (e, page) {
                var self = this;
                var app = self.$app;

                if (app.device.ios)
                    DetailDonationModel.IsIos = 1;
                app.preloader.show();

                this.$app.on('initPageData', this.InitPageData);
                this.$app.on('CallBackDonationInfo', this.CallBackDonationInfo);
                this.$app.on('CallbackPasswordInfo', this.CallbackPasswordInfo);
                this.$app.on('CallBackDonationSubcriber', this.CallBackDonationSubcriber);
                //this.$app.on('ResponseBackendDemo2', this.ResponseBackendDemo2);

                this.GetUserInfo();

                //this.InitPageData('{"phone":"0772532512","userName":"NGUYEN VAN A","balance":"1421500","appVer":21390,"appCode":"2.1.39","deviceOS":"ANDROID"}');
                //this.CallBackDonationInfo('{"momoMsg":{"amount":167500,"total":10000000000,"user":"0775232512","service":"power_2000","_class":"mservice.backend.entity.msg.InfoEventPowerMsg"},"time":1585038442925,"user":"01222532512","pass":"48197ede0a33f9fc4a06bb6c3444d937c3668a6efdb985ef64106cb8c84510c8","cmdId":"1585038441224000000","lang":"vi","msgType":"GET_INFO_EVENT_POWER","result":true,"appCode":"2.1.39","appVer":21390,"channel":"APP","deviceOS":"ANDROID","ip":"172.16.1.66","localAddress":"172.16.9.119","session":"5d7fb07b-34e1-4551-af70-9bd8a82c872a","extra":{"agent":"donationspm_song01","originalPhone":"0772532512","checkSum":"iTGIa3cnfK5d7HOY5CzKIsV+Fx/L4NhW2vmubjVEQDITKy9QT6kDoVunhq+enp/1ddVisZXzJM+tPXrSedbELb/U6i7pQyeIqOcTN0zfN4U="}}');




            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
                var self = this;
                var app = self.$app;

                $$('.mdona-item').each(function (i, e) {
                    $$(e).on('click', function (e) {
                        $$('.mdona-item').removeClass('is-active');
                        $$(this).addClass('is-active');

                        var type = $$(this).attr('data-type');
                        var value = $$(this).attr('data-value');
                        var text = $$(this).attr('data-text');

                        DetailDonationModel.DonationSubcriberInfo.Type = type;
                        DetailDonationModel.DonationSubcriberInfo.Amount = value;
                        if (type == 2) {
                            $$("#lblNote3").hide();
                            $$("#lblNote2").show();
                            $$("#num2").text(text);
                        }
                        else {
                            $$("#lblNote2").hide();
                            $$("#lblNote3").show();
                            $$("#num3").text(text);
                        }
                        $$("#TotalMoneyError").hide();
                        DetailDonationModel.DonationInfo.TotalMoneyFormat = "";
                        self.$setState(DetailDonationModel);
                        $$('#mdona-input-value').trigger("change")
                    });
                });

                var $inputNum = $$('#mdona-input-value');
                $inputNum.keyup(function (e) {
                    var value = $inputNum.val().replace(/\./g, '').replace(/\-/g, '').replace(/\ /g, '');
                    var valMoney = parseInt(value);
                    DetailDonationModel.DonationInfo.TotalMoneyFormat = MoMoPwa.Helpers.Format.Number1(valMoney);
                    self.$setState(DetailDonationModel);
                    $inputNum.val(MoMoPwa.Helpers.Format.Number1(valMoney));
                    $inputNum.trigger("change");
                    $$("#TotalMoneyError").hide();
                });

                $inputNum.on('input:clear', function (e) {
                    DetailDonationModel.DonationInfo.TotalMoneyFormat = "";
                    self.$setState(DetailDonationModel);
                    $inputNum.trigger("change");
                });

                $inputNum.on('focus', function (e) {
                    $$('.mdona-item').removeClass('is-active');
                    DetailDonationModel.DonationSubcriberInfo.Type = 1;
                    DetailDonationModel.DonationSubcriberInfo.Amount = 0;
                    $$("#lblNote3").hide();
                    $$("#lblNote2").hide();
                    self.$setState(DetailDonationModel);
                });

                $$('#chkAgree').change(function () {
                    if (this.checked) {
                        $$('#btnDonationStep3').removeClass("color-gray");
                        $$('#btnDonationStep3').addClass("color-pink");
                        $$(this).prop("checked", true);
                    }
                    else {
                        $$('#btnDonationStep3').removeClass("color-pink");
                        $$('#btnDonationStep3').addClass("color-gray");
                        $$(this).prop("checked", false);
                    }
                });

                //$('#chkAgree').click(function () {

                //    if ($(this).attr('checked') == false) {
                //        $('#btnDonationStep3').removeClass("color-pink");
                //        $('#btnDonationStep3').addClass("color-gray");
                //    }
                //    else {

                //        $('#btnDonationStep3').removeClass("color-gray");
                //        $('#btnDonationStep3').addClass("color-pink");
                //    }
                //});
            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };

</script>