
& {
  @import url('../../node_modules/framework7/framework7.less');
  @import url('../../node_modules/framework7/components/appbar/appbar.less');
  @import url('../../node_modules/framework7/components/dialog/dialog.less');
  @import url('../../node_modules/framework7/components/popup/popup.less');
//   @import url('../../node_modules/framework7/components/login-screen/login-screen.less');
  @import url('../../node_modules/framework7/components/popover/popover.less');
  @import url('../../node_modules/framework7/components/actions/actions.less');
  @import url('../../node_modules/framework7/components/sheet/sheet.less');
  @import url('../../node_modules/framework7/components/toast/toast.less');
  @import url('../../node_modules/framework7/components/preloader/preloader.less');
  @import url('../../node_modules/framework7/components/progressbar/progressbar.less');
//   @import url('../../node_modules/framework7/components/sortable/sortable.less');
  @import url('../../node_modules/framework7/components/swipeout/swipeout.less');
  @import url('../../node_modules/framework7/components/accordion/accordion.less');
//   @import url('../../node_modules/framework7/components/contacts-list/contacts-list.less');
//   @import url('../../node_modules/framework7/components/virtual-list/virtual-list.less');
//   @import url('../../node_modules/framework7/components/list-index/list-index.less');
//   @import url('../../node_modules/framework7/components/timeline/timeline.less');
  @import url('../../node_modules/framework7/components/tabs/tabs.less');
  @import url('../../node_modules/framework7/components/panel/panel.less');
  @import url('../../node_modules/framework7/components/card/card.less');
  @import url('../../node_modules/framework7/components/chip/chip.less');
  @import url('../../node_modules/framework7/components/form/form.less');
  @import url('../../node_modules/framework7/components/input/input.less');
  @import url('../../node_modules/framework7/components/checkbox/checkbox.less');
  @import url('../../node_modules/framework7/components/radio/radio.less');
  @import url('../../node_modules/framework7/components/toggle/toggle.less');
  @import url('../../node_modules/framework7/components/range/range.less');
  @import url('../../node_modules/framework7/components/stepper/stepper.less');
  @import url('../../node_modules/framework7/components/smart-select/smart-select.less');
  @import url('../../node_modules/framework7/components/grid/grid.less');
//   @import url('../../node_modules/framework7/components/calendar/calendar.less');
//   @import url('../../node_modules/framework7/components/picker/picker.less');
  @import url('../../node_modules/framework7/components/infinite-scroll/infinite-scroll.less');
  @import url('../../node_modules/framework7/components/pull-to-refresh/pull-to-refresh.less');
  @import url('../../node_modules/framework7/components/lazy/lazy.less');
  @import url('../../node_modules/framework7/components/data-table/data-table.less');
  @import url('../../node_modules/framework7/components/fab/fab.less');
  @import url('../../node_modules/framework7/components/searchbar/searchbar.less');
  @import url('../../node_modules/framework7/components/messages/messages.less');
  @import url('../../node_modules/framework7/components/messagebar/messagebar.less');
  @import url('../../node_modules/framework7/components/swiper/swiper.less');
  @import url('../../node_modules/framework7/components/photo-browser/photo-browser.less');
  @import url('../../node_modules/framework7/components/notification/notification.less');
  @import url('../../node_modules/framework7/components/autocomplete/autocomplete.less');
  @import url('../../node_modules/framework7/components/tooltip/tooltip.less');
  @import url('../../node_modules/framework7/components/gauge/gauge.less');
  @import url('../../node_modules/framework7/components/skeleton/skeleton.less');
  @import url('../../node_modules/framework7/components/menu/menu.less');
  @import url('../../node_modules/framework7/components/color-picker/color-picker.less');
  // @import url('../../node_modules/framework7/components/treeview/treeview.less');
  // @import url('../../node_modules/framework7/components/text-editor/text-editor.less');
  @import url('../../node_modules/framework7/components/elevation/elevation.less');
  @import url('../../node_modules/framework7/components/typography/typography.less');

  @includeIosTheme: true;
  @includeMdTheme: false;
  @includeAuroraTheme: false;
  @includeDarkTheme: false;
  @includeLightTheme: true;
  @rtl: false;
  @colors: {
    red: #ff3b30;
    green: #7eb54a;
    blue: #2196f3;
    pink: #ae2070;
    yellow: #ffcc00;
    orange: #ff9500;
    purple: #9c27b0;
    deeppurple: #673ab7;
    lightblue: #5ac8fa;
    teal: #009688;
    lime: #cddc39;
    deeporange: #ff6b22;
    gray: #8e8e93;
    white: #ffffff;
    black: #000000;
  };
}
