<template>
    <div class="page">
        <div class="tab-pri">
            <div class="tab-pri__body">
                <div class="tab-pri__item"><a href="#tab-1" @click="TabAtmClick" class=" tab-link">Dùng ATM</a></div>
                <div class="tab-pri__item"> <a href="#tab-2" @click="TabAppClick"
                        class="tab-pri__item tab-link tab-link-active">App Agribank</a></div>
                <div class="tab-pri__item"><a href="#tab-3" @click="TabBankClick" class="tab-pri__item tab-link">Ra ngân
                        hàng</a></div>

            </div>
        </div>
        <div class="tabs tab-pri__htuBank">
            <div id="tab-1" class="page-content tab">
                <div class="tab-pri__wrap">

                    <div class="tab-pri__content">

                        <div class="swiper-container swiper-htuBank">
                            <div class="swiper-pagination"></div>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                                        <img src="https://static.mservice.io/images/s/momo-upload-api-200415163141-637225651010351397.jpg"
                                            class="embed-responsive-img" alt="">
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                                        <img src="https://static.mservice.io/images/s/momo-upload-api-200415163251-637225651710272595.jpg"
                                            class="embed-responsive-img" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                                        <img src="https://static.mservice.io/images/s/momo-upload-api-200415163306-637225651866637347.jpg"
                                            class="embed-responsive-img" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                                        <img src="https://static.mservice.io/images/s/momo-upload-api-200415163324-637225652048389984.jpg"
                                            class="embed-responsive-img" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                                        <img src="https://static.mservice.io/images/s/momo-upload-api-200415163342-637225652220997717.jpg"
                                            class="embed-responsive-img" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="toolbar toolbar-bottom toolbar-large">
                        <div class="toolbar-inner">
                            <div class=" w-100">
                                <p class="row mb-0 ">


                                    <a href="momo://?refId=browser|https://www.agribank.com.vn/vn/atm-chi-nhanh"
                                        @click="BtnFindAtm"
                                        class="external col button button-fill  sheet-close button-large color-pink">
                                        Tìm
                                        ATM
                                        gần nhất
                                    </a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div id="tab-2" class="page-content tab tab-active">
                <div class="tab-pri__wrap">

                    <div class="tab-pri__content">
                        <div class="swiper-container swiper-htuBank">
                            <div class="swiper-pagination"></div>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                                        <img src="https://static.mservice.io/images/s/momo-upload-api-200415163913-637225655532009220.jpg"
                                            class="embed-responsive-img" alt="">
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                                        <img src="https://static.mservice.io/images/s/momo-upload-api-200415163927-637225655672291636.jpg"
                                            class="embed-responsive-img" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                                        <img src="https://static.mservice.io/images/s/momo-upload-api-200415163940-637225655800701591.jpg"
                                            class="embed-responsive-img" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                                        <img src="https://static.mservice.io/images/s/momo-upload-api-200415163958-637225655985728113.jpg"
                                            class="embed-responsive-img" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                                        <img src="https://static.mservice.io/images/s/momo-upload-api-200415164011-637225656114438562.jpg"
                                            class="embed-responsive-img" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                                        <img src="https://static.mservice.io/images/s/momo-upload-api-200415164027-637225656279152014.jpg"
                                            class="embed-responsive-img" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="mt-0 mb-2">Giới thiệu</h2>
                        <p>
                            Agribank E-Mobile Banking là ứng dụng di động thông minh do Ngân hàng Agribank phát triển,
                            cho phép khách hàng cá nhân dễ dàng thực hiện các giao dịch tài chính, trải nghiệm các tiện
                            ích thanh toán mọi lúc mọi nơi ngay trên điện thoại di động/máy tính bảng.

                        </p>
                        <p>

                            Với Agribank E-Mobile Banking, khách hàng có thể giao dịch nhanh chóng và an toàn tại mọi
                            thời điểm, kể cả thời gian ngoài giờ hành chính, ngày nghỉ, Lễ Tết.

                        </p>

                        <div class="my-4">
                            <div class="row ">
                                <div class="col-50 text-right">
                                    <a @click="BtnDownloadIos"
                                        href="momo://?refId=browser|https://apps.apple.com/us/app/agribank-e-mobile-banking/id935944952"
                                        class="link-white external">
                                        <img src="https://static.mservice.io/img/tai-appstore.png" width="130"
                                            class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="col-50 text-left">
                                    <a @click="BtnDownloadAndroid"
                                        href="momo://?refId=browser|https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.vnpay.Agribank3g"
                                        class="link-white external">
                                        <img src="https://static.mservice.io/img/tai-google-play.png" width="130"
                                            class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--<div class="toolbar toolbar-bottom toolbar-large">
                        <div class="toolbar-inner">
                            <div class=" w-100">
                                <p class="row mb-0 ">
                                    <a href="#" @click="BtnRegister" class="external col button button-fill  sheet-close button-large color-pink">Đăng ký miễn phí</a>
                                </p>
                            </div>

                        </div>
                    </div>-->
                </div>
            </div>
            <div id="tab-3" class="page-content tab">
                <div class="tab-pri__wrap">


                    <div class="tab-pri__content">


                        <h2 class="mt-0 mb-2">Giới thiệu</h2>
                        <p>
                            Quý khách có thể dễ dàng tìm thấy chi nhánh Agribank gần mình nhất bên dưới và yêu cầu nhân
                            viên ngân hàng hỗ trợ đăng kí dịch vụ giao dịch Internet - Ecommerce (hoàn toàn miễn phí).


                        </p>
                        <p>

                            Khi đến đăng kí, vui lòng mang theo CMND/CCCD/Hộ chiếu trùng với giấy tờ đã dùng để mở thẻ
                            tại ngân hàng Agribank.
                        </p>



                    </div>

                    <div class="toolbar toolbar-bottom toolbar-large">
                        <div class="toolbar-inner">
                            <div class=" w-100">
                                <p class="row mb-0 ">


                                    <a href="momo://?refId=browser|https://www.agribank.com.vn/vn/atm-chi-nhanh"
                                        @click="BtnFindBank"
                                        class="external col button button-fill  sheet-close button-large color-pink">Tìm
                                        quầy gần nhất</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <style>
        .tab-pri__item a {
            padding: 12px 15px;
        }

        .tab-pri {
            top: 0px;
        }
    </style>

</template>

<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage,ProcessAppTrackingCustomParam, Track } from '../../js/custom.js';

    export default {
        data: function () {
            return null;
        },
        methods: {
            TabAppClick: function () {
                var param = {
                    action: 'select_app_pu_57'
                };
                ProcessAppTrackingCustomParam('wallet_map_bank_111', param);
            },
            TabAtmClick: function () {
                var param = {
                    action: 'select_atm_pu_57'
                };
                ProcessAppTrackingCustomParam('wallet_map_bank_111', param);
            },
            TabBankClick: function () {
                var param = {
                    action: 'select_quay_pu_57'
                };
                ProcessAppTrackingCustomParam('wallet_map_bank_111', param);
            },
            BtnFindAtm: function () {
                var param = {
                    action: 'click_btnATM_pu_57'
                };
                ProcessAppTrackingCustomParam('wallet_map_bank_111', param);
            },
            BtnFindBank: function () {
                var param = {
                    action: 'click_btnQuay_pu_57'
                };
                ProcessAppTrackingCustomParam('wallet_map_bank_111', param);
            },
            BtnRegister: function () {
                var param = {
                    action: 'click_btnApp_pu_57'
                };
                ProcessAppTrackingCustomParam('wallet_map_bank_111', param);
            },
            BtnDownloadIos: function () {
                var param = {
                    action: 'click_btnAppstore_pu_57'
                };
                ProcessAppTrackingCustomParam('wallet_map_bank_111', param);
            },
            BtnDownloadAndroid: function () {
                var param = {
                    action: 'click_btnCHPlay_pu_57'
                };
                ProcessAppTrackingCustomParam('wallet_map_bank_111', param);
            },
        },
        on: {
            pageInit: function (e, page) {
                var self = this;
                var app = self.$app;

                var swiperHtuBank = app.swiper.create('.swiper-htuBank', {
                    speed: 400,
                    spaceBetween: 10,
                    pagination: {
                        el: '.swiper-pagination',
                    }
                });


                $$(".tab").on('tab:show', function (event, ui) {
                    var swiperHtu = app.swiper.get($$(this).find(".swiper-htuBank"));
                    swiperHtu.update();
                });
            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {


            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };

</script>