﻿<template>
    <div class="page no-swipeback" id="capture">

        <!--<div class="navbar bg-transparent ">
        <div class="navbar-inner sliding">
            <div class="left">
                <a class="link back">
                    <i class="icon icon-back"></i>
                    <span class="if-not-md">Quay lại</span>
                </a>
            </div>
            <div class="title">Cho Heo đi học</div>
        </div>
    </div>-->


        <div class="page-content  pt-0 bg-white">
            {{#if IsCompletedQuiz}}
            <div class="embed-responsive embed-responsive-hdh"
                style="background-image: url('https://static.mservice.io/pwa/images/heo/bg-answer.jpg')">
                <div class="hdh-question">
                    <div class="hdh-question-content">
                        Lớp học hôm nay đã kết thúc, vui lòng quay lại vào ngày mai nhé!
                    </div>

                </div>

                <div class="pigstudy-container">

                    <div class="pigstudy">

                        <div class="pigstudy-component pigstudy-mat" id="pigstudy-mat">
                            <img src="https://static.mservice.io/pwa/images/heo/body/heo-mat.svg" class="img-fluid"
                                alt="">
                        </div>

                        <div class="pigstudy-component pigstudy-bg-mui">
                            <img src="https://static.mservice.io/pwa/images/heo/body/heo-bg-mui.svg" class="img-fluid"
                                alt="">
                        </div>

                        <div class="pigstudy-component pigstudy-mui" id="pigstudy-mui">
                            <img src="https://static.mservice.io/pwa/images/heo/body/heo-mui.svg" class="img-fluid"
                                alt="">
                        </div>

                        <div class="pigstudy-component pigstudy-eyebrow-left" id="eyebrow-left">
                            <img src="https://static.mservice.io/pwa/images/heo/body/eyebrow-left.svg" class="img-fluid"
                                alt="">
                        </div>
                        <div class="pigstudy-component pigstudy-eyebrow-right" id="eyebrow-right">
                            <img src="https://static.mservice.io/pwa/images/heo/body/eyebrow-right.svg"
                                class="img-fluid" alt="">
                        </div>

                        <img src="https://static.mservice.io/pwa/images/heo/body/heo-body.png" class="img-fluid" alt="">

                    </div>

                </div>

            </div>
            <div class="hdh-box">
                <img src="https://static.mservice.io/pwa/images/heo/heo-hand.png" class="heoAnimate-hand" alt="">

                <div class="block">
                    <div class="text-center">
                        <img src="https://static.mservice.io/pwa/images/heo/chuc-mung.svg" width="110"
                            class="img-fluid mx-auto" alt="">

                        <div class="lutie-16">Hôm nay, bạn đã nhận được</div>

                        <div class="text-center mt-4">
                            <div class="hdh-gram d-inline-block text-left">
                                <img src="https://static.mservice.io/pwa/images/heo/bag-gram-new.svg" class="icon"
                                    width="28" alt="">
                                {{this.TotalFood}} gram
                            </div>
                        </div>

                        <!--<div class="text-center mt-3">
                        <a href="javascript:void(0)" @click="BtnShareClick()" class="button button-fill px-5 font-weight-bold color-pink d-inline-block">Hoàn tất</a>
                    </div>

                    <div class="container">
                        <img width="75%" class="screen">
                    </div>-->

                    </div>

                </div>


            </div>
            {{else}}
            {{#js_if "this.CurrentQuiz != null"}}
            <div class="embed-responsive embed-responsive-hdh"
                style="background-image: url('https://static.mservice.io/pwa/images/heo/bg-answer.jpg')">
                <div class="hdh-question">

                    <div class="hdh-question-number">
                        Câu hỏi {{this.CurrentQuestion}}/{{this.HeoDiHocItemModel.quiz.questions.length}}
                    </div>

                    <div class="hdh-question-content">
                        {{CurrentQuiz.question}}
                    </div>

                </div>

                <div class="pigstudy-container">

                    <div class="pigstudy">

                        <div class="pigstudy-component pigstudy-mat" id="pigstudy-mat">
                            <img src="https://static.mservice.io/pwa/images/heo/body/heo-mat.svg" class="img-fluid"
                                alt="">
                        </div>

                        <div class="pigstudy-component pigstudy-bg-mui">
                            <img src="https://static.mservice.io/pwa/images/heo/body/heo-bg-mui.svg" class="img-fluid"
                                alt="">
                        </div>

                        <div class="pigstudy-component pigstudy-mui" id="pigstudy-mui">
                            <img src="https://static.mservice.io/pwa/images/heo/body/heo-mui.svg" class="img-fluid"
                                alt="">
                        </div>

                        <div class="pigstudy-component pigstudy-eyebrow-left" id="eyebrow-left">
                            <img src="https://static.mservice.io/pwa/images/heo/body/eyebrow-left.svg" class="img-fluid"
                                alt="">
                        </div>
                        <div class="pigstudy-component pigstudy-eyebrow-right" id="eyebrow-right">
                            <img src="https://static.mservice.io/pwa/images/heo/body/eyebrow-right.svg"
                                class="img-fluid" alt="">
                        </div>

                        <img src="https://static.mservice.io/pwa/images/heo/body/heo-body.png" class="img-fluid" alt="">

                    </div>

                </div>

            </div>
            <div class="hdh-box">
                <img src="https://static.mservice.io/pwa/images/heo/heo-hand.png" class="heoAnimate-hand" alt="">
                <div class="pron-row no-gutters align-items-center">
                    <div class="pron-col ">
                        <div class="font-weight-bold">Trả lời</div>
                        <div class="lutie-12 mt-1">
                            Đúng: {{CurrentQuiz.prize.correct}} gram | Sai: {{CurrentQuiz.prize.incorrect}} gram
                        </div>
                    </div>
                    <div class="pron-col auto">
                        <div class="hdh-gram">
                            <img src="https://static.mservice.io/pwa/images/heo/bag-gram-new.svg" class="icon"
                                width="28" alt="">
                            {{TotalFood}} gram
                        </div>
                    </div>
                </div>

                <div class="hdh-choice">
                    {{#each CurrentQuiz.options}}
                    <div class="hdh-choice-item" id="quiz-option-{{js "@index + 1"}}"
                        @click="QuizAnswerSelect({{js "@index + 1"}})">
                        <span class="lutie-16">
                            {{this}}
                        </span>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/js_if}}
            {{/if}}
            <div class="sheet-modal sheet-modal-round  hdh-chinhxac-sheet border-0 " id="footerMessage"
                data-backdrop="false" style="height: auto">
                <div class="sheet-modal-inner bg-white">
                    <div class="p-4">
                        {{#js_if "this.AnswerResult != null"}}
                        {{#if IsCompletedQuizInDetail}}
                        <div class="text-center">
                            <div class="lutie-16 ">
                                {{#if AnswerResult.is_correct}}
                                Wow, chính xác rồi!
                                {{else}}
                                Sai rồi, tiếc quá!
                                {{/if}}
                            </div>
                            <div class="font-weight-bold lutie-18">+{{AnswerResult.prize}} gram</div>

                            <div class="text-success mt-3">
                                Bạn đã hoàn thành lớp học hôm nay!
                            </div>
                            <div class="text-center mt-3">
                                <a href="javascript:void(0)" @click="BtnFinishClick()"
                                    class="button button-fill px-5 font-weight-bold color-pink d-inline-block">Hoàn
                                    tất</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="pron-row no-gutters align-items-center">
                            <div class="pron-col ">
                                <div class="lutie-16 ">
                                    {{#if AnswerResult.is_correct}}
                                    Wow, chính xác rồi!
                                    {{else}}
                                    Sai rồi, tiếc quá!
                                    {{/if}}
                                </div>
                                <div class="font-weight-bold lutie-18">+{{AnswerResult.prize}} gram</div>

                            </div>
                            <div class="pron-col auto">

                                <button
                                    class="col button  sheet-close button-fill  color-pink font-weight-bold lutie-16 py-2 h-auto"
                                    @click="NextQuestionClick">
                                    Tiếp
                                    theo ({{CountDownNext}}s) <i class="f7-icons lutie-12">chevron_right</i>
                                </button>

                            </div>
                        </div>
                        {{/if}}
                        {{/js_if}}
                    </div>
                </div>
            </div>

            <div class="sheet-modal sheet-modal-round  hdh-sai-sheet border-0 " data-backdrop="false"
                style="height: auto">
                <div class="sheet-modal-inner bg-white">
                    <div class="p-4">
                        <div class="pron-row no-gutters align-items-center">
                            <div class="pron-col ">
                                <div class="lutie-16 ">
                                    Sai rồi, tiếc quá!
                                </div>
                                <div class="font-weight-bold lutie-18">+30 gram</div>

                            </div>
                            <div class="pron-col auto">

                                <button
                                    class="col button  sheet-close button-fill  color-pink font-weight-bold lutie-16 py-2 h-auto">
                                    Tiếp
                                    theo (3s) <i class="f7-icons lutie-12">chevron_right</i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sheet-modal sheet-modal-round  hdh-complete-sheet border-0 " data-backdrop="false"
                style="height: auto">
                <div class="sheet-modal-inner bg-white">
                    <div class="p-4">

                        <div class="text-center">
                            <div class="lutie-16 ">
                                Wow, chính xác rồi!
                            </div>
                            <div class="font-weight-bold lutie-18">+300 gram</div>

                            <div class="text-success mt-3">
                                Bạn đã hoàn thành lớp học hôm nay!
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</template>


<style>
    .is-error {
        color: #58151c;
        background-color: #f8d7da;
        border-color: #f1909b;
    }
</style>


<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage } from '../../js/custom.js'
    import anime from 'animejs';

    var HeoDiHocModel = {
        HeoDiHocItemModel: {},
        IsCompletedQuiz: false,
        IsCompletedQuizInDetail: false,
        CurrentQuiz: null,
        AnswerParam: null,
        AnswerResult: null,
        CountDownNext: 3,
        TotalFood: 0,
        CurrentQuestion: 1,
        IsNext: true,
    };
    function GetHeoDiHocData(app, fnc) {
        var url = System.apihost + '/__get/Ajax/HeoDiHocGetDataV2';
        var param = {
            userPhone: System.userInfo.phone
        };
        app.request.json(url, param, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage["heodihoc_error"], ApiResponseErrorCodeMessage[res.ErrorCode], function () {
                    location.href = 'momo://?refId=CashbackMission';
                });
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };


    function SubmitAnswer(app, fnc) {
        var url = System.apihost + '/__post/Ajax/HeoDiHocSubmitAnswerV2';

        app.request.post(url, HeoDiHocModel.AnswerParam, (res) => {
            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage["heodihoc_error"], ApiResponseErrorCodeMessage[res.ErrorCode], function () {
                    location.href = 'momo://?refId=CashbackMission';
                });
                return;
            }

            res = res.Data;
            fnc(res);

        }, (err) => { }, 'json');
    };

    function BindData(self, app, res, isSubmit) {
        HeoDiHocModel.HeoDiHocItemModel = res;
        HeoDiHocModel.TotalFood = 0;
        for (var i = 0; i < res.user_record.answers.length; i++) {
            HeoDiHocModel.TotalFood = HeoDiHocModel.TotalFood + res.user_record.answers[i].prize;
        }
        if (res.quiz.questions.length <= res.user_record.answers.length) {
            if (!isSubmit) {
                HeoDiHocModel.IsCompletedQuiz = true;
            }
            else {
                HeoDiHocModel.IsCompletedQuizInDetail = true;
            }
        }

        HeoDiHocModel.ListQuizNoAnswer = [];
        for (var j = 0; j < res.quiz.questions.length; j++) {
            var isAdd = true;
            for (var i = 0; i < res.user_record.answers.length; i++) {
                if (res.quiz.questions[j].id == res.user_record.answers[i].question_id) {
                    isAdd = false;
                }
            }
            if (isAdd) {
                HeoDiHocModel.ListQuizNoAnswer.push(res.quiz.questions[j]);
            }
        }
        if (HeoDiHocModel.CurrentQuiz == null && HeoDiHocModel.ListQuizNoAnswer.length > 0) {
            HeoDiHocModel.CurrentQuestion = HeoDiHocModel.HeoDiHocItemModel.user_record.answers.length + 1;
            HeoDiHocModel.CurrentQuiz = HeoDiHocModel.ListQuizNoAnswer[0];
        }
        else if (HeoDiHocModel.AnswerParam != null) {
            for (var i = 0; i < res.user_record.answers.length; i++) {
                if (HeoDiHocModel.AnswerParam.questionId == res.user_record.answers[i].question_id) {
                    ///New
                    $$(".hdh-choice-item").removeClass("is-focus");
                    HeoDiHocModel.AnswerResult = res.user_record.answers[i];
                    if (res.user_record.answers[i].selection != res.user_record.answers[i].correct_selection) {
                        $$("#quiz-option-" + res.user_record.answers[i].selection).addClass("is-error");
                    }
                    ///EndNew
                    $$("#quiz-option-" + res.user_record.answers[i].correct_selection).addClass("is-active");
                    app.sheet.open('#footerMessage');

                    if (!HeoDiHocModel.IsCompletedQuizInDetail) {
                        HeoDiHocModel.CountDownNext = 3;
                        CountDownNextQuestion(self, app);
                    }
                    else {
                        self.$setState(HeoDiHocModel);
                    }
                }
            }
        }

        self.$setState(HeoDiHocModel);

    };

    function NextQuestion(self, app, currentQuiz) {
        HeoDiHocModel.IsNext = true;

        HeoDiHocModel.CurrentQuestion = HeoDiHocModel.HeoDiHocItemModel.user_record.answers.length + 1;
        HeoDiHocModel.CurrentQuiz = currentQuiz;
        app.sheet.close('#footerMessage');
        $$(".hdh-choice-item").removeClass("is-focus");
        $$(".hdh-choice-item").removeClass("is-active");
        $$(".hdh-choice-item").removeClass("is-error");
        self.$setState(HeoDiHocModel);
    }

    function CountDownNextQuestion(self, app) {
        setTimeout(function () {
            if (!HeoDiHocModel.IsNext) {
                HeoDiHocModel.CountDownNext = HeoDiHocModel.CountDownNext - 1;
                self.$setState(HeoDiHocModel);

                if (HeoDiHocModel.CountDownNext - 1 >= 0) {
                    CountDownNextQuestion(self, app);
                }
                else {
                    NextQuestion(self, app, HeoDiHocModel.ListQuizNoAnswer[0]);
                }
            }

        }, 1000);
    }

    export default {
        data: function () {
            HeoDiHocModel = {
                HeoDiHocItemModel: {},
                IsCompletedQuiz: false,
                IsCompletedQuizInDetail: false,
                CurrentQuiz: null,
                AnswerParam: null,
                AnswerResult: null,
                CountDownNext: 3,
                TotalFood: 0,
                CurrentQuestion: 1,
                IsNext: true,
            };

            return HeoDiHocModel;
        },
        methods: {
            InitPageData: function (userData) {
                var self = this;
                var app = self.$app;

                var rs = JSON.parse(userData);
                System.userInfo = rs;
                this.InitData();
            },
            GetUserInfo: function () {
                if (System.userInfo.phone == undefined) 
                    window.ReactNativeWebView.postMessage('GetUserInfo');
                else
                    this.InitData();
            },
            InitData: function () {
                var self = this;
                var app = self.$app;

                GetHeoDiHocData(app, function (res) {
                    console.log(res);

                    BindData(self, app, res, false);


                    var pigstudyMat = document.querySelectorAll("#pigstudy-mat");
                    var pigstudyMui = document.querySelectorAll("#pigstudy-mui");
                    var eyebrowLeft = document.querySelectorAll("#eyebrow-left");
                    var eyebrowRight = document.querySelectorAll("#eyebrow-right");

                    var heoAnimation = anime.timeline({
                        easing: 'easeInOutQuad',
                        loop: true,
                        autoplay: true
                    })
                        .add({
                            targets: pigstudyMat,
                            keyframes: [
                                { translateX: -4, delay: 3000 },
                                { translateX: 4, delay: 800 },
                                { translateX: 0, delay: 800 }
                            ],
                            duration: 1000,
                        }) //Liec mat het 1s
                        .add({
                            targets: eyebrowLeft,
                            keyframes: [
                                { translateY: -2, delay: 0 },
                                { translateY: 0, delay: 1000 },
                            ],
                            easing: 'easeInOutCubic',
                            duration: 500,
                        }, '-=2600')

                        .add({
                            targets: eyebrowRight,
                            keyframes: [
                                { translateY: -2, delay: 1000 },
                                { translateY: 0, delay: 1000 },
                            ],
                            easing: 'easeInOutCubic',
                            duration: 400,
                        }, '-=2400')

                        .add({
                            targets: pigstudyMui,
                            keyframes: [
                                { translateY: -2 },
                                { translateY: 0 },
                                { translateY: -2 },
                                { translateY: 0 },
                            ],
                            delay: 800
                        });

                });
            },
            QuizAnswerSelect: function (idx) {
                var self = this;
                var app = self.$app;

                if (HeoDiHocModel.IsCompletedQuizInDetail || !HeoDiHocModel.IsNext) {
                    return;
                }
                //$$("#quiz-option-" + idx).addClass("is-active");
                $$("#quiz-option-" + idx).addClass("is-focus");
                app.preloader.show();

                HeoDiHocModel.IsNext = false;

                HeoDiHocModel.AnswerParam = {
                    userPhone: System.userInfo.phone,
                    quizId: HeoDiHocModel.HeoDiHocItemModel.quiz.id,
                    questionId: HeoDiHocModel.CurrentQuiz.id,
                    selection: idx
                };

                SubmitAnswer(app, function (res) {
                    BindData(self, app, res, true);
                    app.preloader.hide();
                });
            },
            NextQuestionClick: function () {
                var self = this;
                var app = self.$app;
                NextQuestion(self, app, HeoDiHocModel.ListQuizNoAnswer[0]);
            },
            BtnFinishClick: function () {
                var self = this;
                var app = self.$app;
                try {
                    window.ReactNativeWebView.postMessage('FinishActivity');
                } catch (e) {

                }

                setTimeout(function () {
                    app.dialog.alert("Vui lòng cập nhật phiên bản mới nhất để có trải nghiệm tốt hơn.<br> Đóng Thông báo và nhấn Quay về để thoát nhiệm vụ.");
                }, 2000);
            },
            //BtnShareClick: function () {
            //    var self = this;
            //    var app = self.$app;

            //    debugger;

            //    var region = document.querySelector("body"); // whole screen
            //    html2canvas(region, {
            //        onrendered: function (canvas) {
            //            var pngUrl = canvas.toDataURL(); // png in dataURL format
            //            var img = document.querySelector(".screen");
            //            img.src = pngUrl;

            //            // here you can allow user to set bug-region
            //            // and send it with 'pngUrl' to server
            //        },
            //    });
            //}
        },
        on: {
            pageInit: function () {
                var self = this;
                var app = self.$app;
                this.$app.on('initPageData', this.InitPageData);
                
                this.GetUserInfo();

            },
            pageAfterIn: function (e, page) {
                var self = this;
                var app = self.$app;

                app.sheet.create({
                    el: '#footerMessage',
                    backdrop: false,
                });

                $$('#footerMessage').on('sheet:opened', function (e, sheet) {
                    $$(".hdh-choice").addClass("is-bottom");
                });

                $$('#footerMessage').on('sheet:closed', function (e, sheet) {
                    $$(".hdh-choice").removeClass("is-bottom");
                });


                //$$('#hdh-chinhxac').on('click', function () {
                //    app.sheet.create({
                //        el: '.hdh-chinhxac-sheet',
                //        backdrop: false,
                //    });
                //    app.sheet.open('.hdh-chinhxac-sheet');
                //});
                //$$('#hdh-sai').on('click', function () {
                //    app.sheet.create({
                //        el: '.hdh-sai-sheet',
                //        backdrop: false,
                //    });
                //    app.sheet.open('.hdh-sai-sheet');
                //});
                //$$('#hdh-complete').on('click', function () {
                //    app.sheet.create({
                //        el: '.hdh-complete-sheet',
                //        backdrop: false,
                //    });
                //    app.sheet.open('.hdh-complete-sheet');
                //});
            },
        },
    };

</script>