<template>
    <div class="page  bg-white mm-font-nunito">
        <div class="toolbar toolbar-bottom bg-white toolbar-large toolbar-referral">
            <div class="toolbar-inner">
                <div class=" w-100">
                    <div class="pron-row align-items-center">
                        <div class="pron-col">

                            <div class="referral-action">
                                <div class="mb-1 font-weight-bold lutie-12">Mã giới thiệu của bạn</div>
                            </div>
                            <div class="referral-code  code">
                                <div class="referral-code-txt text-center">
                                    <div class="referral-code-phone text-momo">
                                        {{ReferalDetail.LinkReferralInfo.codeShare}}</div>
                                </div>

                            </div>

                        </div>
                        <div class="pron-col auto pl-3">

                            <div class="referral-action">
                                <div class="mb-1 font-weight-bold lutie-12">Chia sẻ</div>
                            </div>
                            <div class="referral-social">
                                <a href="javascript:void(0)" @click="ButtonShareFBAppClick"
                                    class="referral-social-item">
                                    <img src="https://static.mservice.io/pwa/images/social/facebook.svg" width="30"
                                        alt="">
                                </a>
                                <a href="javascript:void(0)" @click="ButtonShareOtherAppClick"
                                    class="referral-social-item">
                                    <img src="https://static.mservice.io/pwa/images/social/share.svg" width="30" alt="">
                                </a>
                                <a href="javascript:void(0)" @click="CopyShareUrlBottom" class="referral-social-item">
                                    <img src="https://static.mservice.io/pwa/images/social/copy.svg" width="30" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="page-content mm-type page-content-referral">
            <div class="swiper-container referral-swiper">
                <div class="swiper-pagination "></div>
                <div class="swiper-wrapper">
                    {{#each ReferalDetail.ListBanner}}
                    <div class="swiper-slide">
                        <div class="embed-responsive embed-responsive-referral  ">
                            <a class="link-absolute external" href="momo://?refId={{this.banner_ref}}"></a>
                            <img src="{{this.banner_link}}" alt="" class="embed-responsive-img">
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>


            <div class="mm-section  mt-2">
                <!--<div class="pron-container balance">
            <h4 class="text-center mt-0 mb-2">
                Giới thiệu MoMo cho bạn bè
            </h4>

            <div class="text-gray text-center lutie-15">Nhận quà 500.000đ không giới hạn</div>
        </div>-->

                <div class="pron-container balance">

                    <div class="referral-action">
                        <div class="mt-4 mb-2 font-weight-bold lutie-14">Link giới thiệu bạn bè</div>
                    </div>

                    <div class="referral-code">
                        <div class="referral-code-txt">
                            {{ReferalDetail.LinkReferralInfo.linkShare}}
                        </div>
                        <div class="referral-code-btn">
                            <a href="javascript:void(0)" @click="CopyShareUrl">
                                Sao chép
                            </a>
                        </div>
                        <input type="text" value="{{ReferalDetail.LinkReferralInfo.linkShare}}" id="inputCode" readonly>
                        <div class="copy-popover">
                            <img src="https://static.mservice.io/pwa/images/sale/checked.svg" class="copy-popover-img"
                                width="18" alt=""> Sao chép đường dẫn thành
                            công
                        </div>

                    </div>

                    <div class="pron-row">
                        <div class="pron-col">
                            <div class="referral-action">
                                <div class="mt-4 mb-2 font-weight-bold lutie-14">Mã giới thiệu của bạn</div>
                            </div>

                            <div class="referral-code  code">
                                <div class="referral-code-txt text-center">
                                    <div class="referral-code-phone text-momo">
                                        {{ReferalDetail.LinkReferralInfo.codeShare}}</div>
                                </div>


                            </div>

                            <div class="referral-action">
                                <div class="mt-3 mb-2 font-weight-bold lutie-14">Chia sẻ</div>
                            </div>

                            <div class="referral-social">
                                <a href="javascript:void(0)" @click="ButtonShareFBAppClick"
                                    class="referral-social-item">
                                    <img src="https://static.mservice.io/pwa/images/social/facebook.svg" width="34"
                                        alt="">
                                </a>
                                <a href="javascript:void(0)" @click="ButtonShareOtherAppClick"
                                    class="referral-social-item">
                                    <img src="https://static.mservice.io/pwa/images/social/share.svg" width="34" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="pron-col auto pl-3">
                            <div class="referral-action ">
                                <div class="mt-4 mb-2 font-weight-bold lutie-14">Quét mã QR code</div>
                            </div>

                            <div class="referral-qr">
                                <canvas id="qrcodearea" class="qr-img img-fluid d-block" width="150"></canvas>
                                <!--<img src="https://static.mservice.io/images/s/momo-upload-api-200225122340-637182302200280668.png"
                        class="img-fluid d-block" width="120" alt="">-->
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div class="mm-section mm-highlight ">
                <div class="pron-container balance">
                    <div class="mm-section-title border-0">
                        <h3 class="h5 mb-1 mt-0 mm-section-name">
                            Thẻ quà bí mật
                        </h3>

                    </div>

                    <!--<div class="lutie-13 text-gray mb-3">Gói quà ngủ quả 500.000đ</div>-->


                </div>


                <div class="swiper-container swiper-init swiper-item-referral" data-space-between="15"
                    data-slides-per-view="auto"
                    data-lazy='{"enabled": true, "loadPrevNext": true, "loadPrevNextAmount": 2}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="width:90%;">

                            <div class="referral-gift-highlight  shadow-1 ">
                                <a href="momo://?refId=WebInApp&extra=%22%7B%5C%22useNavigator%5C%22%3Atrue%2C%5C%22title%5C%22%3A%5C%22TH%E1%BA%BA%20QU%C3%80%20B%C3%8D%20M%E1%BA%ACT%5C%22%2C%5C%22disableToken%5C%22%3Atrue%2C%5C%22uri%5C%22%3A%5C%22http%3A%2F%2Fdev1.momo.vn%2Frandom-voucher%5C%22%7D%22"
                                    class="external link-absolute"></a>
                                <div class="referral-gift-img ">
                                    <div class=" ">
                                        <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-200424094146-637233181065135283.jpg"
                                            class="swiper-lazy img-fluid" alt="">
                                    </div>
                                </div>

                                <div class="referral-gift-name">
                                    Thẻ quà bí mật tháng 5/2020
                                </div>

                                <div class="referral-gift-desc">
                                    Chào mừng Giải phóng Miền Nam và Quốc tế lao động
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            {{#each ReferalGift}}
            <div class="mm-section  ">
                <div class="pron-container balance">
                    <div class="mm-section-title border-0">
                        <h3 class="h5 mb-1 mt-0 mm-section-name">
                            {{this.Title}}
                        </h3>

                    </div>
                    <div class="lutie-13 text-gray mb-3">{{this.Description}}</div>
                </div>

                <div class="swiper-container swiper-item-referral">
                    <div class="swiper-wrapper">
                        {{#each this.ListItem}}
                        <div class="swiper-slide">
                            <div class="referral-gift ">
                                <a href="#" data-popup=".referral-giftpopup-{{this.Id}}"
                                    class="popup-open link-absolute"></a>
                                <div class="referral-gift-img">
                                    <div class="embed-responsive embed-responsive-referral2">
                                        <img data-src="https://static.mservice.io/img/{{this.Avatar}}"
                                            class="swiper-lazy embed-responsive-img" alt="">
                                    </div>
                                </div>

                                <div class="referral-gift-name">
                                    {{this.Title}}
                                </div>
                            </div>


                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}

            <div class="mm-section  ">
                <div class="pron-container balance">
                    <div class="mm-section-title">
                        <h3 class="h5 mb-1 mt-0 mm-section-name">
                            {{ReferalGuide.Name}}
                        </h3>
                    </div>
                    <div class="list accordion-list accordion-referral mb-4 mt-3 p-0">
                        <ul>
                            {{#each ReferalGuide.Groups}}
                            <li class="accordion-item {{js "this.@index == 0 ? 'accordion-item-opened' : ''"}}">
                                <a href="#" class="item-content item-link">
                                    <div class="item-inner">
                                        <div class="item-title  text-uppercase">{{Name}}</div>
                                    </div>
                                </a>
                                <div class="accordion-item-content  bg-light">
                                    {{#js_if "this.Items.length <= 1"}}
                                    <ul class="steps steps-vertical">
                                        {{#each Items}}
                                        {{#each Blocks}}
                                        <li class="step-item ">
                                            <div class="step-link">
                                                <span class="step-number">{{@index+1}}</span>
                                                <span class="step-title">
                                                    {{Title}}
                                                </span>
                                            </div>
                                        </li>

                                        {{/each}}
                                        {{/each}}
                                    </ul>

                                    <div class=" mb-3 text-center ">
                                        <a href="#" data-popup=".gtbb-htu-popup-{{Id}}0"
                                            class="d-inline-block button button-fill button-round popup-open color-pink px-3 ">
                                            Xem
                                            hình hướng
                                            dẫn
                                        </a>
                                    </div>

                                    <!--<div class="htu-mockup-more  bg-transparent position-relative">

                                <a href="#" data-popup=".gtbb-htu-popup-{{Id}}0" class="popup-open link-absolute"></a>
                                {{#each Items}}
                                {{#each Blocks}}
                                {{#js_if "@index < 3"}}
                                <div class="htu-mockup-item i{{@index+1}}"
                                     style="background-image: url('{{Avatar}}');">
                                </div>
                                {{/js_if}}
                                {{/each}}
                                {{/each}}
                            </div>


                            <div class="mt-2 pb-3 text-center">
                                <a href="#" data-popup=".gtbb-htu-popup-{{Id}}0"
                                   class="popup-open  button button-outline button-round d-inline-block">
                                    Xem
                                    hướng dẫn
                                </a>
                            </div>-->
                                    {{else}}
                                    <div class="">
                                        <div class=" htu-bank bg-light mt-0 px-2">
                                            {{#each Items}}
                                            <div class="htu-bank-col popup-button">
                                                <a href="#" data-popup=".gtbb-htu-popup-{{../Id}}{{Id}}"
                                                    class=" popup-open">
                                                    <div class="htu-bank-item">

                                                        <img class="d-block mx-auto img-fluid" alt="" src="{{IconUrl}}">
                                                        <div>{{Title}}</div>

                                                    </div>
                                                </a>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    {{/js_if}}
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>



                </div>

            </div>

        </div>



        {{#each ReferalGift}}
        {{#each this.ListItem}}
        <div class="popup referral-popup popup-swipe-round referral-giftpopup-{{this.Id}}">
            <div class="view">
                <div class="page">
                    <div class="navbar close-handler">
                        <div class="navbar-inner sliding">
                            <div class="left">
                                <a class="link popup-close">
                                    <img src="https://static.mservice.io/pwa/images/icons/icon-x.svg" width="28" alt="">
                                </a>
                            </div>
                            <div class="title">{{this.Title}}</div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="p-3 pt-5 referral-gift-detail">
                            <p class="font-weight-bold"><span class=" text-momo">Số lượng thẻ quà nhận được:
                                </span>{{this.Quantity}}</p>
                            <p class="font-weight-bold text-momo">Nơi sử dụng:</p>
                            {{this.ApplyPlace}}
                            <p class="font-weight-bold text-momo">Điều kiện sử dụng:</p>
                            {{this.ApplyRule}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/each}}

        {{#each ReferalGuide.Groups}}
        {{#js_if "this.Items.length <= 1"}}
        {{#each Items}}
        <div class="popup cas-htu-popup gtbb-htu-popup-{{../Id}}0 popup-swipe-round">
            <div class="view">
                <div class="page">
                    <div class="navbar close-handler">
                        <div class="navbar-inner sliding">
                            <div class="left">
                                <a class="link popup-close">
                                    <img src="https://static.mservice.io/pwa/images/icons/icon-x.svg" width="28" alt="">
                                </a>
                            </div>
                            <div class="title">{{../Name}}</div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="swiper-container gtbb-htu-sw-{{../Id}}0 htu-swiper">
                            <div class="swiper-pagination gtbb-pagination-{{../Id}}0"></div>
                            <div class="swiper-button-next gtbb-navigation-next-btn-{{../Id}}0 htu-navigation-btn">
                            </div>
                            <div class="swiper-button-prev gtbb-navigation-pre-btn-{{../Id}}0 htu-navigation-btn"></div>
                            <div class="swiper-wrapper">
                                {{#each Blocks}}
                                <div class="swiper-slide">

                                    <div class="htu-content">
                                        <div class="htu-mockup">
                                            <div class="htu-mockup-slider"
                                                style="background-image: url('https://static.mservice.io/pwa/images/phone-mockup.png')">
                                                <img data-src="{{Avatar}}" class="img-fluid d-block mx-auto swiper-lazy"
                                                    alt="">
                                            </div>

                                            <div class="htu-mockup-txt">
                                                <h3 class="htu-mockup-title mt-0 mb-2">{{Title}}</h3>
                                                <div class="htu-mockup-body">
                                                    {{Content}}
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                {{/each}}
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        {{#each Items}}
        <div class="popup cas-htu-popup gtbb-htu-popup-{{../Id}}{{Id}} popup-swipe-round">
            <div class="view">
                <div class="page">
                    <div class="navbar close-handler">
                        <div class="navbar-inner sliding">
                            <div class="left">
                                <a class="link popup-close">
                                    <img src="https://static.mservice.io/pwa/images/icons/icon-x.svg" width="28" alt="">
                                </a>
                            </div>
                            <div class="title">{{../Name}}</div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="swiper-container gtbb-htu-sw-{{../Id}}{{Id}} htu-swiper">
                            <div class="swiper-pagination gtbb-pagination-{{../Id}}{{Id}}"></div>
                            <div class="swiper-button-next gtbb-navigation-next-btn-{{../Id}}{{Id}} htu-navigation-btn">
                            </div>
                            <div class="swiper-button-prev gtbb-navigation-pre-btn-{{../Id}}{{Id}} htu-navigation-btn">
                            </div>
                            <div class="swiper-wrapper">
                                {{#each Blocks}}
                                <div class="swiper-slide">

                                    <div class="htu-content">
                                        <div class="htu-mockup">
                                            <div class="htu-mockup-slider"
                                                style="background-image: url('https://static.mservice.io/pwa/images/phone-mockup.png')">
                                                <img data-src="{{Avatar}}" class="img-fluid d-block mx-auto swiper-lazy"
                                                    alt="">
                                            </div>

                                            <div class="htu-mockup-txt">
                                                <h3 class="htu-mockup-title mt-0 mb-2">{{Title}}</h3>
                                                <div class="htu-mockup-body">
                                                    {{Content}}
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                {{/each}}
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/js_if}}
        {{/each}}




    </div>



</template>


<script>
    import $$ from 'dom7';
    import { System, ApiResponseErrorCodeMessage, Track, ProcessAppTracking,ProcessAppShareFacebook,ProcessAppShareOther } from '../../js/custom.js';


    var self = null;
    var _isLoading = false;
    var model = {
        IsIos: 0,
        ReferalDetail: {
            ListBanner: [],
            LinkReferralInfo: {
                linkShare: "",
                codeShare: "",
            }
        },
        ReferalGift: [],
        ReferalGuide: {},
    };

    function getData(app, fnc) {
        if (_isLoading)
            return;
        _isLoading = true;
        var url = System.apihost + '/__get/Referral/GetDetailV2';
        var param = {
            userPhone: System.userInfo.phone
        };
        app.request.json(url,param, (res) => {
            _isLoading = false;

            if (!res.Result) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }

            res = res.Data;
            fnc(res);

        });
    };

    function getGiftData(app, fnc) {
        var url = System.apihost + '/__get/Referral/GetGiftData';
        app.request.json(url, (res) => {
            if (!res.Result) {
                app.dialog.alert(ApiResponseErrorCodeMessage[res.ErrorCode]);
                return;
            }
            res = res.Data;
            fnc(res);

        });
    };


    function getDataGroupGuide(app, id, fnc) {
        var url = System.apihost + '/__get/Guide/DetailGroup';
        var param = {
            id: id
        };
        app.request.json(url, param, (res) => {
            if (res.Error) {
                app.preloader.hide();
                app.dialog.alert(ApiResponseErrorCodeMessage[res.Error.Code]);
                if (res.Error.Code === 'notfound') {
                    app.views.main.router.navigate({
                        name: '404'
                    });
                }
                return;
            }

            fnc(res.Data);

        });
    };

    export default {
        data: function () {
            return model;
        },
        methods: {
            InitPageData: function (userData) {
                var self = this;
                var app = self.$app;

                var rs = JSON.parse(userData);
                Track(app, userData);
                System.userInfo = rs;

                this.InitData();
            },
            GetUserInfo: function () {
                if (System.userInfo.phone == undefined) 
                    window.ReactNativeWebView.postMessage('GetUserInfo');
                else
                    this.InitData();
            },
            InitData: function () {
                var self = this;
                var app = self.$app;

                getData(app, function (data) {
                    model.ReferalDetail.ListBanner = data.ListBanner;
                    model.ReferalDetail.LinkReferralInfo = data.LinkReferralInfo;

                    setTimeout(function () {
                        QrCodeWithLogo.toCanvas({
                            canvas: document.getElementById('qrcodearea'),
                            content: data.LinkReferralInfo.linkShare.trim(),
                            width: 150,
                            logo: {
                                src: 'https://static.mservice.io/pwa/images/logoMomox50.png',
                            }
                        });

                        var swiper = app.swiper.create('.referral-swiper', {
                            pagination: {
                                el: '.swiper-pagination',
                            },
                            autoplay: {
                                delay: 5000,
                            },
                            spaceBetween: 0,
                            loop: true,
                            speed: 1000,
                            slidesPerView: 'auto'
                        });

                    }, 1000);

                    app.preloader.hide();
                    self.$setState(model);
                });
            },
            CopyShareUrl: function () {
                var self = this;
                var app = self.$app;
                const noti = document.querySelector(".copy-popover");

                const textInput = document.createElement("input");
                textInput.setAttribute('readonly', true);
                textInput.value = model.ReferalDetail.LinkReferralInfo.linkShare.trim();

                document.body.appendChild(textInput);

                textInput.select();
                document.execCommand("Copy");

                noti.classList.add("is-active");
                setTimeout(function () {
                    noti.classList.remove("is-active");
                }, 3000);

                ProcessAppTracking('referral_dashboard_2020', 'referral_copy');
            },
            CopyShareUrlBottom: function () {
                var self = this;
                var app = self.$app;

                var toastCopy = app.toast.create({
                    text: 'Sao chép liên kết thành công',
                    closeTimeout: 2000,
                });

                const textInput = document.createElement("input");
                textInput.setAttribute('readonly', true);
                textInput.value = model.ReferalDetail.LinkReferralInfo.linkShare.trim();

                document.body.appendChild(textInput);

                textInput.select();
                document.execCommand("Copy");
                toastCopy.open();

                ProcessAppTracking('referral_dashboard_2020', 'referral_copy');
            },
            ButtonShareFBAppClick: function () {
                var self = this;
                var app = self.$app;
                ProcessAppTracking('referral_dashboard_2020', 'referral_share_facebook');
                ProcessAppShareFacebook(model.ReferalDetail.LinkReferralInfo.linkShare.trim());
            },
            ButtonShareOtherAppClick: function () {
                var self = this;
                var app = self.$app;
                var contentShare = "Bạn tôi ơi, mình muốn tặng bạn combo 300.000đ để nạp điện thoại, trả điện, nước,... trong Ví MoMo. Nhấp vào link bên dưới, đăng ký MoMo & làm theo hướng dẫn để nhận quà nhé! " + model.ReferalDetail.LinkReferralInfo.linkShare.trim();
                ProcessAppTracking('referral_dashboard_2020', 'referral_share');
                ProcessAppShareOther(contentShare);
            },
        },
        on: {
            pageInit: function (e, page) {
                self = this;
                var app = self.$app;
                app.preloader.show();
                this.$app.on('initPageData', this.InitPageData);
                if (app.device.ios)
                    model.IsIos = 1;

                var script = document.createElement('script');
                script.src = 'https://static.mservice.io/pwa/js/qr-code-with-logo.browser.min.js';
                document.head.appendChild(script);

                this.GetUserInfo();

                getGiftData(app, function (data) {
                    model.ReferalGift = data;
                    self.$setState(model);

                    var swiperItem = app.swiper.create('.swiper-item-referral', {
                        spaceBetween: 15,
                        slidesPerView: 'auto',
                        lazy: {
                            enabled: true,
                            loadPrevNext: true,
                            loadPrevNextAmount: 2
                        }
                    });
                });

                getDataGroupGuide(app, 595, function (dataGroupGuide) {
                    model.ReferalGuide = dataGroupGuide;

                    self.$setState(model);

                    setTimeout(function () {

                        for (var j = 0; j < dataGroupGuide.Groups.length; j++) {

                            if (dataGroupGuide.Groups[j].Items.length <= 1) {
                                var Id = dataGroupGuide.Groups[j].Id;
                                var casHtuGroup = app.popup.create({
                                    el: '.gtbb-htu-popup-' + Id + '0',
                                    swipeToClose: "to-bottom",
                                    swipeHandler: '.close-handler',
                                    dataId: Id.toString() + '0'
                                });

                                var swiperGroup = app.swiper.create('.gtbb-htu-sw-' + Id + '0', {
                                    pagination: {
                                        el: '.gtbb-pagination-' + Id + '0',
                                        type: 'fraction',
                                        hideOnClick: true
                                    },
                                    navigation: {
                                        nextEl: '.gtbb-navigation-next-btn-' + Id + '0',
                                        prevEl: '.gtbb-navigation-pre-btn-' + Id + '0'
                                    },
                                    lazy: {
                                        enabled: true
                                    }
                                })

                                casHtuGroup.on('opened', function (popup) {
                                    var swiperGroup = app.swiper.get('.gtbb-htu-sw-' + popup.params.dataId);
                                    swiperGroup.update();
                                });
                            }
                            else {
                                for (var c = 0; c < dataGroupGuide.Groups[j].Items.length; c++) {
                                    var Id = dataGroupGuide.Groups[j].Id;
                                    var ItemId = dataGroupGuide.Groups[j].Items[c].Id;
                                    var casHtuGroup = app.popup.create({
                                        el: '.gtbb-htu-popup-' + Id.toString() + ItemId.toString(),
                                        swipeToClose: "to-bottom",
                                        swipeHandler: '.close-handler',
                                        dataId: Id.toString() + ItemId.toString()
                                    });
                                    var swiperGroup = app.swiper.create('.gtbb-htu-sw-' + Id.toString() + ItemId.toString(), {
                                        pagination: {
                                            el: '.gtbb-pagination-' + Id.toString() + ItemId.toString(),
                                            type: 'fraction',
                                            hideOnClick: true
                                        },
                                        navigation: {
                                            nextEl: '.gtbb-navigation-next-btn-' + Id.toString() + ItemId.toString(),
                                            prevEl: '.gtbb-navigation-pre-btn-' + Id.toString() + ItemId.toString()
                                        },
                                        lazy: {
                                            enabled: true
                                        }
                                    })

                                    casHtuGroup.on('opened', function (popup) {
                                        var swiperGroup = app.swiper.get('.gtbb-htu-sw-' + popup.params.dataId);
                                        swiperGroup.update();
                                    });
                                }
                            }
                        }
                    }, 1000);
                });
            },
            pageAfterOut: function (e, page) {
            },
            pageMounted: function (e, page) {
            },
            pageBeforeIn: function (e, page) {
            },
            pageAfterIn: function (e, page) {
                var self = this;
                var app = self.$app;
                app.toolbar.hide('.toolbar');
                $$('.page-content-referral').on("scroll", function () {
                    if ($$('.page-content-referral').scrollTop() > 400) {
                        app.toolbar.show('.toolbar');
                    } else {
                        app.toolbar.hide('.toolbar');
                    }
                });

                setTimeout(function () {
                    $$('.accordion-item').on('accordion:opened', function (el) {
                        const offset = $$(el.currentTarget).offset().top;
                        const navHeight = 56;
                        const scrollTopValue = offset - navHeight + $$(el.currentTarget).parents('.page-content').scrollTop();
                        const animeTar = document.querySelector(".page-content");
                        anime({
                            targets: animeTar,
                            scrollTop: scrollTopValue,
                            duration: 500,
                            easing: 'easeInOutQuad'
                        });
                        // $(openedItem).parents('.page-content').scrollTop((offset - navHeight - toolbarHeight + scrollTop), 300);
                    });
                }, 1000);

            },
            pageBeforeOut: function (e, page) {
            },
            pageBeforeUnmount: function (e, page) {
            },
            pageBeforeRemove: function (e, page) {
            }
        }
    };
</script>