﻿<div class="sale-cluster">
    <div class="sale-cluster-title">
        {{this.DataTitle}}
    </div>
    <div class="list accordion-list my-4 p-0">
        <ul>
            {{#each Groups}}
            <li class="accordion-item {{js "this.@index == 0 ? 'accordion-item-opened' : ''"}}">
                <a href="#" class="item-content item-link pl-0">
                    <div class="item-inner">
                        <div class="item-title  font-weight-bold">{{Name}}</div>
                    </div>
                </a>
                <div class="accordion-item-content">
                    <div class="htu-mockup-more  bg-transparent position-relative">

                        <a href="#" data-popup=".pop-huong-dan-{{Id}}" class="popup-open link-absolute"></a>
                        {{#each Items}}
                        {{#each Blocks}}
                        {{#js_if "@index < 3"}}
                        <div class="htu-mockup-item i{{@index+1}}"
                             style="background-image: url('{{Avatar}}')">
                        </div>
                        {{/js_if}}
                        {{/each}}
                        {{/each}}
                    </div>


                    <div class="mt-2 pb-5 text-center ">
                        <a href="#" data-popup=".pop-huong-dan-{{Id}}"
                           class="popup-open  button button-outline button-round d-inline-block">
                            Xem
                            hướng dẫn
                        </a>
                    </div>
                    
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

{{#each Groups}}
<div class="popup cas-htu-popup popup-swipe-round pop-huong-dan-{{Id}}">
    <div class="view">
        <div class="page">
            <div class="navbar close-handler">
                <div class="navbar-inner sliding">
                    <div class="left">
                        <a class="link popup-close">
                            <img src="https://static.mservice.io/pwa/images/icons/icon-x.svg" width="28" alt="">
                        </a>
                    </div>
                    <div class="title">{{Name}}</div>
                </div>
            </div>
            <div class="page-content">
                <div class="swiper-container htu-swiper pop-huong-dan-sw-{{Id}}">
                    <div class="swiper-pagination swiper-pagination-ct-{{Id}}"></div>
                    <div class="swiper-button-next htu-navigation-btn swiper-button-next-ct-{{Id}}"></div>
                    <div class="swiper-button-prev htu-navigation-btn swiper-button-prev-ct-{{Id}}"></div>
                    <div class="swiper-wrapper">
                        {{#each Items}}
                        {{#each Blocks}}
                        <div class="swiper-slide">

                            <div class="htu-content">
                                <div class="htu-mockup">
                                    <div class="htu-mockup-slider" style="background-image: url('https://static.mservice.io/pwa/images/phone-mockup.png')">
                                        <img src="{{Avatar}}" class="img-fluid d-block mx-auto swiper-lazy" alt="">
                                    </div>

                                    <div class="htu-mockup-txt">
                                        <h3 class="htu-mockup-title mt-0 mb-2">{{Title}}</h3>
                                        <div class="htu-mockup-body">
                                            {{Content}}
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        {{/each}}
                        {{/each}}
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
{{/each}}