<div class="page-content">
    <div data-lazy='{"enabled": true}'
         data-pagination='{"el": ".swiper-pagination", "type" : "fraction", "hideOnClick": true}'
         data-navigation='{"nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev"}'
         class="swiper-container swiper-init htu-swiper">
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next htu-navigation-btn"></div>
        <div class="swiper-button-prev htu-navigation-btn"></div>
        <div class="swiper-wrapper">
            {{#each this.Blocks}}
            <div class="swiper-slide">
                <div class="htu-content">
                    <div class="htu-mockup">
                        <div class="htu-mockup-slider" style="background-image: url('https://static.mservice.io/pwa/images/phone-mockup.png')">
                            <img src="{{Avatar}}" class="img-fluid d-block mx-auto swiper-lazy" alt="">
                        </div>

                        <div class="htu-mockup-txt">
                            <h3 class="htu-mockup-title mt-0 mb-2">{{Title}}</h3>
                            <div class="htu-mockup-body">
                                {{Content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>