﻿<div class="pron-container balance">

    <h3 class="mt-2 mb-2 lutie-section-title font-weight-bold">

        {{this.DataTitle}}

    </h3>
</div>
<div class="card ">
    <div class="card-content pt-1">
        <div class="htu-mockup-more  bg-transparent position-relative">

            <a href="#" data-popup=".pop-huong-dan-single-{{Id}}" class="popup-open link-absolute"></a>
            {{#each this.Blocks}}
            {{#js_if "@index < 3"}}
            <div class="htu-mockup-item i{{@index+1}}"
                 style="background-image: url('{{Avatar}}')">
            </div>
            {{/js_if}}
            {{/each}}
        </div>


        <div class="mt-2 pb-2 text-center ">
            <a href="#" data-popup=".pop-huong-dan-single-{{Id}}"
               class="popup-open  button button-outline button-round d-inline-block">
                Xem
                hướng dẫn
            </a>
        </div>


    </div>
</div>

<div class="popup cas-htu-popup popup-swipe-round pop-huong-dan-single-{{Id}}">
    <div class="view">
        <div class="page">
            <div class="navbar close-handler">
                <div class="navbar-inner sliding">
                    <div class="left">
                        <a class="link popup-close">
                            <img src="https://static.mservice.io/pwa/images/icons/icon-x.svg" width="28" alt="">
                        </a>
                    </div>
                    <div class="title">{{this.DataTitle}}</div>
                </div>
            </div>
            <div class="page-content" style="padding-top: 48px;">

                <div class="swiper-container htu-swiper pop-huong-dan-sw-single-{{Id}}">
                    <div class="swiper-pagination swiper-pagination-single-{{Id}}"></div>
                    <div class="swiper-button-next  htu-navigation-btn swiper-button-next-single-{{Id}}"></div>
                    <div class="swiper-button-prev  htu-navigation-btn swiper-button-prev-single-{{Id}}"></div>
                    <div class="swiper-wrapper">

                        {{#each this.Blocks}}
                        <div class="swiper-slide">

                            <div class="htu-content">
                                <div class="htu-mockup">
                                    <div class="htu-mockup-slider" style="background-image: url('https://static.mservice.io/pwa/images/phone-mockup.png')">
                                        <img src="{{Avatar}}" class="img-fluid d-block mx-auto swiper-lazy" alt="">
                                    </div>

                                    <div class="htu-mockup-txt">
                                        <h3 class="htu-mockup-title mt-0 mb-2">{{Title}}</h3>
                                        <div class="htu-mockup-body">
                                            {{Content}}
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        {{/each}}
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>