{{#js_if "this.Article.Button1Text || this.Article.Button2Text"}}
<div class="toolbar toolbar-bottom toolbar-large">
    <div class="toolbar-inner">
        <div class=" w-100">
            <p class="row mb-0 ">
                {{#if Article.Button1Text}}
                <a href="{{Article.Button1Link}}" @click="CtaClick(1)" class="col button button-fill button-large color-pink external">
                    {{Article.Button1Text}}
                </a>
                {{/if}}
                {{#if Article.Button2Text}}
                <a href="{{Article.Button2Link}}" @click="CtaClick(2)" class="col button button-fill button-large color-pink external">
                    {{Article.Button2Text}}
                </a>
                {{/if}}
            </p>
        </div>
    </div>
</div>
{{/js_if}}
<div class="page-content bg-white">
    <div class="pron-container balance bg-white">
        {{#js_if "this.Article.Avatar != 'https://static.mservice.io/default/s/no-image.png'"}}
        <div class="pron-row balance">
            <div class="">
                <img src="{{Article.Avatar}}" class="img-fluid" alt="">
            </div>
        </div>
        {{/js_if}}
        {{#if Article.Content}}
        {{#if Article.IsViewMoreContent}}
        <div class="sale-cluster">
            <div class="js-sale-more">
                <div class="sale-cluster-content  noti-content">
                    {{Article.Content}}
                </div>
                <div class="js-sale-more-btn">+ XEM THÊM</div>
            </div>

        </div>
        {{else}}
        <div class="sale-cluster">
            <div class="sale-cluster-content  noti-content">
                {{Article.Content}}
            </div>
        </div>
        {{/if}}

        {{/if}}
        {{#if Article.TermsConditionsContent}}
        {{#if Article.IsViewMoreTermsConditionsContent}}
        <div class="sale-cluster">
            <div class="js-sale-more">
                <div class="sale-cluster-content  noti-content">
                    {{Article.TermsConditionsContent}}
                </div>
                <div class="js-sale-more-btn">+ XEM THÊM</div>
            </div>
        </div>
        {{else}}
        <div class="sale-cluster">
            <div class="sale-cluster-content  noti-content">
                {{Article.TermsConditionsContent}}
            </div>
        </div>
        {{/if}}
        {{/if}}

        {{#js_if "this.ListImage.length > 0"}}
        <div class="noti-gallery">
            <div class="swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper">
                    {{#each ListImage}}
                    <div class="swiper-slide">
                        <div class="simple-slide js-noti-gallery" data-thumb="{{js "@index + 1"}}">
                            <div class="img-wrapper">
                                <img src="{{this.AvatarUrl}}"
                                     alt="2">
                            </div>
                            <div class="image-caption">{{this.Description}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/js_if}}
    </div>
</div>
