{{#js_if "this.Article.Button1Text || this.Article.Button2Text"}}
<div class="toolbar toolbar-bottom toolbar-large">
    <div class="toolbar-inner">
        <div class=" w-100">
            <p class="row mb-0 ">
                {{#if Article.Button1Text}}
                <a href="{{Article.Button1Link}}" @click="CtaClick(1)" class="col button button-fill button-large color-pink external">
                    {{Article.Button1Text}}
                </a>
                {{/if}}
                {{#if Article.Button2Text}}
                <a href="{{Article.Button2Link}}" @click="CtaClick(2)" class="col button button-fill button-large color-pink external">
                    {{Article.Button2Text}}
                </a>
                {{/if}}
            </p>
        </div>
    </div>
</div>
{{/js_if}}
<div class="page-content  bg-white">
    <div class="pron-container balance bg-white">
        {{#if Article.IsShowTitle}}
        <div class="sale-header">
            <h1 class="sale-title mt-0 mb-2">
                {{Article.Title}}
            </h1>
            <div class="sale-time">
                {{Article.ShortContent}}
            </div>
        </div>
        {{/if}}
        {{#js_if "this.Article.Avatar != 'https://static.mservice.io/default/s/no-image.png'"}}
        <div class="pron-row balance">
            <div class="embed-responsive embed-responsive-sale">
                <img src="{{Article.Avatar}}" class="embed-responsive-img" alt="">
            </div>
        </div>
        {{/js_if}}
        {{#js_if "this.Article.MerchantLogo != 'https://static.mservice.io/default/s/no-image.png'"}}
        <div class="sale-avatar-container">
            <div class="sale-avatar">
                <img src="{{Article.MerchantLogo}}" alt="">
            </div>
        </div>
        {{/js_if}}
        {{#js_if "this.Article.PromotionCode"}}
        <div class="sale-code">
            <div class="sale-code-item">
                <div class="code">
                    {{Article.PromotionCode}}
                </div>
                <div class="copy copy-button">
                    <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7368 0H2.10526C0.947368 0 0 0.981818 0 2.18182V17.4545H2.10526V2.18182H14.7368V0ZM17.8947 4.36364H6.31579C5.1579 4.36364 4.21053 5.34545 4.21053 6.54545V21.8182C4.21053 23.0182 5.1579 24 6.31579 24H17.8947C19.0526 24 20 23.0182 20 21.8182V6.54545C20 5.34545 19.0526 4.36364 17.8947 4.36364ZM17.8947 21.8182H6.31579V6.54545H17.8947V21.8182Z"
                              fill="#7C054F" />
                    </svg>
                    <div class="copy-popover">
                        <img src="https://static.mservice.io/pwa/images/sale/checked.svg" class="copy-popover-img" width="18" alt=""> Sao chép mã thành công
                    </div>
                </div>
            </div>
        </div>
        {{/js_if}}
        {{#if Article.Content}}
        {{#if Article.IsViewMoreContent}}
        <div class="sale-cluster">
            <div class="js-sale-more">
                <div class="sale-cluster-content  noti-content">
                    {{Article.Content}}
                </div>
                <div class="js-sale-more-btn">+ XEM THÊM</div>
            </div>

        </div>
        {{else}}
        <div class="sale-cluster">
            <div class="sale-cluster-content  noti-content">
                {{Article.Content}}
            </div>
        </div>
        {{/if}}

        {{/if}}
        {{#if Article.TermsConditionsContent}}
        {{#if Article.IsViewMoreTermsConditionsContent}}
        <div class="sale-cluster">
            <div class="js-sale-more">
                <div class="sale-cluster-content  noti-content">
                    {{Article.TermsConditionsContent}}
                </div>
                <div class="js-sale-more-btn">+ XEM THÊM</div>
            </div>
        </div>
        {{else}}
        <div class="sale-cluster">
            <div class="sale-cluster-content  noti-content">
                {{Article.TermsConditionsContent}}
            </div>
        </div>
        {{/if}}
        {{/if}}

        {{#js_if "this.ListImage.length > 0"}}
        <div class="noti-gallery">
            <div class="swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper">
                    {{#each ListImage}}
                    <div class="swiper-slide">
                        <div class="simple-slide js-noti-gallery" data-thumb="{{js "@index + 1"}}">
                            <div class="img-wrapper">
                                <img src="{{this.AvatarUrl}}"
                                     alt="2">
                            </div>
                            <div class="image-caption">{{this.Description}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/js_if}}
    </div>
</div>
